/*title bar starts*/
.title-bar {
	background-color: rgb(243, 243, 243);
}
.title-bar .left-title-text,
.title-bar .right-title-text {
	display: flex;
	justify-content: center;
}
.title-bar .left-title-text {
	padding: 1rem 0.16rem 0.5rem 1rem;
}
.title-bar .right-title-text {
	padding: .5rem 0.16rem 1rem 1rem;
}
.title-bar .right-title-text a {
	color: black;
}
.title-bar .left-title-text h3 {
	margin: 0;
	font-size: 1.5rem;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}
.title-bar .breadcrumb {
	display: flex;
	align-items: center;
	height: 2rem;
}
.breadcrumb-item.active {
	color: var(--clr-orange);
}
.title-bar .breadcrumb-item+.breadcrumb-item::before {
  padding-left: .5rem;
  padding-right: .5rem;
  color: #6c757d;
  content: '/';
}
/*title bar ends*/
/*brose place starts*/
.browse-places {
	padding: 5rem 0; 
}
.browse-places .row {
	display: flex;
	justify-content: center;
}
.browse-places .heading h2 {
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--clr-black);
	text-align: center;
}
.browse-places .text p {
	font-size: 0.875rem; 
	color: var(--clr-text);
	text-align: center;
	padding-top: 2rem;
}
.browse-places .work-item {
	display: flex;
	padding-top: 2.5rem;
}
.browse-places .work-img {
	height: 4.375rem;
	padding: 1rem;
	margin-right: 1.875rem;
	border: 1px solid var(--clr-border);
}
.browse-places .work-img img:hover {
	animation: circular 1s linear forwards;
}
@keyframes circular {
	100% {
		transform: rotate3d(0,1,0,360deg);
	}
}
.browse-places .work-img a {
	display: block;
}
.browse-places .work-item img {
	height: 2.25rem;
	width: 2.25rem;
}
.browse-places .work-text h4 {
	color: var(--clr-black);
	font-size: 1.125rem;
	transition: 0.3s ease;
}
.browse-places .work-text h4:hover {
	color: var(--clr-orange);
}
.browse-places .work-text p {
	font-size: 0.875rem;
	color: var(--clr-text);
	margin-top: 0.75rem;
}
/*brose place ends*/
*---------------------------------------------------------------------------------*/
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	
}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	/*title bar starts*/
	.title-bar .left-title-text,
	.title-bar .right-title-text {
		padding: 1.5rem 0.16rem 1.5rem 0;
	}
	.title-bar .left-title-text {
		justify-content: flex-start;
	}
	.title-bar .right-title-text {
		justify-content: flex-end;
	}
	/*title bar ends*/
}
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}
/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
	.container .row {
		padding: 0 2rem;
	}
}
