* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
*::selection {
	background: rgba(255,255,255,.3);
	color: black;
}
a {
	text-decoration: none;
}
/*common starts*/
.my-btn {
	text-decoration: none;
	color: #ffffff;
	background: rgba(255, 168, 3);
	padding: .65rem 1.5rem;
	transition: transform 0.3s ease;
}
.my-btn:focus {
	box-shadow: none;
}
.my-btn:hover {
	background: #e38802;
	color: #fff;
}
/*common ends*/
/*Loading starts*/
.loading {
	position: fixed;
	z-index: 99;
	background: rgba(23, 21, 25,.9);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loading img {
	width: 6rem;
}
.loading .loading-items {
	position: relative;
}
.loading .loading-item {
	position: absolute;
	right: 0;
	left: 0;
	transform: translateX(-50%);
}
.loading .animation-loading-1,
.loading .animation-loading-2,
.loading .animation-loading-3,
.loading .animation-loading-4 {
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}
.loading .animation-loading-1 {
	animation-name: loading-name-one;
}
.loading .animation-loading-2 {
	animation-name: loading-name-two;
}
.loading .animation-loading-3 {
	animation-name: loading-name-three;
}
.loading .animation-loading-4 {
	animation-name: loading-name-four;
}
@keyframes loading-name-one {
	0% {
		top: 0rem;
	}
	50% {
		top: -52rem;
	}
	100% {
		top: 0rem;
	}
}
@keyframes loading-name-two {
	0% {
		left: 0rem;
	}
	50% {
		left: 52rem;
	}
	100% {
		left: 0rem;
	}
}
@keyframes loading-name-three {
	0% {
		top: 0rem;
	}
	50% {
		top: 52rem;
	}
	100% {
		top: 0rem;
	}
}
@keyframes loading-name-four {
	0% {
		left: 0rem;
	}
	50% {
		left: -52rem;
	}
	100% {
		left: 0rem;
	}
}

/*Loading ends*/
/*topbar starts*/
.topbar {
	font-size: 0.813rem;
	padding: .75rem 0;
	background: rgb(243, 243, 243);
}
.topbar a {
	color: #AAAAAA;
}
.topbar a:hover {
	color: black;
}
.topbar-left > div, .topbar-right > div {
	padding: .1rem 0;
}
.topbar-left {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 0.5rem;
}
.topbar-right {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.menu .container {
	position: relative;
}
.menu .btn-hidden {
	box-shadow: none !important;
	padding: 0 !important;
	font-size: inherit;
	margin-right: 1.25rem;
}
.menu .btn-hidden:focus {
	border: 0.125rem solid orange;
}
.menu .navbar-brand {
	padding-top: 0px !important;
}
.menu .section-hidden {
	padding-left: 0rem;
	font-size: 90%;
}
.menu .btn-search {
	margin-right: 1rem !important;
}
.menu .active {
	color: orange !important;
}
.menu .navbar-nav .nav-item a:hover {
	color: orange;
}
.menu .menu-sab {
	color: grey;
}
.menu .menu-sab:focus {
	color: orange;
}
.menu .logo {
	padding-left: 0px;
}
/*menu starts*/
.menu .btn-become-partner {
	text-decoration: none;
	color: #ffffff;
	background: rgb(255, 168, 3);
	padding: .2rem 1.3rem;
	font-size: 90%;
	border: none;
	margin-right: 0.16rem;
	transition: transform 0.3s ease;
}
.menu .btn-become-partner:hover {
	background-color: #e38802;
}
.menu .btn-hidden {
	margin-right: 0.1rem !important;
}
.menu .btn-become-partner,
.menu .nofication,
.menu .search-menu,
.menu .btn-hidden {
	margin-left: 1rem;
}
.menu .menu-sab:last-child {
	position: relative;
}
.menu .menu-sab:last-child form {
	position: absolute;
	right: 100%;
	top: 200%;
	display: flex;
	visibility: hidden;
	transition: transform 1s ease;
	transform: scaleX(0);
	transform-origin: top left;
	z-index: 9999999;
}
.menu .menu-sab:last-child form.active {
	transform: scaleX(1);
	transform-origin: top right;
	visibility: visible;
}
.menu .hidden-menu,
.menu .search-menu {
	width: 15px;
	height: 16px;
}
.menu .hidden-menu {
	display: none;
	margin-left: 1rem;
}
.menu form #search-food {
	padding: .5rem 1rem;
	outline: none;
	border-radius: 0.5rem 0 0 0.5rem;
	border: 1px solid rgba(0,0,0,0.2);
}
.menu form #search-food:focus {
	border: 1px solid rgb(255, 168, 3);
}
.menu form .btn-sb-food {
	padding: .5rem 1rem;
	border-radius: 0 0.5rem 0.5rem 0;
	outline: none;
	background-color: rgb(255, 168, 3);
	transition: all 0.3s ease;
}
.menu .btn-sb-food i {
	color: white;
}
.menu form .btn-sb-food:hover {
	background-color: #e38802;
}
/*menu ends*/
/*topbar ends*/
/*review starts*/
.block-review .cover-banner {
	background-image: url('../images/banner.jpg');
	height: 24.063rem;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.block-review .container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.block-review .form-box {
	padding: 5.75rem 1.5rem 5.813rem;
	background: rgb(255 255 255 / 10%);
}
.block-review .form-box .input-group {
	margin-bottom: 2rem;
}
.block-review .form-box .input-group:focus-within {
	box-shadow: 0 0 0 0.15rem rgba(255,165,0, 1);
	border-radius: 0.188rem;
	outline: none;
}
.block-review .form-box .input-group-text,
.order-online .input-group-text {
	background: white;
	border-color: orange;
	border-right: none !important;
	border-radius: 0.188rem;
}
.block-review .form-box .form-control,
.order-online .form-control,
.pocket-block-preview .form-control,
.footer .form-control {
	padding: .75rem .5rem;
	border-radius: 0 0.188rem 0.188rem 0 !important;
	font-size: 0.813rem;
	border: 0.063rem solid orange;
	border-left: none;
}
.block-review .form-box .form-control:focus,
.order-online .form-control:focus,
.pocket-block-preview .form-control:focus,
.footer .form-control:focus {
	box-shadow: none;
}
.block-review .btn-search-in-review {
	text-decoration: none;
	color: #ffffff;
	background: rgba(255,165,0,1);
	padding: .65rem 1.5rem;
}
.block-review .btn-search-in-review:focus {
	box-shadow: none;
}
.block-review .btn-search-in-review:hover {
	background: rgba(255,165,0,.85);
}
/*review ends*/
/*browse places starts*/
.browse-places {
	padding: 1.785rem;
	background: rgb(243,243,243);
}
.browse-places .browse-header h6 {
	font-size: 1.5rem;
}
.browse-places .places,
.quick-searches .places {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	flex-grow: 1;
	flex-basis: 50%;
}
.browse-places .places .places-icon {
	padding-bottom: .3rem;
}
.browse-places .places .places-icon:hover,
.quick-searches .places .places-icon:hover,
.step-working .img-item img:hover {
	-webkit-animation: circular .7s linear forwards;
	animation: circular .7s linear forwards;
}
@keyframes circular {
	100% {
		transform: rotate3d(0,1,0,360deg);
	}
}
.browse-places .places .places-text,
.quick-searches .places .places-text {
	color: gray;
	font-size: 0.875rem;
}
.browse-places .places .places-text:hover,
.quick-searches .places .places-text:hover {
	color: orange;
}
.browse-places .splide__arrows,
.browse-places .splide__pagination,
.list-restaurants .splide__pagination,
.quick-searches .splide__arrows,
.quick-searches .splide__pagination {
	display: none;
}
/*browse places ends*/
/*step working starts*/
.step-working {
	padding: 3.125rem 0 4.375rem;
}
.step-working .working-item {
	display: flex;
	flex-direction: row;
	padding-top: 1.785rem;
	/*flex-wrap: wrap;*/
}
.step-working .img-item {
	margin-right: 1.785rem;
	height: 4.375rem;
	box-sizing: border-box;
	border: 0.063rem solid rgba(0,0,0,.2);
	text-align: center;
	flex-basis: 8.75rem;
}
.step-working .img-item img {
	height: 3.125rem;
	padding-top: 1rem;
}
.step-working .content-heading-item {
	font-size: 1.125rem;
}
.step-working .content-item p {
	margin-top: 1.125rem;
	color: rgba(0,0,0,0.5);
}
/*step working ends*/
/*restaurants starts*/
.restaurant .row-restaurant {
	padding: 0 1rem;
}
.restaurant .heading h1 {
	font-size: 1.5rem;
	text-align: cente r;
	font-weight: bold;
}
.list-restaurants {
	border: 0.063rem solid rgba(0,0,0,.2);
	margin-bottom: 2rem;
	padding: 1rem 2rem;
	margin-top: 2.5rem;
}
.list-restaurants .splide__slide a {
	display: flex;
	justify-content: center;
}
.list-restaurants .splide__slide img {
	filter: grayscale(100%);
}
.list-restaurants .splide__slide img:hover {
	filter: grayscale(0%);
}
.list-restaurants .splide__arrow--prev {
	left: -3em;
}
.list-restaurants .splide__arrow--next {
	right: -3em;
}
/*restaurants ends*/
/*order food online starts*/
.order-online {
	padding-top: 4.5rem;
	text-align: center;
}
.order-online .heading h2 {
	font-size: 1.5rem;
}
.order-online .your-location {
	font-size: 0.875rem;
	margin-top: 1.5rem;
}
.order-online .your-location p {
	color: #847577;
	margin-bottom: 0;
}
.order-online .your-location span {
	color: orange;
	margin-right: 0.625rem;
	cursor: pointer;
}
.order-online .search-location {
	padding: 1.875rem 0.9375rem 1.25rem;
}
.order-online .input-search-location,
.pocket-block-preview .input-sent,
.footer .input-subcribe {
	border: 0.063rem solid orange;
	border-right: 0px;
	border-radius: 0.188rem 0 0 0.188rem !important;
	padding-left: 1.5rem;
}
.order-online .search-location .input-group:focus-within,
.pocket-block-preview .search-form .input-group:focus-within,
.footer .subcribe-form .input-group:focus-within {
	box-shadow: 0 0 0 0.063rem rgba(255,165,0, 1);
	border-radius: 0.188rem;
	outline: none;
}
.order-online .search-location button,
.pocket-block-preview .search-form button,
.footer .subcribe-form button {
	border: 0.063rem solid orange;
	border-left: 0;
	background: rgb(255, 168, 3);
	color: #fff;
	text-decoration: none;
	box-shadow: none;
	transition: transform 0.3s ease;
}
.order-online .search-location button:hover,
.pocket-block-preview .search-form button:hover,
.footer .subcribe-form button:hover {
	background-color: #e38802;
}
/*all meals in order food online starts */
.order-online .meal-item {
	padding: 0 1rem;
	margin-top: 2rem;
}
.order-online .card-img-top img {
	width: 100%;
}
.order-online .card-img-top .theme {
	height: 100%;
	width: 100%;
	background: linear-gradient(transparent, black 90%);
	opacity: .5;
	position: absolute;
	top: 0;
	left: 0;
}
.order-online .card-img-top .theme:hover {
	opacity: 0;
}
.order-online .top-text {
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: -2rem;
	width: 100%;
	padding: 0 1.5rem;
}
.order-online .top-text .text {
	width: 50.2%;
}
.order-online .logo-img img {
	width: 4rem;
	border: 0.063rem solid #fff;
	border-radius: .5rem;
	margin-right: .5rem;
}
.order-online .heading h4 {
	font-size: 1.4rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #fff;
	width: 100%;
}
.order-online .sub-heading {
	padding-top: .1rem;
}
.order-online h5 > a {
	font-size: 1rem;
}
.order-online .top-text p {
	color: orange;
	align-self: flex-end;
	margin-bottom: 0.4rem;
	font-size: 0.875rem;
	font-weight: bold;
}
.order-online .bottom-text {
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0 1.5rem;
	color: rgba(0,0,0,.6);
}
.order-online .delivery {
	margin-top: .3rem;
}
.order-online .delivery i, 
.order-online .time i {
	width: 1rem;
	margin-right: 0.125rem;
}
.order-online .feed-back {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	padding-top: 0.6rem;
	margin-bottom: 1rem;
}
.order-online .feed-back .stars {
	color: #ffa803;
}
.order-online .feed-back span {
	background: #ffa803;
	color: #fff;
	font-size: 0.75rem;
	padding: 0.1rem 0.5rem;
	border-radius: 42%;
}
.order-online .commnents a {
	 color: rgba(0,0,0,.6);
	 font-size: 0.875rem;
	 font-weight: bold;
}
.order-online .commnents a:hover {
	color: orange;
}
.order-online .commnents a i {
	font-size: 1rem;
	margin-right: 0.125rem;
}
.order-online .meal-btn,
.explore-recipes .recipe-btn {
	margin-top: 4rem;
}
/*all meals in order food online ends */
/*order food online ends*/
/*offer bannar starts*/
.offer-banner {
	margin: 3rem 0 4rem;
	color: #fff;
}
.offer-banner .banner {
	position: relative;
	margin-top: 2rem;
	padding: 1.25rem;
}
.offer-banner .ads-banner-1 {
	background-image: url(../images/banner-1.jpg);
}
.offer-banner .ads-banner-2 {
	background-image: url(../images/banner-2.jpg);
}
.offer-banner .ads-banner-1,
.offer-banner .ads-banner-2 {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.offer-banner .banner-text h2 {
	font-size: 1.5rem;
}
.offer-banner .banner-text p {
	font-size: 0.875rem;
}
.offer-banner .banner-btn a {
	font-size: 0.75rem;
	padding: 0.5rem 1rem;
}
.offer-banner .long-arrow i {
	color: orange;
}
/*offer bannar ends*/
/*quick searches starts*/
.quick-searches {
	margin-bottom: 2rem;
}
.quick-searches .col-12 {
	text-align: center;
}
.quick-searches .sub-heading {
	margin: 1rem 0 3rem;
}
.quick-searches .list-meal {
	padding: 1.8rem 0 1.5rem;
	border: 0.063rem solid rgba(0,0,0,.4);
}
.quick-searches .places-icon img {
	height: 1.875rem !important;
}
/*quick searches ends*/
/*featured restaurants starts*/
.featured-restaurants .row-features > div {
	margin-top: 3rem;
}
.featured-restaurants .heading h2 {
	font-size: 1.4rem;
	font-weight: bold;
	text-align: center;
}
.featured-restaurants .list-features,
.featured-restaurants .list-treading {
	margin-top: 3rem;
}
.featured-restaurants .feature-item,
.featured-restaurants .treading-item {
	padding: 1rem;
	border: 0.063rem solid rgba(0,0,0,.1);
	border-bottom: 0;
}
.featured-restaurants .feature-item:last-child,
.featured-restaurants .treading-item:last-child {
	border-bottom: 0.063rem solid rgba(0,0,0,.1);
}
.featured-restaurants .img-item {
	display: flex;
}
.featured-restaurants .info-img h4 {
	font-size: 1rem;
	margin-bottom: 0.25rem;
}
.featured-restaurants .info-img p {
	font-size: 0.875rem;
	margin-bottom: 0;
	color: rgba(0,0,0,.6);
}
.featured-restaurants .location-item {
	padding: 0.5rem 0 1rem;
	text-align: left;
}
.featured-restaurants .location-item .icon {
	color: orange;
	font-weight: bold;
	margin-right: 0.2rem;
}
.featured-restaurants .location-item .text {
	font-size: 0.875rem;
	color: rgba(0,0,0,.6);
}
.featured-restaurants .img-item, 
.featured-restaurants .btn-item {
	display: flex;
	justify-content: center;
}
.featured-restaurants .list-treading .img-item {
	justify-content: unset;
}
.featured-restaurants .list-features .my-btn {
	width: 60%;
}
.featured-restaurants .img-item .info-img {
	margin-left: .5rem;
}
.featured-restaurants .img-item .info-img h4,
.featured-restaurants .img-item .info-img p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.featured-restaurants .my-btn {
	font-size: 0.875rem;
	border-radius: 0;
}
/*featured restaurants ends*/
/*explore recipes starts*/
.explore-recipes {
	margin-top: 5rem;
	box-sizing: border-box;
}
.explore-recipes h2 {
	font-size: 1.5rem;
	text-align: center;
}
.explore-recipes .recipe-item {
	position: relative;
	margin-top: 2rem;
}
.explore-recipes .recipe-item img {
	width: 100%;
}
.explore-recipes .overlay {
	color: #fff;
	background: rgba(0,0,0,.6);
	opacity: 0.7;
	position: absolute;
	z-index: 1;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	padding: 6.25% 0;
	text-align: center;
}
.explore-recipes .recipe-item:hover .overlay {
	opacity: 0.9;
}
.explore-recipes .overlay h6 {
	font-size: 1.125rem;
}
.explore-recipes .overlay p {
	font-size: 0.75rem;
	margin-bottom: 0;
}
/*explore recipes ends*/
/*pocket block preview starts*/
.pocket-block-preview {
	margin-top: 6rem;
	background-image: url(../images/bottom-banner.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}
.pocket-block-preview .pocket-left {
	padding-top: 6.25rem;
}
.pocket-block-preview .pocket-left h2 {
	font-size: 1.5rem;
	margin-bottom: 0;
}
.pocket-block-preview .pocket-left .line {
	padding: 1.125rem 0;
}
.pocket-block-preview .pocket-left p,
.pocket-block-preview .pocket-left .search-form {
	padding-top: 1.75rem;
	margin-bottom: 0;
}
.pocket-block-preview .pocket-left .search-form {
	width: 80%;
}
.pocket-block-preview .search-form .input-group:focus-within {
	box-shadow: 0 0 0 0.063rem #000;
}
.pocket-block-preview .input-sent {
	border: 0.063rem solid #000;
}
.pocket-block-preview .search-form .btn {
	padding: 0.9rem 1.25rem;
	font-size: 0.875rem;
	background: #000;
	border: 0.063rem solid #000;
}
.pocket-block-preview .download-btns {
	padding: 3.125rem 0;
}
.pocket-block-preview .download-btns a {
	padding-right: 0.625rem;
	width: 90%;
}
.pocket-block-preview .pocket-right {
	padding-top: 5rem;
}
/*pocket block preview ends*/
/*footer starts */
.footer {
	background: #000;
	color: #fff;
}
.footer .subscribe-now {
	border-bottom: 0.063rem solid rgba(255,255,255,.2);
}
.footer .subscribe-newletter {
	padding: 1.785rem 0;
}
.footer .sub-text {
	padding-bottom: 1rem;
	font-size: 0.875rem;
}
.footer .language {
	background: #1e1e1e;
	border: 0.063rem solid #2c2c2c;
	border-radius: 0.188rem;
	margin-bottom: 2rem;
}
.footer .language a,
.footer .link-title a,
.footer .privacy-terms a {
	font-size: 0.875rem;
	color: #fff;
}
.footer .language i {
	padding-right: 0.3rem;
}
.footer .language ul {
	top: 0.5rem !important;
	border-radius: 0 !important;
}
.footer .language ul li a {
	color: #847577;
}
.footer .footer-main .img-logo {
	padding: 3.125rem 0 1.375rem;
}
.footer .footer-main p {
	font-size: 0.875rem;
}
.footer .link-title {
	padding: 3.5rem 0 0rem;
}
.footer .link-title h4 {
	font-size: 1.125rem;
	padding-bottom: 1.125rem;
	margin-bottom: 0;
}
.footer .link-title ul,
.footer .privacy-terms ul {
	padding: unset;
	list-style-type: none;
	margin-bottom: 0;
}
.footer .link-title ul a:hover {
	color: orange;
}
.footer .social-btns {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
	width: 60%;
}
.footer .social-btn {
	padding: 0.5rem;
	border-radius: 50%;
	background: rgb(23, 24, 25);
	width: 2.5rem;
	height: 2.5rem;
	text-align: center;
	line-height: 1.5rem;
	transition: all 0.3s ease;
}
.footer .social-btn:hover {
	background: rgb(202, 132, 0);
}
.footer .privacy-cards {
	padding: 1rem 0;
	border-top: 0.063rem solid rgba(255,255,255,.2);
	border-bottom: 0.063rem solid rgba(255,255,255,.2);
	margin-top: 2.5rem;
}
.footer .privacy-cards .row-cards div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer .privacy-cards .row-cards div:first-child {
	padding-bottom: 0.5rem;
}
.footer .privacy-terms ul {
	display: flex;
}
.footer .privacy-terms li {
	padding-right: 1rem;
}
.footer .privacy-terms li:last-child {
	padding-right: 0;
}
.footer .copyright-text {
	text-align: center;
	font-size: 0.875rem;
	color: rgb(168 160 149);
	padding: 1.875rem 0;
}
/*footer ends */
/*---------------------------------------------------------------------------------*/
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	/*topbar starts*/
	.topbar .topbar-right-child {
		display: flex;
		justify-content: space-around;
		flex-grow: 1;
	}
	/*topbar ends*/
	/*review starts*/
	.block-review .left-review {
		color: #ffffff;
		padding: 6.313rem 0px 5.813rem;
	}
	.block-review .left-review .title {
		font-size: 139%;
		margin-bottom: 1.4rem;
	}
	.block-review .left-review .exception {
		font-size: 105%;
	}
	.block-review .left-review .time-services {
		margin-bottom: 1.5rem;
	}
	.block-review .right-review {
		padding: 0 1rem 0 0;
	}
	/*review ends*/
	/*list restaurant starts*/
	.list-restaurants .splide__slide img {
		width: 90%;
	}
	/*list restaurant ends*/
	/*order online starts */
	.order-online .row-meal,
	.offer-banner .row {
		padding: 0 4rem;
	}
	/*order online ends */
}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	/*menu starts*/
	.menu .logo {
		padding-left: 1rem !important;
	}
	.menu .section-hidden {
		padding-left: 1rem !important;
	}
	/*menu ends*/
	/*review starts*/
	.block-review .left-review {
		padding: 6.063rem 1.25rem 5.813rem;
	}
	.block-review .left-review .title {
		font-size: 142%;
		margin-bottom: 1.5rem;
	}
	.block-review .left-review .exception {
		font-size: 115%;
	}
	.block-review .right-review {
		padding: 0 1rem;
	}
	/*review ends*/
	/*places starts*/
	.browse-places .places {
		flex-basis: 25%;
	}
	/*places ends*/
	/*step woking starts*/
	.step-working .working-item {
		flex-wrap: wrap;
		position: relative;
	}
	.step-working .working-item .img-item {
		margin-right: 0;
		position: absolute;
		top: 0;
		right: 0;
		width: 3rem;
		height: 3rem;
	}
	.step-working .img-item img {
		height: 2.5rem;
		padding-top: 0.5rem;
	}
	/*step woking end*/
	/*restaurant starts*/
	.restaurant .row-restaurant {
		padding: unset;
	}
	.list-restaurants .splide__slide img {
		width: unset;
	}
	/*restaurant ends*/
	/*order online starts */
	.order-online .row-meal,
	.offer-banner .row,
	.featured-restaurants .row-features {
		padding: 0;
	}
	.order-online .heading h4 {
		font-size: 1.125rem;
	}
	.order-online h5 > a {
		font-size: 0.875rem;
	}
	.order-online .top-text p {
		font-size: 0.875rem;
	}
	.order-online .sub-heading {
		padding-top: .25rem;
	}
	/*order online ends */
	/*featured restaurants starts*/
	.featured-restaurants .img-item {
		justify-content: unset;
	}
	.featured-restaurants .btn-item {
		justify-content: flex-end;
		align-items: center;
		height: 100%;
	}
	.featured-restaurants .list-features .my-btn {
		width: unset;
	}
	/*featured restaurants ends*/
	/*footer starts*/
	.footer .language {
		margin-bottom: 0;
	}
	.footer .privacy-cards .row-cards div:first-child {
		padding-bottom: 0;
		justify-content: flex-start;
	}
	.footer .privacy-cards .row-cards div:last-child {
		justify-content: flex-end;
	}
	/*footer ends*/
}
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	/*menu starts*/
	.topbar-left {
		margin-bottom: 0 !important;
	}
	.topbar-right {
		justify-content: flex-end !important;
	}
	.topbar-right .topbar-right-child > div {
		margin-left: 1.25rem !important;
	}
	.topbar .topbar-right-child {
		flex-grow: initial;
	}
	.menu .section-hidden {
		padding-left: 0 !important;
		width: initial;
	}
	.menu .container {
		flex-direction: row-reverse;
		justify-content: flex-start !important;
	}
	.menu .logo {
		position: absolute;
		left: 1.25rem;
	}
	/*menu ends*/
	/*review starts*/
	.block-review .left-review {
		padding-top: 5.625rem;
	}
	.block-review .left-review .title {
		font-size: 250%;
		margin-bottom: 1.9rem;
	}
	/*review ends*/
	/*places starts*/
	.browse-places .places {
		flex-basis: inherit;
	}
	/*places ends*/
	/*features restaurants starts*/
	.featured-restaurants .my-btn span {
		display: none;
	}
	.featured-restaurants .img-item .info-img {
		width: 100%;
	}
	/*features restaurants ends*/
	/*footer starts*/
	/*footer starts*/
	.footer .social-btns {
		width: unset;
	}
	/*footer ends*/
}
/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	/*menu starts*/
	.menu .collapse .nav-link {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	/*menu ends*/
	/*review starts*/
	.block-review .left-review {
	padding: 5rem 1.25rem 5.813rem;
	}
	.block-review .left-review .title {
		font-size: 300%;
		margin-bottom: 2rem;
	}
	/*review ends*/
	/*features restaurants starts*/
	.featured-restaurants .my-btn span {
		display: unset;
	}
	/*features restaurants ends*/
}
/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
	/*step woking starts*/
	.step-working .working-item {
		flex-wrap: nowrap;
	}
	.step-working .working-item .img-item {
		position: initial;
		margin-right: 1.785rem;
		width: 9.57rem;
		height: 4.385rem;
	}
	.step-working .img-item img {
		height: 3.125rem;
		padding-top: 1rem;
	}
	/*step woking end*/
	.order-online .row-meal,
	.offer-banner .row,
	.featured-restaurants .row-features,
	.explore-recipes .row-recipes,
	.pocket-block-preview .row-pocket,
	.footer .row-subcribe,
	.footer .row-main,
	.footer .row-cards {
		padding: 0 4rem;
	}
}

@media (max-width: 375px) {
	.list-treading .my-btn span {
		display: none;
	}
	.footer .social-btns {
		width: 100%;
	}
}
