/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	/*menu starts*/
	.menu .btn-become-partner {
		text-decoration: none;
		color: #ffffff;
		background: rgba(255,165,0,1);
		padding: .2rem 1.3rem;
		font-size: 90%;
		border: none;
	}
	.menu .btn-hidden {
		margin-right: 0.3rem !important;
	}
	.menu .btn-become-partner,
	.menu .nofication,
	.menu .search-menu,
	.menu .btn-hidden {
		margin-left: 1rem;
	}
	/*menu ends*/
	/*review starts*/
	.block-review .left-review {
	color: #ffffff;
	padding: 101px 0px 93px;
	}
	.block-review .left-review .title {
		font-size: 139%;
		margin-bottom: 1.4rem;
	}
	.block-review .left-review .exception {
		font-size: 105%;
	}
	.block-review .left-review .time-services {
		margin-bottom: 1.5rem;
	}
	.block-review .right-review {
		padding: 0 1rem 0 0;
	}
	/*review ends*/
}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	/*review starts*/
	.block-review .left-review {
	padding: 97px 20px 93px;
	}
	.block-review .left-review .title {
		font-size: 142%;
		margin-bottom: 1.5rem;
	}
	.block-review .left-review .exception {
		font-size: 115%;
	}
	.block-review .right-review {
		padding: 0 1rem;
	}
	/*review ends*/
}
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	/*review starts*/
	.block-review .left-review {
		padding-top: 90px;
	}
	.block-review .left-review .title {
		font-size: 250%;
		margin-bottom: 1.9rem;
	}
	/*review ends*/
}
/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	/*review starts*/
	.block-review .left-review {
	padding: 80px 20px 93px;
	}
	.block-review .left-review .title {
		font-size: 300%;
		margin-bottom: 2rem;
	}
	/*review ends*/
}
/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { ... }
* {
	padding: 0;
	margin: 0;
	border: 0;
}
a {
	text-decoration: none;
}
/*topbar starts*/
.topbar {
	font-size: 12px;
	padding: .75rem 0;
	background: rgb(243, 243, 243);
}
.topbar a {
	color: #AAAAAA;
}
.topbar a:hover {
	color: black;
}
.topbar-left > div, .topbar-right > div {
	padding: .1rem 0;
}
.menu .navbar-brand {
	padding-left: 1rem !important;
}
.menu .btn-hidden {
	box-shadow: none !important;
	padding: 0 !important;
	font-size: inherit;
	margin-right: 1.25rem;
}
.menu .btn-hidden:focus {
	border: 2px solid orange;
}
.menu .navbar-brand {
		padding-top: 0px !important;
}
.menu .section-hidden {
	padding-left: 1rem !important;
}
.menu .btn-search {
	margin-right: 1rem !important;
}
.menu .active {
	color: orange !important;
}
.menu .navbar-nav .nav-item a:hover {
	color: orange;
}
/*topbar ends*/
/*review starts*/
.block-review .cover-banner {
	background-image: url('../images/banner.jpg');
	height: 385px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.block-review .container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.block-review .form-box {
	padding: 92px 20px 93px;
	background: rgb(255 255 255 / 10%);
}
.block-review .form-box .input-group {
	margin-bottom: 2rem;
}
.block-review .form-box .input-group:focus-within {
	box-shadow: 0 0 0 0.15rem rgba(255,165,0, 1);
	border-radius: 3px;
	outline: none;
}
.block-review .form-box .input-group-text {
	background: white;
	border-color: orange;
	border-right: none !important;
	border-radius: 3px;
}
.block-review .form-box .form-control {
	padding: .75rem .5rem;
	border-radius: 0 3px 3px 0 !important;
	font-size: 13px;
	border: 1px solid orange;
	border-left: none;
}
.block-review .form-box .form-control:focus {
	box-shadow: none;
}
.block-review .btn-search-in-review {
	text-decoration: none;
	color: #ffffff;
	background: rgba(255,165,0,1);
	padding: .65rem 1.5rem;
}
.block-review .btn-search-in-review:focus {
	box-shadow: none;
}
.block-review .btn-search-in-review:hover {
	background: rgba(255,165,0,.85);
}

/*review ends*/