* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
*::selection {
	background: rgba(255,255,255,.3);
	color: black;
}
a {
	text-decoration: none;
}
/*common starts*/
.my-btn {
	text-decoration: none;
	color: #ffffff;
	background: rgba(255,165,0,1);
	padding: .65rem 1.5rem;
}
.my-btn:focus {
	box-shadow: none;
}
.my-btn:hover {
	background: rgba(255,165,0,.85);
	color: #fff;
}
/*common ends*/
/*Loading starts*/
.loading {
	position: fixed;
	z-index: 99;
	background: rgba(23, 21, 25,.9);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loading img {
	width: 6rem;
}
.loading .loading-items {
	position: relative;
}
.loading .loading-item {
	position: absolute;
	right: 0;
	left: 0;
	transform: translateX(-50%);
}
.loading .animation-loading-1,
.loading .animation-loading-2,
.loading .animation-loading-3,
.loading .animation-loading-4 {
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}
.loading .animation-loading-1 {
	animation-name: loading-name-one;
}
.loading .animation-loading-2 {
	animation-name: loading-name-two;
}
.loading .animation-loading-3 {
	animation-name: loading-name-three;
}
.loading .animation-loading-4 {
	animation-name: loading-name-four;
}
@keyframes loading-name-one {
	0% {
		top: 0rem;
	}
	50% {
		top: -52rem;
	}
	100% {
		top: 0rem;
	}
}
@keyframes loading-name-two {
	0% {
		left: 0rem;
	}
	50% {
		left: 52rem;
	}
	100% {
		left: 0rem;
	}
}
@keyframes loading-name-three {
	0% {
		top: 0rem;
	}
	50% {
		top: 52rem;
	}
	100% {
		top: 0rem;
	}
}
@keyframes loading-name-four {
	0% {
		left: 0rem;
	}
	50% {
		left: -52rem;
	}
	100% {
		left: 0rem;
	}
}

/*Loading ends*/
/*topbar starts*/
.topbar {
	font-size: 13px;
	padding: .75rem 0;
	background: rgb(243, 243, 243);
}
.topbar a {
	color: #AAAAAA;
}
.topbar a:hover {
	color: black;
}
.topbar-left > div, .topbar-right > div {
	padding: .1rem 0;
}
.topbar-left {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 0.5rem;
}
.topbar-right {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.menu .container {
	position: relative;
}
.menu .btn-hidden {
	box-shadow: none !important;
	padding: 0 !important;
	font-size: inherit;
	margin-right: 1.25rem;
}
.menu .btn-hidden:focus {
	border: 2px solid orange;
}
.menu .navbar-brand {
	padding-top: 0px !important;
}
.menu .section-hidden {
	padding-left: 0rem;
	font-size: 90%;
}
.menu .btn-search {
	margin-right: 1rem !important;
}
.menu .active {
	color: orange !important;
}
.menu .navbar-nav .nav-item a:hover {
	color: orange;
}
.menu .menu-sab {
	color: grey;
}
.menu .menu-sab:focus {
	color: orange;
}
.menu .logo {
	padding-left: 0px;
}
/*menu starts*/
.menu .btn-become-partner {
	text-decoration: none;
	color: #ffffff;
	background: rgba(255,165,0,1);
	padding: .2rem 1.3rem;
	font-size: 90%;
	border: none;
	margin-right: 0.16rem;
}
.menu .btn-hidden {
	margin-right: 0.1rem !important;
}
.menu .btn-become-partner,
.menu .nofication,
.menu .search-menu,
.menu .btn-hidden {
	margin-left: 1rem;
}
/*menu ends*/
/*topbar ends*/
/*review starts*/
.block-review .cover-banner {
	background-image: url('../images/banner.jpg');
	height: 385px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.block-review .container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.block-review .form-box {
	padding: 92px 20px 93px;
	background: rgb(255 255 255 / 10%);
}
.block-review .form-box .input-group {
	margin-bottom: 2rem;
}
.block-review .form-box .input-group:focus-within {
	box-shadow: 0 0 0 0.15rem rgba(255,165,0, 1);
	border-radius: 3px;
	outline: none;
}
.block-review .form-box .input-group-text,
.order-online .input-group-text {
	background: white;
	border-color: orange;
	border-right: none !important;
	border-radius: 3px;
}
.block-review .form-box .form-control,
.order-online .form-control {
	padding: .75rem .5rem;
	border-radius: 0 3px 3px 0 !important;
	font-size: 13px;
	border: 1px solid orange;
	border-left: none;
}
.block-review .form-box .form-control:focus,
.order-online .form-control:focus {
	box-shadow: none;
}
.block-review .btn-search-in-review {
	text-decoration: none;
	color: #ffffff;
	background: rgba(255,165,0,1);
	padding: .65rem 1.5rem;
}
.block-review .btn-search-in-review:focus {
	box-shadow: none;
}
.block-review .btn-search-in-review:hover {
	background: rgba(255,165,0,.85);
}
/*review ends*/
/*browse places starts*/
.browse-places .active {
	display: flex;
	justify-content: space-evenly;
}
.browse-places {
	padding: 1.785rem;
	background: rgb(243,243,243);
}
.browse-places .browse-header h6 {
	font-size: 1.5rem;
}
.browse-places .places {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	flex-grow: 1;
	flex-basis: 50%;
}
.browse-places .places .places-icon {
	padding-bottom: .3rem;
}
.browse-places .places .places-icon:hover,
.step-working .img-item img:hover {
	animation-name: circular;
	animation-duration: .7s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}
@keyframes circular {
	100% {
		transform: rotate3d(0,1,0,360deg);
	}
}
.browse-places .places .places-text {
	color: gray;
	font-size: 14px;
}
.browse-places .places .places-text:hover {
	color: orange;
}
.browse-places .splide__arrows,
.browse-places .splide__pagination,
.list-restaurants .splide__pagination {
	display: none;
}
/*browse places ends*/
/*step working starts*/
.step-working {
	padding: 50px 0 70px;
}
.step-working .working-item {
	display: flex;
	flex-direction: row;
	padding-top: 1.785rem;
	/*flex-wrap: wrap;*/
}
.step-working .img-item {
	margin-right: 1.785rem;
	height: 4.375rem;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,.2);
	text-align: center;
	flex-basis: 8.75rem;
}
.step-working .img-item img {
	height: 50px;
	padding-top: 1rem;
}
.step-working .content-heading-item {
	font-size: 18px;
}
.step-working .content-item p {
	margin-top: 1.125rem;
	color: rgba(0,0,0,0.5);
}
/*step working ends*/
/*restaurants starts*/
.restaurant .heading h1 {
	font-size: 1.5rem;
	text-align: center;
	font-weight: bold;
}
.list-restaurants {
	border: 1px solid rgba(0,0,0,.2);
	margin-bottom: 2rem;
	padding: 1rem 2rem;
	margin-top: 2.5rem;
}
.list-restaurants .splide__slide {
	display: flex;
	justify-content: space-around;
}
.list-restaurants .splide__slide img {
	width: 90%;
	filter: grayscale(100%);
}
.list-restaurants .splide__slide img:hover {
	filter: grayscale(0%);
}
.list-restaurants .splide__arrow--prev {
	left: -3em;
}
.list-restaurants .splide__arrow--next {
	right: -3em;
}
/*restaurants ends*/
/*order food online starts*/
.order-online {
	padding-top: 4.5rem;
	text-align: center;
}
.order-online .heading h2 {
	font-size: 1.5rem;
}
.order-online .your-location {
	font-size: 0.875rem;
	margin-top: 1.5rem;
}
.order-online .your-location p {
	color: #847577;
	margin-bottom: 0;
}
.order-online .your-location span {
	color: orange;
	margin-right: 0.625rem;
	cursor: pointer;
}
.order-online .search-location {
	padding: 1.875rem 0.9375rem 1.25rem;
}
.order-online .input-search-location {
	border: 1px solid orange;
	border-right: 0px;
	border-radius: 3px 0 0 3px !important;
}
.order-online .search-location .input-group:focus-within {
	box-shadow: 0 0 0 1px rgba(255,165,0, 1);
	border-radius: 3px;
	outline: none;
}
.order-online .search-location button {
	border: 1px solid orange;
	border-left: 0;
	background: orange;
	color: #fff;
	text-decoration: none;
	box-shadow: none;
}
.order-online .search-location button:hover {
	opacity: 0.8;
}
/*all meals in order food online starts */
.order-online .meal-item {
	padding: 0 1rem;
	margin-top: 2rem;
}
.order-online .card-img-top img {
	width: 100%;
}
.order-online .card-img-top .theme {
	height: 100%;
	width: 100%;
	background: linear-gradient(transparent, black 90%);
	opacity: .5;
	position: absolute;
	top: 0;
	left: 0;
}
.order-online .card-img-top .theme:hover {
	opacity: 0;
}
.order-online .top-text {
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: -2rem;
	width: 100%;
	padding: 0 1.5rem;
}
.order-online .top-text .text {
	width: 50.2%;
}
.order-online .logo-img img {
	width: 4rem;
	border: 1px solid #fff;
	border-radius: .5rem;
	margin-right: .5rem;
}
.order-online .heading h4 {
	font-size: 1.4rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #fff;
	width: 100%;
}
.order-online .sub-heading {
	padding-top: .1rem;
}
.order-online h5 > a {
	font-size: 1rem;
}
.order-online .top-text p {
	color: orange;
	align-self: flex-end;
	margin-bottom: 0.4rem;
	font-size: 0.875rem;
	font-weight: bold;
}
.order-online .bottom-text {
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0 1.5rem;
	color: rgba(0,0,0,.6);
}
.order-online .delivery {
	margin-top: .3rem;
}
.order-online .delivery i, 
.order-online .time i {
	width: 1rem;
	margin-right: 0.125rem;
}
.order-online .feed-back {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	padding-top: 0.6rem;
	margin-bottom: 1rem;
}
.order-online .feed-back .stars {
	color: #ffa803;
}
.order-online .feed-back span {
	background: #ffa803;
	color: #fff;
	font-size: 0.75rem;
	padding: 0.1rem 0.5rem;
	border-radius: 42%;
}
.order-online .commnents a {
	 color: rgba(0,0,0,.6);
	 font-size: 0.875rem;
	 font-weight: bold;
}
.order-online .commnents a:hover {
	color: orange;
}
.order-online .commnents a i {
	font-size: 1rem;
	margin-right: 0.125rem;
}
.order-online .meal-btn {
	margin-top: 4rem;
}
/*all meals in order food online ends */
/*order food online ends*/
/*offer bannar starts*/
.offer-banner {
	margin: 3rem 0 4rem;
	color: #fff;
}
.offer-banner .banner {
	position: relative;
	margin-top: 2rem;
	padding: 1.25rem;
}
.offer-banner .ads-banner-1 {
	background-image: url(../images/banner-1.jpg);
}
.offer-banner .ads-banner-2 {
	background-image: url(../images/banner-2.jpg);
}
.offer-banner .ads-banner-1,
.offer-banner .ads-banner-2 {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.offer-banner .banner-text h2 {
	font-size: 1.5rem;
}
.offer-banner .banner-text p {
	font-size: 0.875rem;
}
.offer-banner .banner-btn a {
	font-size: 0.75rem;
	padding: 0.5rem 1rem;
}
.offer-banner .long-arrow i {
	color: orange;
}
/*offer bannar ends*/
/*---------------------------------------------------------------------------------*/
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	/*topbar starts*/
	.topbar .topbar-right-child {
		display: flex;
		justify-content: space-around;
		flex-grow: 1;
	}
	/*topbar ends*/
	/*review starts*/
	.block-review .left-review {
		color: #ffffff;
		padding: 101px 0px 93px;
	}
	.block-review .left-review .title {
		font-size: 139%;
		margin-bottom: 1.4rem;
	}
	.block-review .left-review .exception {
		font-size: 105%;
	}
	.block-review .left-review .time-services {
		margin-bottom: 1.5rem;
	}
	.block-review .right-review {
		padding: 0 1rem 0 0;
	}
	/*review ends*/
	/*order online starts */
	.order-online .row-meal,
	.offer-banner .row {
		padding: 0 4rem;
	}
	/*order online ends */
}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	/*menu starts*/
	.menu .logo {
		padding-left: 1rem !important;
	}
	.menu .section-hidden {
		padding-left: 1rem !important;
	}
	/*menu ends*/
	/*review starts*/
	.block-review .left-review {
	padding: 97px 20px 93px;
	}
	.block-review .left-review .title {
		font-size: 142%;
		margin-bottom: 1.5rem;
	}
	.block-review .left-review .exception {
		font-size: 115%;
	}
	.block-review .right-review {
		padding: 0 1rem;
	}
	/*review ends*/
	/*places starts*/
	.browse-places .places {
		flex-basis: 25%;
	}
	/*places ends*/
	/*step woking starts*/
	.step-working .working-item {
		flex-wrap: wrap;
		position: relative;
	}
	.step-working .working-item .img-item {
		margin-right: 0;
		position: absolute;
		top: 0;
		right: 0;
		width: 3rem;
		height: 3rem;
	}
	.step-working .img-item img {
		height: 40px;
		padding-top: 0.5rem;
	}
	/*step woking end*/
	/*order online starts */
	.order-online .row-meal,
	.offer-banner .row {
		padding: 0;
	}
	.order-online .heading h4 {
		font-size: 1.125rem;
	}
	.order-online h5 > a {
		font-size: 0.875rem;
	}
	.order-online .top-text p {
		font-size: 0.875rem;
	}
	.order-online .sub-heading {
		padding-top: .25rem;
	}
	/*order online ends */
}
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	/*menu starts*/
	.topbar-left {
		margin-bottom: 0 !important;
	}
	.topbar-right {
		justify-content: flex-end !important;
	}
	.topbar-right .topbar-right-child > div {
		margin-left: 1.25rem !important;
	}
	.topbar .topbar-right-child {
		flex-grow: initial;
	}
	.menu .btn-become-partner {
		padding-left: 0px;
	}
	.menu .section-hidden {
		padding-left: 0 !important;
		width: initial;
	}
	.menu .container {
		flex-direction: row-reverse;
		justify-content: flex-start !important;
	}
	.menu .logo {
		position: absolute;
		left: 20px;
	}
	/*menu ends*/
	/*review starts*/
	.block-review .left-review {
		padding-top: 90px;
	}
	.block-review .left-review .title {
		font-size: 250%;
		margin-bottom: 1.9rem;
	}
	/*review ends*/
	/*places starts*/
	.browse-places .places {
		flex-basis: inherit;
	}
	/*places ends*/
}
/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	/*review starts*/
	.block-review .left-review {
	padding: 80px 20px 93px;
	}
	.block-review .left-review .title {
		font-size: 300%;
		margin-bottom: 2rem;
	}
	/*review ends*/
}
/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
	/*step woking starts*/
	.step-working .working-item {
		flex-wrap: nowrap;
	}
	.step-working .working-item .img-item {
		position: initial;
		margin-right: 1.785rem;
		width: 9.57rem;
		height: 4.385rem;
	}
	.step-working .img-item img {
		height: 50px;
		padding-top: 1rem;
	}
	/*step woking end*/
	.order-online .row-meal,
	.offer-banner .row {
		padding: 0 4rem;
	}
}