/*title bar starts*/
.title-bar {
  background-color: #f3f3f3; }

.title-bar .left-title-text,
.title-bar .right-title-text {
  display: flex;
  justify-content: center; }

.title-bar .left-title-text {
  padding: 1rem 0.16rem 0.5rem 1rem; }

.title-bar .right-title-text {
  padding: .5rem 0.16rem 1rem 1rem; }

.title-bar .right-title-text a {
  color: black; }

.title-bar .left-title-text h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif; }

.title-bar .breadcrumb {
  display: flex;
  align-items: center;
  height: 2rem; }

.breadcrumb-item.active {
  color: var(--clr-orange); }

.title-bar .breadcrumb-item + .breadcrumb-item::before {
  padding-left: .5rem;
  padding-right: .5rem;
  color: #6c757d;
  content: '/'; }

/*title bar ends*/
/*form login starts*/
.login {
  padding: 5rem 0; }

.login .login-container {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }

.login .background-login {
  width: 0;
  display: none; }

.login .content {
  width: 100%; }

.login .row {
  display: flex;
  justify-content: center; }

.login .background-login {
  background-image: url(../images/login.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.login .form {
  padding: 0 1.75rem; }

.login .logo-form {
  padding: 3rem 0;
  width: 100%;
  text-align: center; }

.login .facebook-btn,
.login .google-btn {
  text-align: center; }

.login .facebook-btn {
  background-color: #3b5998;
  transition: var(--transition);
  margin-bottom: 1.25rem; }

.login .facebook-btn:hover {
  background-color: #2f487d; }

.login .google-btn {
  background-color: #f34335;
  transition: var(--transition); }

.login .google-btn:hover {
  background-color: #db382a; }

.login .social-btns-login a {
  display: block;
  padding: 0.875rem 0;
  font-size: 0.875rem;
  color: var(--clr-white); }

.login .social-btns-login i {
  font-weight: bold;
  margin-right: 0.5rem; }

.login .or {
  text-align: center;
  padding: 1.5rem 0; }

.login .or span {
  color: var(--clr-text);
  font-size: 0.875rem; }

.login .form-group .icon-check {
  position: absolute;
  right: 1rem;
  top: 0.938rem; }

.login .icon-check i {
  transition: var(--transition);
  display: none; }

.login .success .first-icon {
  display: block;
  color: #61d97c; }

.login .error .last-icon {
  display: block;
  color: #df4655; }

.login .form-group input {
  padding: 0.875rem 1rem 0.87rem;
  width: 100%;
  outline: none;
  border: 1px solid var(--clr-border); }

.login .form-group .nofitication {
  height: 0;
  overflow: hidden;
  transition: var(--transition); }

.login .form-group span {
  color: #df4655;
  font-size: 0.813rem;
  margin-top: 0.75rem;
  display: block; }

.login .error {
  margin-bottom: 1rem;
  transition: var(--transition); }

.login .success input {
  box-shadow: 0 0 0.25rem 0.13rem #61d97c; }

.login .error input {
  box-shadow: 0 0 0.15rem 0.13rem #df4655; }

.login .form-group input:focus {
  border-color: var(--clr-orange); }

.login .success input:focus {
  border-color: #61d97c; }

.login .error input:focus {
  border-color: #df4655; }

.login .form-group {
  margin-bottom: 1.875rem;
  position: relative; }

.login .form-group input {
  padding: 0.875rem 1rem 0.87rem;
  width: 100%;
  outline: none;
  border: 1px solid var(--clr-border); }

.login .form-group input:focus {
  border-color: var(--clr-orange); }

.login .my-btn {
  width: 100%;
  font-size: 1rem; }

.login .forgot-password-not-acccout {
  padding: 1.75rem 2.75rem;
  text-align: center;
  color: var(--clr-text);
  font-size: 0.875rem; }

.login .forgot-password-not-acccout p {
  margin-top: 1.25rem; }

.login .forgot-password-not-acccout > a {
  color: var(--clr-text); }

.login .forgot-password-not-acccout p a {
  color: var(--clr-orange);
  margin-left: 0.25rem; }

/*form login ends*/
/*---------------------------------------------------------------------------------*/
/*// Small devices (landscape phones, 576px and up)*/
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  /*title bar starts*/
  .title-bar .left-title-text,
  .title-bar .right-title-text {
    padding: 1.5rem 0.16rem 1.5rem 0; }
  .title-bar .left-title-text {
    justify-content: flex-start; }
  .title-bar .right-title-text {
    justify-content: flex-end; }
  /*title bar ends*/
  /*form login starts*/
  .login .background-login {
    width: 50%;
    display: block; }
  .login .content {
    width: 50%; }
  /*form login ends*/ }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  /*form login starts*/
  .login .background-login {
    width: 55%;
    display: block; }
  .login .content {
    width: 45%; }
  /*form login ends*/ }

/*// X-Large devices (large desktops, 1200px and up)*/
/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
  /*form login starts*/
  .login .background-login {
    width: 60%; }
  .login .content {
    width: 40%; }
  /*form login ends*/
  .container .row {
    padding: 0 2rem; } }
