/*title bar starts*/
.title-bar {
  background-color: #f3f3f3; }

.title-bar .left-title-text,
.title-bar .right-title-text {
  display: flex;
  justify-content: center; }

.title-bar .left-title-text {
  padding: 1rem 0.16rem 0.5rem 1rem; }

.title-bar .right-title-text {
  padding: .5rem 0.16rem 1rem 1rem; }

.title-bar .right-title-text a {
  color: black; }

.title-bar .left-title-text h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif; }

.title-bar .breadcrumb {
  display: flex;
  align-items: center;
  height: 2rem; }

.breadcrumb-item.active {
  color: var(--clr-orange); }

.title-bar .breadcrumb-item + .breadcrumb-item::before {
  padding-left: .5rem;
  padding-right: .5rem;
  color: #6c757d;
  content: '/'; }

/*title bar ends*/
/*form signup starts*/
.signup {
  padding: 5rem 0; }

.signup .signup-container {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }

.signup .background-signup {
  width: 0;
  display: none; }

.signup .content {
  width: 100%; }

.signup .row {
  display: flex;
  justify-content: center; }

.signup .background-signup {
  background-image: url(../images/signup.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.signup .form {
  padding: 0 1.75rem; }

.signup .logo-form {
  padding: 3rem 0 1rem;
  width: 100%;
  text-align: center; }

.signup .heading {
  text-align: center;
  font-size: 1.25rem;
  padding-bottom: 2rem; }

.signup .heading h3 {
  font-weight: 550; }

.signup .form-group {
  margin-bottom: 1.875rem;
  position: relative; }

.signup .last-form-group {
  margin-bottom: 0; }

.signup .form-group .icon-check {
  position: absolute;
  right: 1rem;
  top: 0.938rem; }

.signup .icon-check i {
  transition: var(--transition);
  display: none; }

.signup .success .first-icon {
  display: block;
  color: #61d97c; }

.signup .error .last-icon {
  display: block;
  color: #df4655; }

.signup .form-group input {
  padding: 0.875rem 1rem 0.87rem;
  width: 100%;
  outline: none;
  border: 1px solid var(--clr-border); }

.signup .form-group .nofitication {
  height: 0;
  overflow: hidden;
  transition: var(--transition); }

.signup .form-group span {
  color: #df4655;
  font-size: 0.813rem;
  margin-top: 0.75rem;
  display: block; }

.signup .error {
  margin-bottom: 1rem;
  transition: var(--transition); }

.signup .success input {
  box-shadow: 0 0 0.25rem 0.13rem #61d97c; }

.signup .error input {
  box-shadow: 0 0 0.15rem 0.13rem #df4655; }

.signup .form-group input:focus {
  border-color: var(--clr-orange); }

.signup .success input:focus {
  border-color: #61d97c; }

.signup .error input:focus {
  border-color: #df4655; }

.signup .my-btn {
  width: 100%;
  font-size: 1rem; }

.signup .have-accout {
  padding: 1.75rem 2.75rem;
  text-align: center;
  color: var(--clr-text);
  font-size: 0.875rem; }

.signup .have-accout p a {
  color: var(--clr-orange);
  margin-left: 0.25rem; }

.signup .agree {
  font-size: 0.875rem;
  color: var(--clr-text);
  margin: 1rem 0 1.5rem;
  position: relative; }

.signup .agree input {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%; }

.signup .agree a {
  color: var(--clr-orange); }

.signup label {
  text-indent: 1.5rem;
  display: inline-block; }

.signup label:before,
.signup label:after {
  content: '';
  width: 1rem;
  height: 1rem;
  display: block;
  box-sizing: border-box;
  z-index: 0;
  position: absolute;
  left: 0;
  border: 2px solid var(--clr-border);
  border-radius: 20%;
  top: calc((0% - (100% - 1.5rem)) - 8%);
  transition: all 0.5s ease;
  background-color: transparent; }

.signup label:after {
  transform: scale(0); }

.signup .active label:after {
  transform: scale(0.4);
  background-color: var(--clr-orange); }

.signup .active label:before {
  border-color: var(--clr-orange);
  animation: pulse 1s; }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 168, 3, 0.8); }
  100% {
    box-shadow: 0 0 0 1rem rgba(255, 168, 3, 0); } }

/*form signup ends*/
/*---------------------------------------------------------------------------------*/
/*// Small devices (landscape phones, 576px and up)*/
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  /*title bar starts*/
  .title-bar .left-title-text,
  .title-bar .right-title-text {
    padding: 1.5rem 0.16rem 1.5rem 0; }
  .title-bar .left-title-text {
    justify-content: flex-start; }
  .title-bar .right-title-text {
    justify-content: flex-end; }
  /*title bar ends*/
  /*form signup starts*/
  .signup .background-signup {
    width: 50%;
    display: block; }
  .signup .content {
    width: 50%; }
  /*form signup ends*/ }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  /*form signup starts*/
  .signup .background-signup {
    width: 55%;
    display: block; }
  .signup .content {
    width: 45%; }
  /*form signup ends*/ }

/*// X-Large devices (large desktops, 1200px and up)*/
/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
  /*form signup starts*/
  .signup .background-signup {
    width: 60%; }
  .signup .content {
    width: 40%; }
  /*form signup ends*/
  .container .row {
    padding: 0 2rem; } }
