@import "_variable";
/*about natto starts*/
.about-food-sonet {
	padding-top: 5rem;
	p {
		color: $clr-text;
		font-size: 0.875rem;
		line-height: 1.5rem;
	}
	.heading {
		color: $clr-black;
		text-align: center;
		h4 {
			font-size: 1.5rem;
			font-weight: 600;
		}
	}
	.about-content {
		padding-top: 2rem;
		text-align: center;
		p {
			padding-top: 0.625rem;
		}
	}
	.about-item {
		align-items: center;
		display: flex;
		flex-direction: column;
		padding-top: 2.75rem;
		text-align: center;
		img {
			height: 3.125rem;
			&:hover {
				@include transition();
				animation: rotate 1s;
			}
		}
		h4 {
			font-size: 1.125rem;
			font-weight: 500;
			padding: 1.625rem 0 0.875rem;
		}
	}
	.order-now-btn {
		display: flex;
		justify-content: center;
		margin-top: 3.875rem;
	}
}
/*about natto ends*/
/*block review app starts*/
.app-block-review {
	.pocket-item {
		margin-top: 3.5rem;
		h3 {
			font-size: 1.5rem;
		}
		> p {
			color: $clr-text;
			font-size: 0.875rem;
			padding: 1.75rem 0;
		}
		.line {
			padding: 1rem 0;
		}
	}
	.form-container {
		padding: 0;
	}
	.about-video {
		margin-top: 3.5rem;
		iframe {
			width: 100%;
		}
	}
}
/*block review app ends*/
/*our team starts*/
.our-team {
	padding: 5rem 2rem;
	.heading {
		text-align: center;
		h3 {
			color: $clr-black;
			font-size: 1.5rem;
			font-weight: 600;
		}
	}
	.team-item {
		border: 1px solid $clr-border;
		margin-top: 1.75rem;
		text-align: center;
		img {
			display: block;
			object-fit: cover;
			width: 100%;
		}
		h4 {
			color: $clr-black;
			font-size: 1.125rem;
			font-weight: 500;
			padding-top: 1rem;
		}
		p {
			color: $clr-text;
			font-size: 0.875rem;
			font-weight: 400;
			padding-top: 0.375rem;
		}
		.social-btns {
			display: flex;
			justify-content: space-around;
			padding-bottom: 1.875rem;
			padding-top: 1.25rem;
			.social-btn {
				background-color: $clr-white;
				border: 1px solid $clr-border;
				border-radius: 50%;
				color: rgb(205, 205, 205);
				height: 2.5rem;
				font-size: 0.75rem;
				font-weight: 400;
				line-height: 2.5rem;
				text-align: center;
				width: 2.5rem;
				&:hover {
					border-color: transparent;
					i {
						@include transition();
						color: $clr-white;
						transform: scale(1.5);
					}
				}
			}
			.btn-1:hover {
				background-color: rgb(66, 103, 178);
			}
			.btn-2:hover {
				background-color: rgb(29, 161, 242);
			}
			.btn-3:hover {
				background: #f09433;
				background: -moz-linear-gradient(
					45deg,
					#f09433 0%,
					#e6683c 25%,
					#dc2743 50%,
					#cc2366 75%,
					#bc1888 100%
				);
				background: -webkit-linear-gradient(
					45deg,
					#f09433 0%,
					#e6683c 25%,
					#dc2743 50%,
					#cc2366 75%,
					#bc1888 100%
				);
				background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
			}
			.btn-4:hover {
				background-color: rgb(40, 103, 178);
			}
			.btn-5:hover {
				background-color: rgb(255, 0, 0);
			}
		}
	}
}
/*our team ends*/
/*---------------------------------------------------------------------------------*/
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	/*team starts*/
	.our-team {
		padding: 5rem 0rem;
	}
	/*team ends*/
}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}
/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
}
