@import "variable";
/*add restaurant starts*/
.add-restaurant {
	margin-top: 5rem;
	.heading {
		align-items: center;
		display: flex;
		margin-bottom: 1.5rem;
		img {
			display: block;
			height: 1.5rem;
			object-fit: cover;
			margin-right: 1rem;
			width: 1.5rem;
		}
		h1 {
			color: $clr-black;
			font-weight: 600;
			font-size: 1.5rem;
		}
	}
	.form-container {
		.container > .row {
			justify-content: space-between;
		}
		.form-group {
			.form-group-label {
				font-size: 0.875rem;
			}
		}
	}
	.information {
		padding-top: 1rem;
		.row {
			padding: 0;
		}
		h4 {
			font-weight: 600;
			font-size: 1.125rem;
			padding-bottom: 1.25rem;
		}
		.select-time-from,
		.select-time-to {
			text-indent: 1rem;
		}
		.from-time,
		.to-time {
			.dropdown-menu-item {
				text-indent: 1rem;
			}
		}
	}
	.list-times {
		color: $clr-text;
		font-size: 0.938rem;
		font-weight: 400;
		line-height: 1.5rem;
		.time-item {
			display: flex;
			margin-bottom: 0.25rem;
		}
		.day {
			color: $clr-black;
			text-transform: capitalize;
			margin-right: 1.5rem;
			min-width: 4.875rem;
		}
		.open-close {
			font-size: 0.875rem;
			margin-right: 1.75rem;
		}
		.remove-time-btn {
			border: 0;
			background-color: transparent;
			cursor: pointer;
			outline: none;
			i {
				@include transition();
				color: $clr-text;
				font-size: 1rem;
			}
		}
		.remove-time-btn:hover {
			i {
				color: $clr-orange;
			}
		}
	}
	.sb-add-restaurant {
		margin-bottom: 5rem;
	}
	.how-it-work {
		margin-top: 3rem;
		img {
			height: 2.5rem;
		}
		img:hover {
			@include transition();
			animation: rotate 1s;
		}
		h4 {
			color: $clr-black;
			font-size: 1.125rem;
			font-weight: 500;
			line-height: 1.5rem;
			padding-bottom: 0.625rem;
			padding-top: 1.625rem;
		}
		p {
			color: $clr-text;
			font-size: 0.938rem;
			font-weight: 400;
			letter-spacing: 1px;
			line-height: 1.5rem;
		}
	}
}
/*add restaurant ends*/
/*---------------------------------------------------------------------------------*/
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.add-restaurant {
		#add-time-btn {
			margin-top: 1.6rem;
		}
	}
}
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}
/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
}
