@import "variable";

// nav content
.nav-content {
	margin-bottom: 4rem;
}

// profile
.profile {
	border: 1px solid $clr-border;
	padding: 1.25rem;
}

// Edit profile
#edit-profile {
	.form-label-heading {
		color: $clr-black;
		display: block;
		font-size: 1.125rem;
		font-weight: 500;
		margin-bottom: 0.875rem;
	}
	img {
		height: 9.375rem;
		margin-bottom: 1rem;
		object-fit: cover;
		width: 9.375rem;
	}
	.background {
		img {
			height: auto;
			max-height: 14rem;
			object-fit: cover;
			width: 100%;
		}
	}
}

/*confirm delete account starts*/
.modal-confirm-remove-account {
	text-align: center;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: $bg-modal;
	@include transition();
	display: none;
	.message {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 33rem;
		z-index: 1;
		padding: 2rem;
		padding-top: 0;
		background: $clr-white;
		border-radius: 0.75rem;
		.icon {
			text-align: right;
			font-size: 1.5rem;
			color: $clr-text;
			font-weight: bold;
			cursor: pointer;
			padding-top: 0.625rem;
			@include transition();
		}
		.icon:hover {
			color: $clr-orange;
		}
		h2 {
			font-size: 2rem;
		}
		p {
			font-size: 1.25rem;
			color: $clr-text;
			line-height: 1.5rem;
			margin-top: 0.75rem;
			margin-bottom: 1rem;
		}
		.btns-delete-account {
			display: flex;
			justify-content: center;
		}
		.delete-btn {
			background-color: $clr-danger;
		}
		.delete-btn:hover {
			background-color: $clr-danger-hover;
		}
		.my-btn {
			font-size: 1rem;
			margin: 0 0.5rem;
		}
	}
}
/*confirm delete account ends*/

// Link profile
.natto-links {
	.link-title {
		margin-top: -0.25rem;
		margin-bottom: 1.875rem;
		h4 {
			font-size: 1.25rem;
			font-weight: 600;
		}
	}
	.link-detail {
		border: 1px solid $clr-border;
		p {
			color: $clr-text;
			font-size: 1rem;
			line-height: 1.5rem;
		}
		.form-container {
			padding: 1.25rem;
			.form-group {
				margin-bottom: 0;
				margin-top: 1.25rem;
			}
		}
	}
}
/*---------------------------------------------------------------------------------*/
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	/*my account ends*/
	/*profile starts*/
	.profile {
		.upload-avartar {
			.copy-input {
				.my-btn,
				.info-btn {
					height: 2.75rem;
				}
			}
		}
	}
	/*profile ends*/
}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}
/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
}
