@import "variable";
a {
	text-decoration: none;
}
label {
	display: inline-block;
}
input::placeholder {
	color: $clr-text;
	font-size: 0.875rem;
}

// stars
.stars {
	align-items: center;
	color: $clr-orange;
	display: inline-flex;
	font-size: 1rem;
	i {
		margin-right: 0.375rem;
	}
	span {
		background-color: $clr-orange;
		border-radius: 2.5rem;
		color: $clr-white;
		font-size: 0.825rem;
		margin-left: 0.25rem;
		padding: 0.25rem 0.5rem;
	}
}

/*button -> class="btn" with color(white) and background color(orange) */
.btn {
	border: 1px solid transparent;
	border-radius: 0.25rem;
	background: $clr-orange;
	color: $clr-white;
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	text-decoration: none;
	padding: 0.375rem 0.75rem;
	text-align: center;
	@include transition();
	&:hover {
		background-color: $clr-orange-hover;
	}
}
.btn-large {
	padding: 0.65rem 1.5rem;
}

// check pattern
%check {
	align-items: center;
	display: flex;
	height: 1.5rem;
	margin-right: 1.75rem;
	margin-bottom: 0.5rem;
	min-width: 3.125rem;
	position: relative;
}
%check-input {
	position: absolute;
	opacity: 0;
}
%check-label {
	cursor: pointer;
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 0.75rem;
	margin-left: 0.5rem;
	margin-bottom: 0;
	text-indent: 1rem;
	&:before,
	&:after {
		background-color: transparent;
		border: 2px solid $clr-border;
		border-radius: 0.25rem;
		box-sizing: border-box;
		content: "";
		height: 0.875rem;
		left: 0.125rem;
		position: absolute;
		top: 5px;
		width: 0.875rem;
		z-index: 0;
		@include transition();
	}
	&:after {
		transform: scale(0);
	}
}

/*form*/
// form controls
.form-container {
	width: 100%;
	padding: 1rem;
	.form-group {
		margin-bottom: 1.875rem;
		position: relative;
		width: 100%;
		.form-group-label {
			color: $clr-black;
			font-weight: 500;
			font-size: 1rem;
			margin-bottom: 0.5rem;
		}
		.form-control {
			@include transition();
			background-color: $clr-white;
			border: 1px solid $clr-border;
			border-radius: 0.25rem;
			color: $clr-text;
			display: block;
			font-weight: 400;
			font-size: 1rem;
			line-height: 1.375rem;
			outline: none;
			padding: 0.65rem 1.5rem;
			width: 100%;
			&:focus {
				border-color: $clr-orange;
				box-shadow: 0 0 0 0.063rem $clr-orange;
			}
		}
		.icon-check {
			position: absolute;
			right: 1rem;
			top: 0.938rem;
			i {
				@include transition();
				display: none;
			}
		}
		.nofitication {
			@include transition();
			overflow: hidden;
			height: 0;
			span {
				color: $clr-danger;
				display: block;
				font-size: 0.813rem;
				margin-top: 0.75rem;
				&::first-letter {
					text-transform: uppercase;
				}
			}
		}
		&.error {
			@include transition();
			margin-bottom: 1rem;
			.last-icon {
				color: $clr-danger;
				display: block;
			}
			input,
			textarea,
			.box,
			.search-form {
				box-shadow: 0 0 0.15rem 0.13rem $clr-danger;
				&:focus {
					border-color: $clr-danger;
					box-shadow: 0 0 0 0.063rem $clr-danger;
				}
			}
		}
		&.success {
			.first-icon {
				color: $clr-success;
				display: block;
			}
			input,
			textarea,
			.box,
			.search-form {
				box-shadow: 0 0 0.25rem 0.13rem $clr-success;
				&:focus {
					border-color: $clr-success;
					box-shadow: 0 0 0 0.063rem $clr-success;
				}
			}
		}
	}
	.overlay-file {
		> .form-control {
			opacity: 0;
		}
		.form-group {
			border-radius: 0.25rem;
			margin-bottom: 0;
			position: absolute;
			top: 1.7rem;
			z-index: -1;
		}
	}
	.form-container-check {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: -0.5rem;
		.form-check {
			@extend %check;
			.form-check-input {
				@extend %check-input;
			}
			.form-check-label {
				@extend %check-label;
			}
			.state-check.active {
				.form-check-label {
					&:before {
						animation: pulse 1s;
						border-color: $clr-orange;
					}
					&:after {
						transform: scale(0.4);
						background-color: $clr-orange;
					}
				}
			}
		}
	}
	.select-form {
		.select-btn {
			background-color: transparent;
			border: 1px solid $clr-border;
			border-radius: 0.25rem;
			color: $clr-black;
			cursor: pointer;
			font-size: 0.83rem;
			font-weight: 400;
			outline: none;
			padding: 0.625rem 0.75rem;
			text-align: left;
			width: 100%;
		}
		.select-icon {
			color: $clr-text;
			position: absolute;
			right: 1rem;
			top: 2.25rem;
			z-index: -1;
		}
		.dropdown-menu {
			background-color: $clr-white;
			border: 1px solid $clr-border;
			display: none;
			max-height: 14.25rem;
			overflow: auto;
			position: absolute;
			top: 4.125rem;
			width: 100%;
			@include transition();
			.dropdown-menu-item {
				color: $clr-text;
				cursor: pointer;
				font-size: 0.875rem;
				font-weight: 400;
				padding: 0.65rem 0.75rem;
				text-align: left;
				width: 100%;
				@include transition();
				&:hover {
					padding-left: 1rem;
					background-color: rgba(0, 0, 0, 0.05);
				}
			}
			.dropdown-menu-item.active {
				background-color: rgba(0, 0, 0, 0.15);
			}
		}
		&.active {
			.dropdown-menu {
				display: block;
				z-index: 1;
			}
		}
	}
	.search-form {
		display: flex;
		.form-control {
			flex-grow: 1;
			width: auto;
		}
		.search-form-item:first-child {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		.search-form-item:last-child {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}

// fillter checkbox
.filters {
	background: $clr-white;
	border-top: 1px solid $clr-border;
	border-left: 1px solid $clr-border;
	border-right: 1px solid $clr-border;
	margin-top: 5rem;
	margin-bottom: 5rem;
	position: sticky;
	top: 1.125rem;
	.filter-heading {
		border-bottom: 1px solid $clr-border;
		padding: 1.25rem 0 1.23rem 1.24rem;
	}
	.accordion {
		.accordion-item {
			border-bottom: 1px solid $clr-border;
			.container-collapse {
				height: 0;
				overflow: hidden;
				@include transition();
				.collapse {
					padding: 0.25rem 1.25rem 1rem 1.25rem;
				}
			}
		}
		&:nth-child(2) {
			.filters-dropdown {
				padding-bottom: 0.5rem;
			}
			.container-collapse {
				height: auto;
			}
		}
		.filter-checkbox {
			display: flex;
			flex-direction: column;
			margin-left: -1.25rem;
			.check-item {
				@extend %check;
				margin-bottom: 0.5rem;
				margin-left: 1.125rem;
				margin-right: 0;
				.filter-check-input {
					@extend %check-input;
				}
				.filter-check-label {
					@extend %check-label;
					@include transition();
					i {
						text-indent: 0;
					}
					&:hover {
						color: $clr-orange;
						&:before {
							border-color: $clr-orange;
						}
					}
				}
				.state-check.active {
					.filter-check-label {
						color: $clr-orange;
						&:before {
							animation: pulse 1s;
							border-color: $clr-orange;
						}
						&:after {
							transform: scale(0.4);
							background-color: $clr-orange;
						}
					}
				}
			}
		}
		.filters-dropdown {
			background-color: transparent;
			border: 1px transparent;
			color: $clr-black;
			cursor: pointer;
			font-size: 0.875rem;
			font-weight: 500;
			outline: none;
			padding: 1.125rem 1.25rem 1rem 1.25rem;
			text-align: left;
			text-transform: capitalize;
		}
	}
}

// modal
.modal-container {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
	height: 100vh;
	left: 0;
	justify-content: center;
	overflow-y: auto;
	overflow-x: hidden;
	position: fixed;
	transition: 0.2s ease-in-out;
	top: 0;
	width: 100vw;
	.modal-content {
		background-color: white;
		border: none;
		border-radius: 0.25rem;
		max-width: 100%;
		padding: 1rem;
		position: relative;
		width: 60%;
		.modal-header {
			display: flex;
			justify-content: space-between;
			padding: 1rem;
			h5 {
				font-size: 1.5rem;
				line-height: 1.5;
				margin: 0;
			}
			button {
				background-color: transparent;
				border: 0;
				cursor: pointer;
				font-size: 1.5rem;
				height: 2rem;
				outline: none;
				padding: 0;
				width: 2rem;
				@include transition();
				&:hover {
					animation: rotateZ 1s forwards;
					color: $clr-orange;
				}
			}
		}
		.modal-body {
			padding: 1rem;
		}
		.modal-footer {
			padding: 1rem;
		}
	}
	&.active {
		display: flex;
		.modal-content {
			animation: showModal 0.3s;
		}
	}
}

// card meal
.meal-item {
	margin-top: 2rem;
	padding: 0 1rem;
	.card {
		background-color: #fff;
		background-clip: border-box;
		border: 1px solid $clr-border;
		border-radius: 0.25rem;
		display: flex;
		flex-direction: column;
		min-width: 0;
		position: relative;
		word-wrap: break-word;
		.card-img-top {
			border-top-left-radius: calc(0.25rem - 1px);
			border-top-right-radius: calc(0.25rem - 1px);
			position: relative;
			img {
				display: block;
				height: 12.75rem;
				object-fit: cover;
				width: 100%;
			}
			.theme {
				height: 100%;
				width: 100%;
				background: linear-gradient(transparent, black 90%);
				opacity: 0.5;
				position: absolute;
				top: 0;
				left: 0;
				&:hover {
					opacity: 0;
				}
			}
		}
		.content {
			position: relative;
			.top-text {
				display: flex;
				justify-content: space-between;
				padding: 0 1.5rem;
				position: absolute;
				top: -2rem;
				width: 100%;
				.text {
					width: 50.2%;
					h4 {
						color: #fff;
						font-size: 1.4rem;
						overflow: hidden;
						text-align: left;
						text-overflow: ellipsis;
						white-space: nowrap;
						width: 100%;
						margin: 0;
					}
					.sub-heading {
						padding-top: 0.1rem;
						text-align: left;
						h5 {
							margin: 0;
							> a {
								font-size: 1rem;
							}
						}
					}
				}
				img {
					border: 0.063rem solid $clr-border;
					border-radius: 0.5rem;
					margin-right: 0.5rem;
					width: 4rem;
				}
				p {
					align-self: flex-end;
					color: orange;
					font-size: 0.875rem;
					font-weight: bold;
					margin-bottom: 0.4rem;
				}
			}
			.bottom-text {
				align-items: flex-start;
				color: rgba(0, 0, 0, 0.6);
				display: flex;
				flex-direction: column;
				margin-top: 3rem;
				padding: 0 1.5rem;
				.delivery {
					margin-top: 0.3rem;
				}
				.delivery i,
				.time i {
					width: 1rem;
					margin-right: 0.125rem;
				}
				.feed-back {
					align-items: center;
					display: flex;
					justify-content: space-between;
					margin-bottom: 1rem;
					padding-top: 0.6rem;
					width: 100%;
					span {
						background: #ffa803;
						border-radius: 42%;
						color: #fff;
						font-size: 0.75rem;
						padding: 0.1rem 0.5rem;
					}
					.commnents a {
						color: rgba(0, 0, 0, 0.6);
						font-size: 0.875rem;
						font-weight: bold;
						&:hover {
							color: $clr-orange;
						}
						i {
							font-size: 1rem;
							margin-right: 0.125rem;
						}
					}
				}
			}
		}
		.text-white {
			color: $clr-white;
		}
		.text-dark {
			color: $clr-black;
		}
	}
}

// title bars
.title-bar {
	background-color: $bg-title;
	.left-title-text,
	.right-title-text {
		display: flex;
		justify-content: center;
	}
	.left-title-text {
		padding: 1rem 0.16rem 0.5rem 1rem;
		h3 {
			font-family: "Roboto", sans-serif;
			font-size: 1.5rem;
			font-weight: bold;
			margin: 0;
		}
	}
	.right-title-text {
		padding: 0.5rem 0.16rem 1rem 1rem;
		a {
			color: $clr-black;
		}
		.breadcrumb {
			display: flex;
			align-items: center;
			height: 2rem;
			.breadcrumb-item {
				&.active {
					color: $clr-orange;
				}
				+ .breadcrumb-item:before {
					padding-left: 0.5rem;
					padding-right: 0.5rem;
					color: #6c757d;
					content: "/";
				}
			}
		}
	}
}

// recipe items
.recipe-item {
	display: flex;
	justify-content: center;
	margin: 3rem 0;
	position: relative;
	.img-recipes {
		width: 100%;
	}
	&:hover {
		.overlay {
			background-color: rgba(0, 0, 0, 0.6);
		}
	}
	img {
		width: 100%;
	}
	.overlay {
		color: $clr-white;
		background-color: rgba(0, 0, 0, 0.4);
		padding-bottom: 1rem;
		padding-top: 1rem;
		position: absolute;
		transform: translateY(-50%);
		transition: 0.2s ease;
		text-align: center;
		top: 50%;
		width: 100%;
		h6 {
			font-size: 1rem;
			margin-bottom: 0.5rem;
			margin-top: 0rem;
		}
		p {
			margin-bottom: 0rem;
		}
	}
}

// over restaurants
.over-restaurants {
	background-color: #ffa803;
	color: $clr-white;
	padding: 3rem 0;
	@include transition();
	h2 {
		font-size: 1.5rem;
		font-weight: bold;
	}
	p {
		font-size: 1rem;
		padding-top: 1.25rem;
	}
	.view-restaurants {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: flex-start;
		padding-top: 1rem;
		a {
			background-color: transparent;
			border-radius: 0.25rem;
			border: 1px solid $clr-white;
			color: $clr-white;
			font-size: 0.875rem;
			padding: 0.938rem 1.75rem;
			@include transition();
			&:hover {
				color: $clr-orange;
				background-color: $clr-white;
			}
		}
	}
}

// card popular restaurants
.list-pop-res {
	border: 1px solid $clr-border;
	border-bottom: 0;
	li {
		border-bottom: 1px solid $clr-border;
		display: grid;
		grid-column-gap: 1rem;
		grid-template-columns: auto 1fr;
		padding: 0.625rem;
		img {
			height: 4.5rem;
			object-fit: cover;
			width: 4.5rem;
		}
		.caption {
			h4 {
				color: $clr-black;
				font-size: 0.875rem;
				font-weight: 500;
				margin: 0.25rem auto;
				@include transition();
				&:hover {
					color: $clr-orange;
				}
			}
			p {
				color: $clr-text;
				font-size: 0.875rem;
				margin-bottom: 0.25rem;
			}
		}
	}
}

// nav tab
.nav-tab {
	display: flex;
	flex-direction: row;
	.nav-tab-btn {
		@include transition();
		background-color: $clr-white;
		border: 1px solid $clr-border;
		color: $clr-text;
		cursor: pointer;
		display: block;
		font-size: 0.875rem;
		font-weight: 600;
		padding: 1.125rem 1.25rem;
		text-align: left;
		&:hover {
			background-color: $clr-text-hover;
		}
		&.active {
			color: $clr-orange;
		}
	}
}

// nav tab row
.nav-tab-row {
	flex-direction: row;
	.nav-tab-btn {
		border-right-width: 0;
		&:hover {
			padding-bottom: 1.25rem;
			padding-top: 0.75rem;
		}
	}
	.nav-item {
		&:last-child {
			.nav-tab-btn {
				border-right-width: 1px;
			}
		}
	}
}

// nav tab column
.nav-tab-column {
	flex-direction: column;
	width: 100%;
	.nav-tab-btn {
		border-bottom-width: 0;
		width: 100%;
		&:hover {
			padding-left: 1.5rem;
			padding-right: 1rem;
		}
	}
	.nav-item {
		width: 100%;
		&:last-child {
			.nav-tab-btn {
				border-bottom-width: 1px;
			}
		}
	}
}

// nav content
.nav-content {
	width: 100%;
	.tab-pane {
		display: none;
		&.active {
			display: block;
		}
	}
}

// timelines post
.timeline-posts {
	border: 1px solid $clr-border;
	width: 100%;
	.post-info,
	.comment-user {
		padding: 1.25rem;
	}
	.tags,
	.post-images {
		padding: 0 1.25rem 1.25rem;
		width: 100%;
	}
	.user-info {
		align-items: center;
		display: flex;
		justify-content: space-between;
		.avt-name-rating {
			display: flex;
			.avt {
				display: block;
				height: 3.125rem;
				object-fit: cover;
				width: 3.125rem;
			}
			.name-rating {
				margin-left: 1.125rem;
				h4 {
					color: $clr-black;
					font-size: 1.125rem;
					font-weight: 600;
				}
				span {
					display: none;
				}
			}
		}
		.post-time {
			p {
				color: $clr-text;
				font-size: 0.875rem;
				font-weight: 400;
			}
			span {
				display: none;
			}
		}
	}
	.post-content {
		p {
			color: $clr-text;
			font-size: 0.938rem;
			font-weight: 400;
			line-height: 1.5rem;
			margin-top: 0.75rem;
			text-align: justify;
		}
	}
	.tags {
		font-size: 0.938rem;
		ins {
			color: $clr-black;
			margin-right: 0.625rem;
			text-decoration: none;
		}
		a {
			color: rgb(47, 150, 255);
		}
	}
	.post-images {
		.select-imgs {
			display: flex;
			flex-wrap: wrap;
			.select-img {
				img {
					border-radius: 0.375rem;
					display: block;
					height: 5.3rem;
					margin-bottom: 1.25rem;
					margin-right: 1.25rem;
					object-fit: cover;
					width: 5.3rem;
				}
				&:nth-child(5n) {
					img {
						margin-right: 0;
					}
				}
			}
		}
	}
	.likes-comments {
		align-items: center;
		border-bottom: 1px solid $clr-border;
		border-top: 1px solid $clr-border;
		display: flex;
		.likes,
		.comments {
			box-sizing: border-box;
			padding: 1rem 0.75rem 1rem 0.25rem;
		}
		.btn-icon {
			border-radius: 0.5rem;
			color: $clr-text;
			cursor: pointer;
			font-size: 1rem;
			font-weight: 550;
			padding: 0.5rem 1rem;
			i {
				margin-right: 0.125rem;
			}
			&:hover {
				@include transition();
				color: $clr-orange;
				i {
					@include transition();
					animation: iconPretty 0.5s linear infinite;
					font-weight: bold;
				}
			}
		}
	}
	.comment-posting {
		.form-group {
			display: flex;
			margin-bottom: 0;
			.form-control {
				flex-grow: 1;
				margin-left: 0.5rem;
			}
			.avt-user {
				border-radius: 50%;
				height: 2.75rem;
				width: 2.75rem;
			}
		}
	}
	.all-comments {
		.comment-item {
			border-top: 1px solid $clr-border;
			display: flex;
			padding: 1rem;
			.avt-user {
				border-radius: 50%;
				height: 2.75rem;
				width: 2.75rem;
			}
			.comment-item-content {
				flex-grow: 1;
				margin-left: 0.5rem;
				.name-time {
					display: flex;
					justify-content: space-between;
					a {
						@include transition();
						color: $clr-black;
						font-size: 0.875rem;
						font-weight: 600;
						margin-bottom: 0.25rem;
						&:hover {
							color: $clr-orange;
						}
					}
					span {
						color: $clr-text;
						font-size: 0.75rem;
						font-weight: 400;
					}
				}
				p {
					color: $clr-text;
					font-size: 0.938rem;
					text-align: justify;
				}
				.actions {
					margin-top: 0.125rem;
					span {
						@include transition();
						color: $clr-text;
						cursor: pointer;
						font-size: 0.75rem;
						font-weight: 500;
						margin-right: 0.25rem;
						&:hover {
							color: $clr-orange;
						}
					}
				}
			}
		}
	}
}

// order table responsive
.table-responsive {
	border: 1px solid $clr-border;
	margin-top: 1.5rem;
	width: 100%;
	[class^="td-"] {
		padding: 0.675rem;
		text-align: center;
	}
	.td-1 {
		flex-basis: calc(100% * 71.6 / 294);
	}
	.td-2 {
		flex-basis: calc(100% * 45.6 / 294);
	}
	.td-3 {
		flex-basis: calc(100% * 56.6 / 294);
	}
	.td-4 {
		flex-grow: 1;
	}
	.table-heading,
	.table-row {
		display: flex;
		align-items: center;
	}
	.table-heading {
		.td-heading {
			color: $clr-black;
			font-weight: 500;
			font-size: 0.75rem;
			line-height: 1.5rem;
		}
	}
	.table-row {
		border-top: 1px solid $clr-border;
		span {
			color: $clr-text;
			font-size: 1rem;
			font-weight: 400;
			line-height: 1.25rem;
		}
		.td-content.td-1 {
			align-items: center;
			color: $clr-text;
			display: flex;
			justify-content: center;
			text-align: left;
			.name-rest {
				display: none;
				h4 {
					color: $clr-black;
					font-size: 1.125rem;
					font-weight: 500;
					line-height: 1.5rem;
				}
				p {
					font-size: 0.875rem;
					font-weight: 400;
					line-height: 1.25rem;
					margin-top: 0.25rem;
				}
			}
			img {
				border-radius: 0.25rem;
				height: 3.125rem;
				object-fit: cover;
				width: 3.125rem;
			}
		}
		.action-btns {
			align-items: center;
			display: flex;
			flex-direction: column-reverse;
			justify-content: center;
			.btn {
				text-transform: capitalize;
				width: min-content;
				&:first-child {
					margin-top: 0.25rem;
				}
			}
		}
	}
}

// all profile details
.all-profile-details {
	margin-top: 4rem;
	margin-bottom: 4rem;
	.side-bar {
		margin-bottom: 2rem;
	}
	.tab-pane-heading {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin-bottom: 2rem;
		h4 {
			font-size: 1.25rem;
			font-weight: 600;
		}
		a {
			color: $clr-orange;
			font-size: 1rem;
			font-weight: 400;
			line-height: 1.5rem;
			i {
				margin-right: 0.25rem;
			}
		}
	}
}

//my accout starts
.profile-bg {
	> img {
		display: block;
		object-fit: cover;
		max-height: 25rem;
		min-height: 7.5rem;
		width: 100%;
	}
	.profile-top-details {
		background-color: $bg-title;
	}
	.row {
		align-items: center;
		justify-content: space-between;
	}
	.avt-name-local {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		min-width: 15rem;
		padding: 0 0.75rem;
		position: relative;
		.avatar {
			position: absolute;
			bottom: 0;
			img {
				clip-path: circle();
				display: block;
				height: 6rem;
				width: 6rem;
			}
		}
		.name-location {
			margin-left: 7rem;
			padding: 0.5rem 0;
			h2 {
				color: $clr-black;
				cursor: pointer;
				font-size: 1.25rem;
				font-weight: 600;
				line-height: 1.25rem;
				margin-bottom: 0.5rem;
			}
			p {
				color: $clr-text;
				font-size: 0.875rem;
				font-weight: 400;
				span {
					color: $clr-orange;
					line-height: 1.5rem;
					margin-right: 0.25rem;
				}
			}
		}
	}
	.go-to-setting {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: flex-end;
		margin-left: auto;
		padding: 0.75rem 0.75rem;
		.btn {
			border-radius: 0;
		}
	}
}

// media queries
// Small devices
@media (min-width: 576px) {
	// recipe items starts
	.recipe-item {
		.overlay {
			padding-bottom: 0.75rem;
			padding-top: 0.75rem;
			h6 {
				margin-bottom: 0.125rem;
			}
		}
	}
	// recipe items end

	// timelines post starts
	.timeline-posts {
		.user-info {
			.avt-name-rating {
				.name-rating {
					span {
						display: inline-block;
					}
				}
			}
			.post-time {
				span {
					display: inline-block;
				}
			}
		}
	}
	// timelines post ends

	// table order responsive starts
	.table-responsive {
		.td-1 {
			flex-basis: calc(100% * 150.6 / 294);
		}
		.td-2 {
			flex-basis: calc(100% * 30.6 / 294);
		}
		.td-3 {
			flex-basis: calc(100% * 35.6 / 294);
		}
		.td-4 {
			flex-grow: 1;
		}
		.table-heading {
			.td-heading {
				font-size: 1rem;
			}
		}
		.table-row {
			.td-content.td-1 {
				img {
					margin-right: 1rem;
				}
				.name-rest {
					display: block;
				}
			}
			.btn {
				text-transform: capitalize;
			}
		}
	}
	// table order responsive ends

	//my account starts
	.profile-bg {
		.avt-name-local {
			.avatar {
				img {
					height: 10rem;
					width: 10rem;
				}
			}
			.name-location {
				margin-left: 11.5rem;
				padding: 0.875rem 0;
			}
		}
	}
	//my account ends
}

// Medium devices
@media (min-width: 768px) {
	// card starts
	.card {
		.content {
			.top-text {
				.sub-heading {
					padding-top: 0.25rem;
				}
				h4 {
					font-size: 1.125rem;
				}
				h5 > a {
					font-size: 0.875rem;
				}
				p {
					font-size: 0.875rem;
				}
			}
		}
	}
	// card ends
	// title bar starts
	.title-bar {
		.left-title-text,
		.right-title-text {
			padding: 1.5rem 0.16rem 1.5rem 0rem;
		}
		.left-title-text {
			justify-content: flex-start;
		}
		.right-title-text {
			justify-content: flex-end;
		}
	}
	// title bar ends
}

// Large devices
@media (min-width: 992px) {
	// recipe items stars
	.recipe-item {
		.overlay {
			padding-bottom: 1rem;
			padding-top: 1rem;
			h6 {
				margin-bottom: 0.25rem;
			}
		}
	}
	// recipe items ends

	// over restaurants starts
	.over-restaurants {
		.view-restaurants {
			justify-content: center;
			padding-top: 2rem;
		}
	}
	// over restaurants ends

	//my account starts
	.profile-bg {
		.avt-name-local {
			.name-location {
				h2 {
					font-size: 1.375rem;
				}
				p {
					font-size: 0.875rem;
				}
			}
		}
	}
	//my account ends
}

// X-Large devices
@media (min-width: 1200px) {
	// recipe items stars
	.recipe-item {
		.overlay {
			padding-bottom: 0.75rem;
			padding-top: 0.75rem;
			h6 {
				margin-bottom: 0.125rem;
			}
		}
	}
	// recipe items ends

	//my account starts
	.profile-bg {
		.avt-name-local {
			.avatar {
				img {
					height: 13.75rem;
					width: 13.75rem;
				}
			}
			.name-location {
				margin-left: 15.75rem;
				padding: 1.5rem 0;
				h2 {
					font-size: 1.5rem;
				}
				p {
					padding-top: 0.5rem;
				}
			}
		}
	}
	//my account ends
}

// XX-Large devices
@media (min-width: 1400px) {
}
