@import "_variable";
*::selection {
	background: rgba(255, 255, 255, 0.3);
	color: black;
}
/*review starts*/
.block-review {
	position: relative;
	.video-intro {
		position: relative;
		width: 100%;
		height: 81vh;
		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		button {
			position: absolute;
			bottom: 1.5rem;
			right: 1.5rem;
			width: 3.375rem;
			box-sizing: border-box;
			padding-left: 0;
			padding-right: 0;
			.volume-up {
				display: block;
			}
			.volume-off {
				display: none;
			}
		}
		button.active {
			.volume-up {
				display: none;
			}
			.volume-off {
				display: block;
			}
		}
	}
	.video-intro:hover + .container {
		visibility: visible;
	}
	.container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		visibility: hidden;
		&:hover {
			visibility: visible;
		}
		.left-review {
			display: none;
		}
		.form-container {
			background-color: #ffffff1a;
			margin-top: 2.875rem;
			padding-top: 5rem;
			padding-bottom: 5rem;
		}
	}
}
/*review ends*/
// step working starts
.step-working {
	padding: 3.125rem 0 4.375rem;
	.working-item {
		display: flex;
		flex-direction: row;
		padding-top: 1.785rem;
		.img-item {
			align-items: center;
			border: 0.063rem solid rgba(0, 0, 0, 0.2);
			display: flex;
			height: 4.375rem;
			justify-content: center;
			margin-right: 1.785rem;
			padding-left: 1rem;
			padding-right: 1rem;
			img {
				height: 2.125rem;
				width: 2.125rem;
				&:hover {
					animation: rotate 0.7s linear forwards;
				}
			}
		}
		.content-heading-item {
			font-size: 1.125rem;
		}
		p {
			color: rgba(0, 0, 0, 0.5);
			margin-top: 1rem;
		}
	}
}
// step working ends
/*order food online starts*/
.order-online {
	text-align: center;
	.heading h2 {
		font-size: 1.5rem;
	}
	.your-location {
		font-size: 0.875rem;
		margin-top: 1rem;
		p {
			color: #847577;
			margin-bottom: 0;
		}
	}
	.search-location {
		padding: 0.875rem 0.9375rem 1.25rem;
		margin: 0 auto;
		.form-group {
			margin-bottom: 0;
		}
	}
	.meal-btn {
		margin-top: 4rem;
	}
}
/*order food online ends*/
/*offer bannar starts*/
.offer-banner {
	margin: 3rem 0 4rem;
	color: #fff;
	.banner {
		position: relative;
		margin-top: 2rem;
		padding: 1.25rem;
		.ads-banner-1,
		.ads-banner-2 {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			bottom: 0;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			z-index: -1;
		}
		.ads-banner-1 {
			background-image: url(../images/banner-1.jpg);
		}
		.ads-banner-2 {
			background-image: url(../images/banner-2.jpg);
		}
		.banner-text {
			h2 {
				font-size: 1.5rem;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			p {
				font-size: 0.875rem;
				margin-bottom: 1.125rem;
			}
		}
		.banner-btn a {
			font-size: 0.75rem;
		}
		.long-arrow i {
			color: orange;
		}
	}
}
/*offer bannar ends*/
/*quick searches starts*/
.quick-searches {
	.col-12 {
		text-align: center;
	}
	.sub-heading {
		margin: 1rem 0 3rem;
	}
	.list-meal {
		padding: 1.8rem 0 1.5rem;
		border: 0.063rem solid $clr-border;
		.places {
			align-items: center;
			display: flex;
			flex-basis: 50%;
			flex-direction: column;
			flex-grow: 1;
			text-align: center;
			.places-icon {
				img {
					height: 1.875rem;
				}
				&:hover {
					animation: rotate 0.7s linear forwards;
				}
			}
			.places-text {
				color: gray;
				font-size: 0.875rem;
				&:hover {
					color: $clr-orange;
				}
			}
		}
	}
}
/*quick searches ends*/
/*featured restaurants starts*/
.featured-restaurants {
	.row {
		padding-left: 0.75rem;
		padding-right: 0.75rem;
	}
	.heading {
		padding-top: 2rem;
		h2 {
			font-size: 1.4rem;
			font-weight: bold;
			text-align: center;
		}
	}
	.list-features,
	.list-treading {
		margin-top: 3rem;
	}
	.feature-item,
	.treading-item {
		padding: 1rem;
		border: 0.063rem solid $clr-border;
		border-bottom: 0;
		&:last-child {
			border-bottom: 0.063rem solid $clr-border;
		}
	}
	.img-item {
		display: flex;
		justify-content: center;
		img {
			height: 3.125rem;
			object-fit: cover;
			width: 3.125rem;
		}
		.info-img {
			margin-left: 0.5rem;
			h4 {
				font-size: 1rem;
				overflow: hidden;
				margin-bottom: 0.25rem;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			p {
				color: $clr-text;
				font-size: 0.875rem;
				margin-bottom: 0;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}
	.location-item {
		text-align: center;
		padding: 0.5rem 0 1rem;
		.icon {
			color: $clr-orange;
			font-weight: bold;
			margin-right: 0.2rem;
		}
		.text {
			color: $clr-text;
			font-size: 0.875rem;
		}
	}
	.btn-item {
		display: flex;
		justify-content: center;
	}
	.list-treading {
		.img-item {
			justify-content: unset;
		}
		.btn-item {
			justify-content: flex-end;
			span {
				display: none;
			}
		}
	}
}
/*featured restaurants ends*/
/*explore recipes starts*/
.explore-recipes {
	margin-top: 5rem;
	margin-bottom: 5rem;
	box-sizing: border-box;
	h2 {
		font-size: 1.5rem;
		text-align: center;
	}
	.recipe-btn {
		margin-top: 4rem;
		text-align: center;
	}
}
/*explore recipes ends*/
/*---------------------------------------------------------------------------------*/
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	/*review starts*/
	.block-review {
		.container {
			.left-review {
				color: #ffffff;
				padding: 5.225rem 0px 5.813rem;
				display: block;
				.title {
					font-size: 139%;
					margin-bottom: 0.5rem;
				}
				.exception {
					font-size: 105%;
				}
				.time-services {
					margin-bottom: 1.5rem;
				}
			}
			.right-review {
				padding: 0 1rem 0 0;
			}
		}
	}
	/*review ends*/
	/*order online starts */
	.order-online .row-meal {
		padding: 0 4rem;
	}
	/*order online ends */
	// feature restaurants starts
	.featured-restaurants .list-treading .btn-item span {
		display: inline-block;
	}
	// feature restaurants ends
}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	/*review starts*/
	.block-review {
		.container {
			.left-review {
				padding: 6.063rem 0 5.813rem;
				.title {
					font-size: 142%;
					margin-bottom: 1.5rem;
				}
				.exception {
					font-size: 115%;
				}
			}
			.right-review {
				padding: 0 0.75rem;
			}
		}
	}
	/*review ends*/
	/*step woking starts*/
	.step-working {
		.working-item {
			flex-wrap: wrap;
			position: relative;
			.img-item {
				height: 3rem;
				margin-right: 0;
				position: absolute;
				right: 0;
				top: 0;
				width: 3rem;
				img {
					height: 2rem;
					width: 2rem;
				}
			}
		}
	}
	/*step woking end*/
	/*order online starts */
	.order-online .row-meal,
	.offer-banner .row,
	.featured-restaurants .row-features {
		padding: 0;
	}
	/*order online ends */
	/*featured restaurants starts*/
	.featured-restaurants {
		.img-item {
			justify-content: unset;
		}
		.btn-item {
			justify-content: flex-end;
			align-items: center;
			height: 100%;
		}
	}
	/*featured restaurants ends*/
}
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	/*review starts*/
	.block-review {
		.left-review {
			padding-top: 5.625rem;
			.title {
				font-size: 250%;
				margin-bottom: 1.9rem;
			}
		}
	}
	/*review ends*/
	/*features restaurants starts*/
	.featured-restaurants .my-btn span {
		display: none;
	}
	.featured-restaurants .img-item .info-img {
		width: 100%;
	}
	/*features restaurants ends*/
}
/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	/*review starts*/
	.block-review {
		.container {
			.left-review {
				padding: 5rem 0 5.813rem;
				.title {
					font-size: 300%;
					margin-bottom: 2rem;
				}
			}
			.right-review {
				padding: 0 1.75rem;
			}
		}
	}
	/*review ends*/
}
/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
	/*step woking starts*/
	.step-working {
		.working-item {
			flex-wrap: nowrap;
			.img-item {
				height: 4.385rem;
				margin-right: 1.785rem;
				position: static;
				padding-left: 2.25rem;
				padding-right: 2.25rem;
				img {
					height: 2.5rem;
					width: 2.5rem;
				}
			}
		}
	}
	/*step woking end*/
	.container .row {
		padding: 0 2rem;
	}
}

@media (max-width: 375px) {
	.list-treading .my-btn span {
		display: none;
	}
}
