@import "_variable";
/*all partners starts*/
.all-partners {
	.filters {
		margin-top: 5rem;
		margin-bottom: 5rem;
	}
}
/*list partner starts*/
.list-partners {
	.parners-section:last-child {
		.partners-bar {
			margin-bottom: 0;
		}
	}
	.partners-bar {
		border: 1px solid $clr-border;
		margin-bottom: 1.875rem;
		.partners-top {
			border-bottom: 1px solid $clr-border;
			display: flex;
			flex-wrap: wrap;
			padding: 1rem;
			position: relative;
			img {
				display: block;
				height: 7.5rem;
				object-fit: cover;
				margin-bottom: 1.5rem;
				margin-right: 1.5rem;
				width: 7.5rem;
			}
			.partner-info {
				flex: 1 0 auto;
				width: 17rem;
			}
			h4 {
				color: $clr-black;
				font-size: 1.125rem;
				font-weight: 600;
				margin-bottom: 0.375rem;
				@include transition();
				&:hover {
					color: $clr-orange;
				}
			}
			.country {
				font-size: 0.875rem;
				color: $clr-text;
			}
			.location {
				color: $clr-text;
				font-size: 0.875rem;
				margin-top: 0.375rem;
				width: 100%;
				i {
					color: $clr-orange;
					margin-right: 0.25rem;
				}
			}
			.btns {
				color: $clr-orange;
				align-items: center;
				display: flex;
				font-size: 1rem;
				margin-top: 0.5rem;
				.btn {
					margin-right: 0.5rem;
					font-weight: 500;
					font-style: italic;
					&:hover {
						background-color: $clr-orange-hover;
					}
				}
			}
			.on-off {
				right: 1rem;
				position: absolute;
				top: 1rem;
				p {
					font-size: 0.75rem;
				}
				i {
					margin-right: 0.25rem;
				}
			}
		}
		.partners-middle {
			border-bottom: 1px solid $clr-border;
			display: flex;
			justify-content: space-between;
			padding: 2.75rem 1rem 1rem;
			position: relative;
			.text {
				color: $clr-text;
				font-size: 0.875rem;
			}
			li {
				margin-bottom: 0.375rem;
			}
			.bookmark {
				color: $clr-text;
				font-size: 0.875rem;
				position: absolute;
				right: 1rem;
				top: 1rem;
				span {
					margin-left: 0.125rem;
					text-transform: capitalize;
				}
			}
		}
		.partners-bottom {
			.links {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				li {
					border-right: 1px solid $clr-border;
					padding: 1rem 0;
					text-align: center;
				}
				&:last-child {
					li {
						border-right: 0;
					}
				}
				a {
					color: $clr-text;
					font-size: 0.875rem;
					@include transition();
					&:hover {
						color: $clr-orange;
					}
				}
				i {
					margin-right: 0.25rem;
				}
			}
		}
	}
}
/*list partner ends*/
/*result popular starts*/
.result-popular {
	margin-top: 5rem;
	margin-bottom: 5rem;
	.show-map-result {
		padding: 1rem;
		border: 1px solid $clr-border;
		text-align: center;
		margin-bottom: 3.125rem;
		a {
			color: $clr-text;
			@include transition();
			&:hover {
				color: $clr-orange;
			}
		}
	}
	h4 {
		font-size: 1.125rem;
		margin-bottom: 1.375rem;
	}
}
/*result popular ends*/
/*all partners ends*/
/*---------------------------------------------------------------------------------*/
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	/*list partenrs starts*/
	.list-partners {
		.partners-bar {
			.partners-top {
				img {
					margin-bottom: 0;
				}
				.partner-info {
					width: auto;
				}
			}
			.partners-middle {
				padding-top: 1rem;
			}
		}
	}
	/*list partenrs ends*/
}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	/*list partners starts*/
	.list-partners {
		margin-top: 5rem;
		margin-bottom: 5rem;
		.partners-bar {
			.partners-top {
				img {
					margin-bottom: 1.5rem;
				}
				.partner-info {
					width: auto;
				}
			}
			.partners-middle {
				padding-top: 1rem;
			}
		}
	}
	.result-popular {
		display: none;
	}
	/*list partners ends*/
}
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	/*list partners starts*/
	.list-partners {
		.partners-bar {
			.partners-top {
				img {
					margin-bottom: 0;
				}
			}
		}
	}
	.result-popular {
		display: block;
		.caption span {
			display: none;
		}
	}
	/*list partners ends*/
}
/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	/*list partners starts*/
	.result-popular .caption span {
		display: inline-block;
	}
	/*list partners ends*/
}
/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
	/*how to orders ends */
	.container .row {
		padding: 0 2rem;
	}
}
