@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*::selection {
	background: rgba(255,255,255,.3);
	color: black;
}
/*title bar starts*/
.title-bar {
	background-color: rgb(243, 243, 243);
}
.title-bar .left-title-text,
.title-bar .right-title-text {
	display: flex;
	justify-content: center;
}
.title-bar .left-title-text {
	padding: 1rem 0.16rem 0.5rem 1rem;
}
.title-bar .right-title-text {
	padding-bottom: 1rem;
}
.title-bar .right-title-text a {
	color: black;
}
.title-bar .left-title-text h3 {
	margin: 0;
	font-size: 1.5rem;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}
.title-bar .breadcrumb {
	display: flex;
	align-items: center;
	height: 2rem;
	flex-wrap: wrap;
	justify-content: center;
}
.breadcrumb-item.active {
	color: var(--clr-orange);
}
.title-bar .breadcrumb-item+.breadcrumb-item::before {
  padding-left: .5rem;
  padding-right: .5rem;
  color: #6c757d;
  content: '/';
}
/*title bar ends*/
/*video detail recipes starts*/
.video-detail-recipes {
	margin-top: 5rem;
	margin-bottom: 5rem;
}
.video-detail-recipes .profile-toolbars {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.75rem;
}
.video-detail-recipes .profile-toolbars .user-details {
	display: flex;
	align-items: center;
}
.video-detail-recipes .user-img img {
	display: block;
	width: 3.75rem;
	height: 3.75rem;
	object-fit: cover;
	border-radius: 50%;
}
.video-detail-recipes .user-details .name-location {
	margin-left: 1rem;
}
.video-detail-recipes .name-location h4 {
	color: var(--clr-black);
	font-weight: 400;
	margin-bottom: 0.25rem;
	font-size: 1.125rem;
}
.video-detail-recipes .name-location p {
	font-size: 1rem;
	color: var(--clr-text);
}
.video-detail-recipes .name-location span {
	padding-right: 0.25rem;
}
.video-detail-recipes .name-location i {
	color: var(--clr-orange);
	font-weight: bold;
}
.video-detail-recipes .profile-toolbars .right-btns {
	display: flex;
	font-size: 1.125rem;
	align-items: center;
}
.video-detail-recipes .right-btns > button,
.video-detail-recipes .follow-btn button {
	height: 2.5rem;
	background-color: transparent;
	color: var(--clr-orange);
	border: 1px solid var(--clr-orange);
	transition: var(--transition);
}
.video-detail-recipes .right-btns > button:hover,
.video-detail-recipes .follow-btn button:hover {
	color: var(--clr-white);
	background-color: var(--clr-orange);
}
.video-detail-recipes .right-btns > button {
	width: 2.5rem;
	padding: 0.5rem;
}
.video-detail-recipes .follow-btn button {
	margin-left: 0.5rem;
	display: none;
	transition: var(--transition);
}
.video-detail-recipes .video iframe {
	width: 100%;
}
.video-detail-recipes .title-share {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	font-size: 1.5rem;
	font-weight: 500;
}
.video-detail-recipes .title-share .title {
	width: 70%;
}
.video-detail-recipes .title-share .share {
	position: relative;
}
.video-detail-recipes .share .btn-share {
	font-size: 1.125rem;
	color: var(--clr-text);
	cursor: pointer;
	transition: var(--transition);
}
.video-detail-recipes .share .btn-share:hover {
	color: var(--clr-black);
}
.video-detail-recipes .share .btn-share i {
	margin-right: 0.25rem;
}
.video-detail-recipes .share .share-socials {
	position: absolute;
	display: flex;
	flex-direction: column;
	right: -1rem;
	top: 100%;
	box-shadow: rgba(0, 0, 0, 0.35) -0.15rem 0.15rem 0.875rem;
	margin-top: 0.75rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	box-sizing: border-box;
	display: none;
	transition: var(--transition);
	z-index: 1;
}
.video-detail-recipes .share.active .share-socials {
	display: block;
	animation: rightLeft 0.5s forwards;
	background-color: var(--clr-white);
}
@keyframes rightLeft {
	100% {
		transform: translateX(-1rem);
	}
}
.video-detail-recipes .share-socials a {
	display: block;
	width: 8rem;
	padding: 0.5rem 1rem;
	font-size: 0.75rem;
	color: var(--clr-text);
	transition: var(--transition);
}
.video-detail-recipes .share-socials a:hover {
	color: var(--clr-black);
	padding-left: 1.25rem;
}
.video-detail-recipes .share-socials i {
	margin-right: 0.25rem;
}
.video-detail-recipes .published-comments {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid var(--clr-border);
	border-bottom: 1px solid var(--clr-border);
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	color: var(--clr-text);
	font-size: 0.875rem;
	flex-direction: column;
	align-items: center;
}
.video-detail-recipes .like-comment-view {
	display: flex;
	align-items: center;
	margin-top: 0.5rem;
}
.video-detail-recipes .published-time i {
	margin-right: 0.25rem;
}
.video-detail-recipes .like-comment-view div {
	margin-left: 2rem;
	cursor: pointer;
	transform: var(--transition);
}
.video-detail-recipes .like-comment-view div:first-child {
	margin-left: 0;
}
.video-detail-recipes .like-comment-view div:hover {
	color: var(--clr-orange);
}
.video-detail-recipes .like-comment-view i {
	margin-right: 0.25rem;
}
.video-detail-recipes .all-tab {
	margin-top: 1.875rem;
	transition: var(--transition);
}
.video-detail-recipes .all-tab .nav-tab {
	display: flex;
	border-bottom: 1px solid var(--clr-border);
	padding: 1rem 0;
}
.video-detail-recipes .nav-item {
	margin-bottom: -1.5px;
}
.video-detail-recipes .tab-content .comment-post {
	margin-top: 1.875rem;
}
.video-detail-recipes .tab-content .post-items {
	display: flex;
	padding: 1.25rem;
	border: 1px solid var(--clr-border);
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
}
.video-detail-recipes .tab-content .img-user {
	height: 3.125rem;
	width: 3.125rem;
	text-align: center;
	line-height: 3.125rem;
	font-size: 1.25rem;
	background-color: var(--clr-border);
	color: var(--clr-white);
	border-radius: 50%;
}
.video-detail-recipes .tab-content form {
	flex: 1 0 100%;
	display: flex;
	flex-wrap: wrap;
}
.video-detail-recipes .tab-content .post-input {
	padding: 0.875rem 1rem;
	outline: none;
	border: 1px solid var(--clr-border);
	font-size: 1rem;
	flex: 1 0 auto;
	margin-top: 1rem;
	margin-right: 1rem;
}
.video-detail-recipes .tab-content .post-input:focus {
	border-color: var(--clr-orange);
}
.video-detail-recipes .tab-content .my-btn {
	padding: 0.875rem 1rem;
	font-size: 1rem;
	margin-top: 1rem;
}
.video-detail-recipes .tab-content .main-comments {
	margin-top: 1.875rem;
}
.video-detail-recipes .tab-content .tab-pane {
	display: none;
	transition: var(--transition);
}
.video-detail-recipes .tab-content .tab-pane.active {
	display: block;
}
.video-detail-recipes .main-comments > div {
	padding: 1.25rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	border: 1px solid var(--clr-border);
	border-bottom-width: 0;
}
.video-detail-recipes .main-comments > div:last-child {
	border-bottom-width: 1px;
}
.video-detail-recipes .main-comments .desciption-comment {
	width: 100%;
}
.video-detail-recipes .main-comments .user-comment {
	display: flex;
	align-items: center;
}
.video-detail-recipes .user-comment img {
	width: 3.125rem;
	height: 3.125rem;
	margin-right: 1.25rem;
	object-fit: cover;
	border-radius: 50%;
}
.video-detail-recipes .user-comment h4 {
	font-size: 1.125rem;
	font-weight: 500;
	color: var(--clr-black);
}
.video-detail-recipes .main-comments .reply-time {
	display: flex;
	align-items: center;
}
.video-detail-recipes .reply-time a {
	color: var(--clr-black);
	margin-right: 1rem;
	transition: var(--transition);
}
.video-detail-recipes .reply-time a:hover {
	color: var(--clr-orange);
}
.video-detail-recipes .reply-time p {
	color: var(--clr-text);
	font-size: 0.875rem;
}
.video-detail-recipes .desciption-comment {
	margin-top: 0.75rem;
}
.video-detail-recipes .desciption-comment p {
	color: var(--clr-text);
	font-size: 0.875rem;
	line-height: 1.5rem;
}
.video-detail-recipes .desciption-comment p a {
	color: var(--clr-black);
	font-size: 1rem;
}
.video-detail-recipes .reply-comment .post-items {
	padding: 0;
	border-width: 0;
}
.video-detail-recipes .reply-comment .img-user img {
	display: block;
	width: 100%;
	height: 100%;
	background-color: transparent;
}
.video-detail-recipes #reviews .select-rating {
	margin-left: 0.875rem;
	display: flex;
	align-items: center;
	font-size: 1rem;
}
.video-detail-recipes .select-rating h4 {
	font-size: 0.875rem;
	font-weight: 400;
	margin-right: 0.25rem;
}
.video-detail-recipes .select-rating .rating i {
	color: var(--clr-text);
	transition: var(--transition);
}
.video-detail-recipes .select-rating .rating i:hover {
	color: var(--clr-orange);
}
.video-detail-recipes #reviews form {
	margin-left: 0;
	width: 100%;
	margin-top: 1rem;
}
.video-detail-recipes #reviews .post-input {
	margin-left: 0;
	width: calc(100% - 4rem);
	margin-top: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.video-detail-recipes #reviews .my-btn {
	margin-left: 0;
}
.video-detail-recipes .name-rating i,
.video-detail-recipes .my-rating i,
.video-detail-recipes .caption i {
	color: var(--clr-orange);
	margin-right: 0.25rem;
}
.video-detail-recipes .name-rating .rating,
.video-detail-recipes .my-rating .rating,
.video-detail-recipes .caption .rating {
	display: flex;
	align-items: center;
}
.video-detail-recipes .name-rating span,
.video-detail-recipes .my-rating span,
.video-detail-recipes .caption .rating span {
	padding: 0.25rem 0.4rem;
	font-size: 0.75rem;
	background-color: var(--clr-orange);
	color: var(--clr-white);
	border-radius: 3rem;
	margin-left: 0.25rem;
}
/*right side starts*/
.video-detail-recipes .right-side {
	padding: 0 0.5rem;
	margin-top: 2rem;
}
.video-detail-recipes .right-side .my-rating {
	margin-bottom: 3.25rem;
}
.video-detail-recipes .my-rating h4 {
	margin-bottom: 1rem;
	font-size: 1.25rem;
	font-weight: 600;
}
.video-detail-recipes .my-rating .rating i {
	font-size: 1.25rem;
}
.video-detail-recipes .my-rating span {
	font-size: 0.875rem;
}
.video-detail-recipes .about-recipe {
	margin-bottom: 2.75rem;
}
.video-detail-recipes .about-recipe h4,
.video-detail-recipes .recommended > h4 {
	font-size: 1.25rem;
	color: var(--clr-black);
	font-weight: 600;
	margin-bottom: 1.375rem;
}
.video-detail-recipes .about-recipe p {
	line-height: 1.5rem;
	color: var(--clr-text);
	padding-bottom: 1rem;
	transition: var(--transition);
}
.video-detail-recipes .about-recipe .more {
	display: none;
}
.video-detail-recipes .about-recipe .see {
	color: var(--clr-orange);
	font-size: 1rem;
	cursor: pointer;
}
.video-detail-recipes .recommended-meal-item {
	display: flex;
	border: 1px solid var(--clr-border);
	margin-bottom: 1rem;
}
.video-detail-recipes .recommended-meal-item img {
	width: 7.5rem;
	height: 7.5rem;
	object-fit: cover;
}
.video-detail-recipes .recommended-meal-item .caption {
	padding: 1.125rem 1.125rem 0 1.125rem;
}
.video-detail-recipes .caption h4 {
	color: var(--clr-black);
	font-size: 1.125rem;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-bottom: 0.25rem;
}
.video-detail-recipes .caption p {
	font-size: 1rem;
	color: var(--clr-text);
	line-height: 1.5rem;
}
.video-detail-recipes .caption p .published-span {
	display: none;
	transition: var(--transition);
}
.video-detail-recipes .caption .rating {
	padding-top: 0.5rem;
}
/*right side ends*/
.footer {
	margin-top: 10rem;
}
/*video detail recipes ends*/
/*---------------------------------------------------------------------------------*/
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	/*right btn starts*/
	.video-detail-recipes .follow-btn button {
		display: block;
	}
	/*right btn ends*/
	/*published comments starts*/
	.video-detail-recipes .published-comments {
		flex-direction: row;
	}
	/*published comments ends*/
	/*post commnet starts*/
	.video-detail-recipes .tab-content form {
		margin-left: 1rem;
		flex-basis: auto;
	}
	.video-detail-recipes .tab-content .post-input {
		margin-top: 0;
	}
	.video-detail-recipes .tab-content .my-btn {
		margin-top: 0;
	}
	.video-detail-recipes #reviews .my-btn {
		margin-left: 4rem;
		margin-top: 1rem;
	}
	.video-detail-recipes #reviews .post-input {
		margin-left: 4rem;
		margin-top: 0;
	}
	/*post commnet ends*/
	/*recomment item starts*/
	.video-detail-recipes .caption p .published-span {
		display: inline;
	}
	/*recomment item ends*/
}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	/*title bar starts*/
	.title-bar .left-title-text,
	.title-bar .right-title-text {
		padding: 1.5rem 0.16rem 1.5rem 0;
	}
	.title-bar .left-title-text {
		justify-content: flex-start;
	}
	.title-bar .right-title-text {
		justify-content: flex-end;
	}
	/*title bar ends*/
	/*post comment starts*/
	.video-detail-recipes .tab-content form {
		margin-left: 1rem;
		margin-top: 0;
	}
	.video-detail-recipes .reply-comment form {
		margin-left: 1rem;
		margin-top: 0;
	}
	/*post comment ends*/
}
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	/*right side starts*/
	.video-detail-recipes .right-side {
		margin-top: 0;
	}
	/*right side ends*/
	/*recomment item starts*/
	.video-detail-recipes .caption p .published-span {
		display: none;
	}
	/*recomment item ends*/
}
/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
	/*how to orders ends */
	.container .row {
		padding: 0 2rem;
	}
	/*recomment item starts*/
	.video-detail-recipes .caption p .published-span {
		display: inline;
	} 
	/*recomment item ends*/
}
