@import "_variable";
@import "my_profile";
@import "add_restaurant";

/*order online*/
#order-online {
	.tab-pane-heading {
		.btn-open-modal {
			color: $clr-orange;
			cursor: pointer;
		}
	}
	.order-tabs {
		margin-top: 1rem;
		.nav-tab {
			justify-content: space-between;
		}
		.nav-item {
			@include transition();
			align-items: center;
			cursor: pointer;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-bottom: 0.375rem;
			width: 5.9rem;
			.nav-tab-btn {
				border-right-width: 1px;
				text-align: center;
				width: 100%;
				&.active {
					background-color: $bg-title;
					border-color: $clr-orange;
				}
			}
			img {
				height: 1.875rem;
			}
			p {
				color: $clr-text;
				font-size: 0.875rem;
			}
			&:hover {
				background-color: $bg-title;
			}
		}
	}
	.tab-pane {
		h6 {
			color: $clr-black;
			font-size: 1rem;
			font-weight: 500;
			margin-top: 0.625rem;
		}
	}
	.all-meals {
		.row {
			padding: 0;
		}
		.meals {
			align-items: center;
			border: 1px solid $clr-border;
			display: flex;
			flex-wrap: wrap;
			margin-left: -0.75rem;
			margin-right: -0.75rem;
			margin-top: 1.25rem;
			.capiton-meals {
				padding: 0.875rem;
				h3 {
					@include transition();
					color: $clr-black;
					font-weight: 600;
					margin-bottom: 0.5rem;
					padding: 0;
					&:hover {
						color: $clr-orange;
					}
				}
				.price {
					color: $clr-orange;
					font-size: 1.5rem;
					margin-top: 0.35rem;
				}
			}
			img {
				object-fit: cover;
				height: 15rem;
				width: 100%;
			}
		}
	}
	.modal-container {
		align-items: initial;
		.modal-content {
			margin-bottom: 3rem;
			margin-top: 3rem;
			.modal-header {
				padding-left: 1.75rem;
				padding-right: 1.75rem;
			}
			.form-container {
				padding: 0;
				.select-photos {
					display: flex;
					flex-wrap: wrap;
					margin-bottom: 0.375rem;
					.img-preview {
						border: 1px solid $clr-border;
						object-fit: cover;
						height: 4rem;
						margin-right: 1.5rem;
						margin-top: 1.5rem;
						width: 4rem;
					}
				}
				.modal-footer {
					.form-group {
						display: flex;
					}
					.submit-add-meal {
						margin-right: 0.5rem;
					}
				}
				.col-sm-6 {
					.form-group {
						margin-bottom: 0;
						.clear-all-photos {
							margin-top: 0.5rem;
						}
					}
				}
			}
		}
	}
}

// photos
#photos {
	.gallery-item {
		a {
			align-items: center;
			background-color: rgba(0, 0, 0, 0.6);
			display: flex;
			left: 0.5rem;
			height: calc(100% - 1rem);
			justify-content: center;
			position: absolute;
			transform: scaleY(0);
			transform-origin: left bottom;
			transition: transform 0.3s linear;
			top: 0.5rem;
			width: calc(100% - 1rem);
		}
		i {
			color: $clr-white;
			font-size: 3rem;
			height: 3rem;
			width: 3rem;
		}
		&:hover {
			a {
				transform: scaleY(1);
				transform-origin: left top;
				visibility: visible;
			}
		}
	}
}

/*---------------------------------------------------------------------------------*/
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	// order online starts
	#order-online {
		.modal-container {
			.modal-content {
				.form-container {
					.col-sm-6 {
						.form-group {
							.clear-all-photos {
								margin-top: 0;
							}
						}
					}
				}
			}
		}
	}
	// order online ends
}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	/*order starts*/
	#order-online {
		.all-meals {
			.meals {
				margin-right: 0;
				img {
					height: 10rem;
				}
			}
			.row {
				.col:nth-child(odd) {
					padding-right: 1rem;
				}
				.col:nth-child(even) {
					padding-left: 1rem;
					padding-right: 0;
				}
			}
		}
	}
	/*order ends*/
}
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}
/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
}
