@import "_variable";
/*upload video starts*/
.upload-video {
	background-image: url(../images/upload-bg.jpg);
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	padding: 5rem 0;
	.heading {
		text-align: center;
		h1 {
			color: $clr-black;
			font-size: 1.5rem;
			font-weight: 600;
		}
	}
	form {
		.row {
			justify-content: center;
		}
	}
	.form-container {
		background-color: $clr-white;
		border: 1px solid $clr-border;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		margin-top: 2.5rem;
		padding: 2rem;
		text-align: left;
		.textarea-form {
			font-family: "Roboto", sans-serif;
			max-width: 100%;
			min-height: 6.25rem;
			min-width: 100%;
		}
		.upload-file-form {
			cursor: pointer;
			height: 100%;
			opacity: 0;
			outline: none;
			width: 100%;
			position: absolute;
		}
		.box {
			border: 1px solid $clr-border;
			padding: 1.25rem 0 1.25rem 1.25rem;
			position: relative;
			label {
				color: $clr-white;
				display: inline-block;
				font-size: 0.875rem;
			}
			span {
				display: block;
				font-size: 0.875rem;
				font-weight: 500;
				margin-bottom: 0.5rem;
			}
		}
	}
}

/*---------------------------------------------------------------------------------*/
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	/*upload video starts*/
	.upload-video .form-container .box span {
		display: inline-block;
		margin-left: 0.65rem;
	}
	/*upload video ends*/
}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}
/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
}
