<!-- title bar starts -->
<section class="title-bar">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-md-6">
				<div class="left-title-text">
					<h3>About us</h3>
				</div>
			</div>
			<div class="col col-12 col-md-6">
				<div class="right-title-text">
					<div class="breadcrumb">
						<div class="breadcrumb-item">
							<a href="/">Home</a>
						</div>
						<div class="breadcrumb-item active">About us
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- title bar ends -->
<!-- about Natto starts -->
<section class="about-natto">
	<div class="container">
		<div class="row">
			<div class="col col-12">
				<div class="heading">
					<h4>What is Natto</h4>
				</div>
				<div class="about-content">
					<p>
						Vivamus tortor nisl, lobortis in, faucibus et, tempus at, dui. Nunc risus. Proin scelerisque augue. Nam ullamcorper. Phasellus id massa. Pellentesque nisl. Pellentesque habitant tuni morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc augue. Aenean sed justo non leo vehicula laoreet. Praesent ipsum libero, auctor ac, tempus nec, casion tempor nec, justo cretusi sino zumbua iloseum musumfu lilokuta nabase uchiha itachi suctung from munual pracetamol curom ose testio soel lorem isutm pausm mintest osrit ucii.
					</p>
					<p>
						Maecenas ullamcorper, odio vel tempus egestas, dui orci faucibus orci, sit amet aliquet lectus dolor et quam. Pellentesque consequat luctus purus. Nunc et risus. Etiam a nibh tunil Phasellus dignissim metus eget nisi. Vestibulum sapien dolor, aliquet nec, porta ac, malesuada a, libero. Praesent feugiat purus eget est. Nulla facilisi. Vestibulum tincidunt sapiens eu velit. Mauris purus. Maecenas eget mauris eu orci accumsan feugiat. Pellentesque eget velit. Nunc tincidunt.
					</p>
				</div>
			</div>
		</div>
		<div class="row container-about-item">
		</div>
	</div>
	<div class="order-now-btn">
		<a href="/orders" class="my-btn">Order Now</a>
	</div>
</section>
<!-- about Natto ends -->
<!-- app block review starts -->
<section class="app-block-review">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-lg-5">
				<div class="pocket-item">
					<div class="heading">
						<h3>Our App</h3>
					</div>
					<div class="line">
						<img src="/images/line.svg" alt="line">
					</div>
					<p>We’ll send you a link, open it on your phone to download the app.</p>
					<div class="form-search">
						<form action="#" method="post">
							<div class="input-group">
								<input type="text" class="my-input" name="about-search" placeholder="Enter your email address">
								<button class="btn" type="submit">Send link</button>
							</div>
						</form>
					</div>
					<div class="download-btns">
						<a href="#">
							<img src="/images/app-store.png" alt="download-btn">
						</a>
						<a href="#">
							<img src="/images/play-store.png" alt="download-btn">
						</a>
					</div>
				</div>
			</div>
			<div class="col col-12 col-lg-7">
				<div class="about-video">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/0SPwwpruGIA"></iframe>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- app block review ends -->
<!-- our team starts -->
<section class="our-team">
	<div class="container">
		<div class="row">
			<div class="col col-12">
				<div class="heading">
					<h3>Our team</h3>
				</div>
			</div>
		</div>
		<div class="team">
			<div class="row list-team">
			</div>
		</div>
	</div>
</section>
<!-- our team ends -->
<!-- over restaurant starts -->
<section class="over-restaurants">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-lg-9">
				<h2>Choose From Over 15,000 Restaurants</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam augue justo, euismod at purus quis, dictum iaculis lorem. Sed dictum, dolor sit amet feugiat posuere, ante arcu iaculis tortor</p>
			</div>
			<div class="col col-12 col-lg-3">
				<div class="view-restaurants">
					<a href="#">View Restaurants</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- over restaurant ends -->