<!-- title bar starts -->
<section class="title-bar">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-md-6">
				<div class="left-title-text">
					<h3>Add Restaurant</h3>
				</div>
			</div>
			<div class="col col-12 col-md-6">
				<div class="right-title-text">
					<div class="breadcrumb">
						<div class="breadcrumb-item">
							<a href="/">Home</a>
						</div>
						<div class="breadcrumb-item active">Add Restaurant
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- title bar ends -->
<!-- add restaurant starts -->
<section class="add-restaurant">
	<form action="#" method="post">
		<div class="container">
			<div class="row">
				<div class="col col-lg-6 col-md-8 col-12">
					<div class="heading">
						<img src="/images/partner_with_us-1.svg" alt>
						<h1>Add restaurant</h1>
					</div>
					<div class="information">
						<h4>Basic Info</h4>
						<div class="form-group">
							<label for="nameRestaurant">Restaurant Name *</label>
							<input class="input-group" id="nameRestaurant" type="text" name="nameRestaurant" placeholder="Enter your restaurant name">
						</div>
						<div class="form-group">
							<label for="searchCity">City *</label>
							<input class="input-group" id="searchCity" type="search" name="searchCity" placeholder="Search city">
						</div>
						<div class="form-group">
							<div class="checkboxTitle">
								Are you the Owner or Manager of the Place?
							</div>
							<div class="filter-radio">
								<div class="radio-item">
									<input type="radio" id="owner" name="owner-manager" value="owner">
									<label for="owner">I am a Owner</label>
								</div>
								<div class="radio-item">
									<input type="radio" id="manager" name="owner-manager" value="manager">
									<label for="manager">I am a Owner</label>
								</div>
							</div>
						</div>
					</div>
					<div class="information">
						<h4>Contact info</h4>
						<div class="form-group">
							<label for="email">Email Address *</label>
							<input class="input-group" id="email" type="email" name="email" placeholder="Enter your email">
						</div>
						<div class="form-group">
							<label for="phoneNumber">Phone Number *</label>
							<input class="input-group" id="phoneNumber" type="tel" name="phoneNumber" placeholder="Owner / Manager Phone Number">
						</div>
						<div class="form-group">
							<label for="phoneRestaurant">Restaurant Phone Number *</label>
							<input class="input-group" type="tel" name="phoneRestaurant" id="phoneRestaurant" placeholder="Restaurant Phone Number">
						</div>
						<div class="form-group">
							<label for="websiteRestaurant">Restaurant Website *</label>
							<input class="input-group" type="tel" name="websiteRestaurant" id="websiteRestaurant" placeholder="Restaurant Wedsite">
						</div>
						<div class="form-group">
							<div class="checkboxTitle">
								Open Status?
							</div>
							<div class="filter-radio">
								<div class="radio-item">
									<input type="radio" id="already" name="open" value="already">
									<label for="already">This place already open</label>
								</div>
								<div class="radio-item">
									<input type="radio" id="soon" name="open" value="soon">
									<label for="soon">This place is opening soon</label>
								</div>
							</div>
						</div>
					</div>
					<div class="information">
						<h4>Timing</h4>
						<div class="form-group">
							<div class="checkboxTitle">
								Add time
							</div>
							<div class="filter-radio">
								<div class="radio-item">
									<input type="checkbox" id="monday" name="day" value="monday">
									<label for="monday">Mon</label>
								</div>
								<div class="radio-item">
									<input type="checkbox" id="tuesday" name="day" value="tuesday">
									<label for="tuesday">Tue</label>
								</div>
								<div class="radio-item">
									<input type="checkbox" id="webnesday" name="day" value="webnesday">
									<label for="webnesday">Web</label>
								</div>
								<div class="radio-item">
									<input type="checkbox" id="thursday" name="day" value="thursday">
									<label for="thursday">Thu</label>
								</div>
								<div class="radio-item">
									<input type="checkbox" id="friday" name="day" value="friday">
									<label for="friday">Fri</label>
								</div>
								<div class="radio-item">
									<input type="checkbox" id="saturday" name="day" value="saturday">
									<label for="saturday">Sat</label>
								</div>
								<div class="radio-item">
									<input type="checkbox" id="sunday" name="day" value="sunday">
									<label for="sunday">Sun</label>
								</div>
							</div>
						</div>
						<div class="container">
							<div class="row">
								<div class="col col-12 col-md-3">
									<div class="form-group">
										<div class="checkboxTitle">From *</div>
										<div class="select-time">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col col-lg-5 col-md-4 col-12"></div>
			</div>
		</div>
	</form>
</section>
<!-- add restaurant ends -->