<!-- title bar starts -->
<section class="title-bar">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-md-6">
				<div class="left-title-text">
					<h3>Browse Places</h3>
				</div>
			</div>
			<div class="col col-12 col-md-6">
				<div class="right-title-text">
					<div class="breadcrumb">
						<div class="breadcrumb-item">
							<a href="/">Home</a>
						</div>
						<div class="breadcrumb-item active">Browse Places
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- title bar ends -->
<!-- browse place all starts -->
<section class="browse-places">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-md-6">
				<div class="heading">
					<h2>Browse Places</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-12 col-md-6">
				<div class="text">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tristique non est semper commodo. Cras semper nibh nibh.</p>
				</div>
			</div>
		</div>
		<div class="row list-work">
		</div>
	</div>
</section>
<!-- browse place all ends -->