<!-- title bar starts -->
<section class="title-bar">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-md-6">
				<div class="left-title-text">
					<h3>Edit profile</h3>
				</div>
			</div>
			<div class="col col-12 col-md-6">
				<div class="right-title-text">
					<div class="breadcrumb">
						<div class="breadcrumb-item">
							<a href="/">Home</a>
						</div>
						<div class="breadcrumb-item">
							<a href="/user">My Profile</a>
						</div>
						<div class="breadcrumb-item active">Edit profile
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- title bar ends -->
<!-- my accout starts -->
<section class="my-account">
	<div class="profile-bg">
		<img alt="profile image">
		<div class="profile-top-details">
			<div class="container">
				<div class="row">
					<div class="avt-name-local">
						<div class="avatar">
							<img alt="avatar">
						</div>
						<div class="name-location">
							<h2 class="name">
							</h2>
							<div class="location">
								<p>
									<span>
										<i class="fa fa-map-marker" aria-hidden="true"></i>
									</span>
									<span class="locationDet"></span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- my accout ends -->
<!-- all profile details starts -->
<section class="all-profile-details">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-md-4 col-lg-3">
				<div class="side-bar">
					<div class="nav-tab nav-tab-column" data-id="#tab-content-side-bar">
						<div class="nav-item">
							<button class="nav-tab-btn active" data-id="#edit-profile" type="button">Edit
								Profile</button>
						</div>
						<div class="nav-item">
							<button class="nav-tab-btn" type="button" data-id="#change-password">Change
								Password</button>
						</div>
						<div class="nav-item">
							<button class="nav-tab-btn" type="button" data-id="#deactivate-account">Deactivate
								Account</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col col-12 col-md-8 col-lg-6">
				<div class="nav-content" id="tab-content-side-bar">
					<div class="tab-pane" id="edit-profile">
						<div class="tab-pane-heading">
							<h4>Edit Profile</h4>
							<a href="/user">
								<i class="fa fa-angle-double-left" aria-hidden="true"></i> Back to Profile
							</a>
						</div>
						<div class="profile">
							<form id="form-edit-profile" method="POST" action="/user/edit-profile-process?_method=PUT"
								enctype="multipart/form-data">
								<div class="form-container">
									<div class="edit-avartar">
										<div class="avatar">
											<label class="form-label-heading" for="input-upload-avartar">Avatar</label>
											<img alt="avartar">
										</div>
										<div class="upload-avartar">
											<div class="form-group overlay-file">
												<label class="form-group-label" for="upload-avartar">Upload New Avatar
													*</label>
												<input class="form-control" rules="isRequired" type="file"
													name="avartar" id="input-upload-avartar"
													placeholder="Enter your avatar">
												<div class="form-group search-form">
													<button type="button"
														class="btn btn-large btn-search search-form-item">Choose
														file</button>
													<div class="form-control search-form-item">Upload a file</div>
												</div>
												<div class="nofitication">
													<span></span>
												</div>
											</div>
										</div>
									</div>
									<div class="edit-background">
										<div class="background">
											<label class="form-label-heading" for="input-upload-background">Background
												Image</label>
											<img alt="background">
										</div>
										<div class="upload-avartar">
											<div class="form-group overlay-file">
												<label class="form-group-label" for="upload-background">Upload
													Background Image *</label>
												<input class="form-control" rules="isRequired" type="file"
													name="background" id="input-upload-background"
													placeholder="Enter your background">
												<div class="form-group search-form">
													<button type="button"
														class="btn btn-large btn-search search-form-item">Choose
														file</button>
													<div class="form-control search-form-item">Upload a file</div>
												</div>
												<div class="nofitication">
													<span></span>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="form-group-label" for="full-name">Full Name *</label>
										<div class="icon-check">
											<i class="fa fa-check-circle first-icon" aria-hidden="true"></i>
											<i class="fa fa-exclamation-circle last-icon" aria-hidden="true"></i>
										</div>
										<input class="form-control" rules="isRequired|isBetween:4:20" type="text"
											name="name" id="full-name" placeholder="Nguyen Tan Pil">
										<div class="nofitication">
											<span></span>
										</div>
									</div>
									<div class="form-group">
										<label class="form-group-label" for="location-living">Where are you live?
											*</label>
										<div class="icon-check">
											<i class="fa fa-check-circle first-icon" aria-hidden="true"></i>
											<i class="fa fa-exclamation-circle last-icon" aria-hidden="true"></i>
										</div>
										<input class="form-control" rules="isRequired" type="search" name="location"
											id="location-living" placeholder="Can Tho">
										<div class="nofitication">
											<span></span>
										</div>
									</div>
									<div class="form-group">
										<label class="form-group-label" for="description-video">Description *</label>
										<textarea class="textarea-form form-control" rules="isRequired"
											name="description" id="description-video"
											placeholder="Enter your description"></textarea>
										<div class="nofitication">
											<span></span>
										</div>
									</div>
									<div class="form-group">
										<label class="form-group-label" for="email">Email *</label>
										<div class="icon-check">
											<i class="fa fa-check-circle first-icon" aria-hidden="true"></i>
											<i class="fa fa-exclamation-circle last-icon" aria-hidden="true"></i>
										</div>
										<input class="form-control" rules="isRequired|isEmail" type="email" name="email"
											id="email" placeholder="pilnguyen@gmail.com">
										<div class="nofitication">
											<span></span>
										</div>
									</div>
									<div class="form-group">
										<div class="icon-check">
											<i class="fa fa-check-circle first-icon" aria-hidden="true"></i>
											<i class="fa fa-exclamation-circle last-icon" aria-hidden="true"></i>
										</div>
										<label class="form-group-label" for="phone-number">Phone Number *</label>
										<input class="form-control" rules="isRequired|isPhoneNumber" type="tel"
											name="phone" id="phone-number" placeholder="+84 01234 567 789">
										<div class="nofitication">
											<span></span>
										</div>
									</div>
									<div class="sends">
										<input type="submit" class="btn btn-large" value="Upload Now">
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="tab-pane" id="change-password">
						<div class="tab-pane-heading">
							<h4>Change Password</h4>
							<a href="/user">
								<i class="fa fa-angle-double-left" aria-hidden="true"></i> Back to Profile
							</a>
						</div>
						<div class="profile">
							<form id="form-change-password" method="POST" action="/user/change-password?_method=PUT">
								<div class="form-container">
									<div class="form-group">
										<label class="form-group-label" for="old-password">Old Password *</label>
										<div class="icon-check">
											<i class="fa fa-check-circle first-icon" aria-hidden="true"></i>
											<i class="fa fa-exclamation-circle last-icon" aria-hidden="true"></i>
										</div>
										<input class="form-control" rules="isRequired|isPassword" type="password"
											name="old-password" id="old-password" placeholder="Enter old password"
											autocomplete>
										<div class="nofitication">
											<span></span>
										</div>
									</div>
									<div class="form-group">
										<label class="form-group-label" for="new-password">New Password *</label>
										<div class="icon-check">
											<i class="fa fa-check-circle first-icon" aria-hidden="true"></i>
											<i class="fa fa-exclamation-circle last-icon" aria-hidden="true"></i>
										</div>
										<input class="form-control check-match-password" rules="isRequired|isPassword"
											type="password" name="new-password" id="new-password"
											placeholder="Enter new password" autocomplete>
										<div class="nofitication">
											<span></span>
										</div>
									</div>
									<div class="form-group">
										<label class="form-group-label" for="confirm-password">Confirm Password
											*</label>
										<div class="icon-check">
											<i class="fa fa-check-circle first-icon" aria-hidden="true"></i>
											<i class="fa fa-exclamation-circle last-icon" aria-hidden="true"></i>
										</div>
										<input class="form-control" rules="isRequired|isMatch" type="password"
											name="confirm-password" id="confirm-password"
											placeholder="Enter confirm password" autocomplete>
										<div class="nofitication">
											<span></span>
										</div>
									</div>
									<div class="sends">
										<input type="submit" class="btn btn-large" value="Update Now">
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="tab-pane active" id="deactivate-account">
						<div class="tab-pane-heading">
							<h4>Deactivate Account</h4>
							<a href="/user">
								<i class="fa fa-angle-double-left" aria-hidden="true"></i> Back to Profile
							</a>
						</div>
						<div class="profile">
							<form id="form-deactivate-account" method="POST"
								action="/user/delete-account?_method=DELETE">
								<div class="form-container">
									<div class="form-group">
										<label class="form-group-label" for="delete-account">Your Password *</label>
										<div class="icon-check">
											<i class="fa fa-check-circle first-icon" aria-hidden="true"></i>
											<i class="fa fa-exclamation-circle last-icon" aria-hidden="true"></i>
										</div>
										<input class="form-control" rules="isRequired|isPassword" type="password"
											name="delete-account" id="delete-account" placeholder="Enter your password"
											autocomplete>
										<div class="nofitication">
											<span></span>
										</div>
									</div>
									<div class="sends">
										<input type="button" class="btn btn-large btn-open-modal"
											data-id="#confirm-delete-modal" value="Delete">
									</div>
									<div class="modal-container" id="confirm-delete-modal">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="title">
													Are you sure?
												</h5>
												<button type="button" id="close-modal-icon" class="fa fa-times"
													aria-hidden="true">
												</button>
											</div>
											<div class="modal-body">
												You won't be able to access this account!
											</div>
											<div class="modal-footer">
												<button type="button" class="btn" id="close-modal-btn">Cancel</button>
												<button type="submit" class="btn" id="delete-btn">Delete</button>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="col col-12 col-md-0 col-lg-3">
				<div class="natto-links">
					<div class="link-title">
						<h4>Natto Profile Link</h4>
					</div>
					<div class="link-detail">
						<form class="form-container" action="#">
							<p>You can now register a short url to</p>
							<p>your profile. e.g.</p>
							<p>natto.com/username</p>
							<div class="form-group">
								<label class="form-group-label"="user-link">You can set your profile URL only
									once.</label>
								<input class="form-control" type="text" name="user-link" id="user-link"
									placeholder="Natto.com/username">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- all profile details ends -->