<!-- review starts -->
<section class="block-review">
	<div class="cover-banner"></div>
	<div class="container">
		<div class="row">
			<div class="col col-12 col-sm-7 col-lg-8">
				<div class="left-review">
					<h1 class="title">Choose, Order and Checkout</h1>
					<h6 class="exception">Specify your address to suggest you the fast delivery</h6>
					<p class="time-services">Get our services from 24 hours.</p>
					<a href="/views/all-meals" class="btn my-btn" role="button" data-bs-toggle="button">Go To Meal</a>
				</div>
			</div>
			<div class="col col-12 col-sm-5 col-lg-4 right-review">
				<form action="/views/all-meals" method="GET">
					<div class="form-box">
						<div class="input-group">
							<i class="fa fa-map-marker" aria-hidden="true" style="width: 12.58px;"></i>
							<input type="text" class="my-input input-review" placeholder="Choose your location" name="location">
						</div>
						<div class="input-group">
							<i class="fa fa-cutlery" aria-hidden="true"></i>
							<input type="text" class="my-input input-review" placeholder="Choose restaurant" name="restaurant">
						</div>
						<button type="submit" class="my-btn">Find Food</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<!-- review ends -->
<!-- browse places starts -->
<section class="browse-places">
	<div class="container">
		<div class="row">
			<div class="col col-12">
				<div class="browse-header">
					<h6>Browse Places</h6>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-12">
				<div class="list-places">
					<div class="splide">
						<div class="splide__track">
							<ul class="splide__list">
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- browse places ends -->
<!-- step working starts -->
<section class="step-working">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-md-4">
				<div class="working-item">
					<div class="img-item">
						<img src="/images/working-1.svg" alt="images">
					</div>
					<div class="content-item">
						<h6 class="content-heading-item">
						Choose Your Area Restaurant
						</h6>
						<p>Donec et tellus sed lorem condimentum maximus. Sed tempor, leo tempus condimentum.</p>
					</div>
				</div>
			</div>
			<div class="col col-12 col-md-4">
				<div class="working-item">
					<div class="img-item">
						<img src="/images/working-2.svg" alt="images">
					</div>
					<div class="content-item">
						<h6 class="content-heading-item">
						Choose Food
						</h6>
						<p>Donec et tellus sed lorem condimentum maximus. Sed tempor, leo tempus condimentum.</p>
					</div>
				</div>
			</div>
			<div class="col col-12 col-md-4">
				<div class="working-item">
					<div class="img-item">
						<img src="/images/working-3.svg" alt="images">
					</div>
					<div class="content-item">
						<h6 class="content-heading-item">
						Delivery
						</h6>
						<p>Donec et tellus sed lorem condimentum maximus. Sed tempor, leo tempus condimentum.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- step working ends -->
<!-- list restaurants starts -->
<section class="restaurant">
	<div class="container">
		<div class="row">
			<div class="col col-12">
				<div class="heading">
					<h1> Discover New Restaurants & Book Now </h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-12">
				<div class="list-restaurants">
					<div class="splide">
						<div class="splide__track">
							<ul class="splide__list">
								<li class="splide__slide">
									<a href="#">
										<img src="/images/rest-1.jpg" alt="">
									</a>
								</li>
								<li class="splide__slide">
									<a href="#">
										<img src="/images/rest-2.jpg" alt="">
									</a>
								</li>
								<li class="splide__slide">
									<a href="#">
										<img src="/images/rest-3.jpg" alt="">
									</a>
								</li>
								<li class="splide__slide">
									<a href="#">
										<img src="/images/rest-4.jpg" alt="">
									</a>
								</li>
								<li class="splide__slide">
									<a href="#">
										<img src="/images/rest-5.jpg" alt="">
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- list restaurants ends -->
<!-- order food online starts -->
<section class="order-online">
	<div class="container">
		<div class="row">
			<div class="col col-12">
				<div class="heading">
					<h2> Order Food Online In Your Area </h2>
				</div>
				<div class="your-location">
					<p>
						<span>
							<i class="fa fa-map-marker" aria-hidden="true" style="margin-right: 0.2rem;"></i>
							New York
						</span>
						Change Location
					</p>
				</div>
				<div class="search-location col-12 col-md-6 col-lg-4">
					<form class="form-search">
						<div class="input-group">
							<input type="text" class="my-input" placeholder="Enter your location">
							<i class="fa fa-crosshairs" aria-hidden="true"></i>
							<button class="btn" type="submit">
							Search
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="row foods-online">
		</div>
		<div class="meal-btn">
			<a href="/views/all-meals" class="my-btn">Show all</a>
		</div>
	</div>
</section>
<!-- order food online ends -->
<!-- offer banner starts -->
<section class="offer-banner">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-md-6">
				<div class="banner">
					<div class="ads-banner-1"></div>
					<div class="banner-items">
						<div class="banner-text">
							<h2>Order Food Online</h2>
							<p>Use code to get 50% off upto $5 <br>on your next order.</p>
						</div>
						<div class="banner-btn">
							<a href="/views/all-meals" class="my-btn">Order Now</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col col-12 col-md-6">
				<div class="banner">
					<div class="ads-banner-2"></div>
					<div class="banner-items">
						<div class="banner-text">
							<h2>
							Membership
							<span class="long-arrow">
								<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
							</span>
							Open Now
							</h2>
							<p>Memberships are now open for <br> purchases.</p>
						</div>
						<div class="banner-btn">
							<a href="/user/signup" class="my-btn">Sign up Now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- offer banner ends -->
<!-- quick searches starts -->
<section class="quick-searches">
	<div class="container">
		<div class="row">
			<div class="col col-12">
				<div class="heading">
					<h2> Quick Searches </h2>
				</div>
				<div class="sub-heading">
					Discover Restauranrs By Type of Meal
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col col-md-8"> 
				<div class="list-meal">
					<div class="splide">
						<div class="splide__track">
							<ul class="splide__list">
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- quick searches ends -->
<!-- featured restaurants starts -->
<section class="featured-restaurants">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-lg-7" >
				<div class="heading">
					<h2> Featured Restaurants </h2>
				</div>
				<div class="list-features">
					<div class="feature-item">
					</div>
				</div>
			</div>
			<div class="col col-12 col-lg-5">
				<div class="heading">
					<h2> Treading This Week Sellers </h2>
				</div>
				<div class="list-treading">
				</div>
			</div>
		</div>
	</div>
</div>
</section>
<!-- featured restaurants ends -->
<!-- explore recipes starts  -->
<section class="explore-recipes">
<div class="container">
	<div class="row">
		<div class="col col-12">
			<h2> Explore Your Favorite Recipes </h2>
		</div>
	</div>
	<div class="row list-recipes">
	</div>
	<div class="recipe-btn">
		<a href="/views/recipes" class="my-btn">Show All</a>
	</div>
</div>
</section>
<!-- explore recipes ends  -->
<!-- pocket block preview starts -->
<section class="pocket-block-preview">
<div class="container">
	<div class="row">
		<div class="col col-12 col-md-7 pocket-left">
			<div class="heading">
				<h2>Natto in Your Pocket</h2>
			</div>
			<div class="line">
				<img src="/images/line.svg" alt="">
			</div>
			<p>We’ll send you a link, open it on your phone to download the app.</p>
			<div class="search-form">
				<form action="#" method="post">
					<div class="input-group">
						<input type="text" class="my-input" placeholder="Enter your email address">
						<button class="btn" type="submit">Sent Link</button>
					</div>
				</form>
			</div>
			<div class="download-btns">
				<a href="#">
					<img src="/images/app-store.png" alt="">
				</a>
				<a href="#">
					<img src="/images/play-store.png" alt="">
				</a>
			</div>
		</div>
		<div class="col col-md-5 pocket-right">
			<div class="mobile-img d-flex justify-content-center">
				<img src="/images/mobile.png" alt="">
			</div>
		</div>
	</div>
</div>
</section>

<!-- pocket block preview ends -->