<!-- title bar starts -->
<section class="title-bar">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-md-6">
				<div class="left-title-text">
					<h3>Login Now</h3>
				</div>
			</div>
			<div class="col col-12 col-md-6">
				<div class="right-title-text">
					<div class="breadcrumb">
						<div class="breadcrumb-item">
							<a href="/">Home</a>
						</div>
						<div class="breadcrumb-item active">Login Now
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- title bar ends -->
<!-- form login starts -->
<section class="login">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-lg-10">
				<div class="login-container">
					<div class="background-form"></div>
					<div class="content">
						<div class="form-container">
							<form id="form-login" action="/user/login-process" method="POST">
								<div class="logo-form">
									<a href="index.html">
										<img src="/images/logo.png" alt="logo">
									</a>
								</div>
								<div class="social-btns-login" style="pointer-events: none;">
									<div class="facebook-btn">
										<a href="#">
											<i class="fa fa-facebook" aria-hidden="true"></i>
											Continue with facebook
										</a>
									</div>
									<div class="google-btn">
										<a href="#">
											<i class="fa fa-google" aria-hidden="true"></i>
											Continue with Google
										</a>
									</div>
								</div>
								<div class="or">
									<span>Or</span>
								</div>
								<div class="form-group">
									<div class="icon-check">
										<i class="fa fa-check-circle first-icon" aria-hidden="true"></i>
										<i class="fa fa-exclamation-circle last-icon" aria-hidden="true"></i>
									</div>
									<input class="form-control" rules="isRequired|isEmail" type="text" name="email"
										id="email-phoneNumber" placeholder="Enter Your Email">
									<div class="nofitication">
										<span></span>
									</div>
								</div>
								<div class="form-group">
									<div class="icon-check">
										<i class="fa fa-check-circle first-icon" aria-hidden="true"></i>
										<i class="fa fa-exclamation-circle last-icon" aria-hidden="true"></i>
									</div>
									<input class="form-control" rules="isRequired|isPassword" type="password"
										name="password" id="password" placeholder="Enter Your Password"
										autocomplete="on">
									<div class="nofitication">
										<span></span>
									</div>
								</div>
								<button type="submit" class="btn btn-large">
									Login
								</button>
								<div class="forgot-password-not-acccout">
									<a href="#" style="pointer-events: none;">Forgot Password?</a>
									<p>
										Don’t have an account?
										<a href="/user/signup">Sign up</a>
									</p>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- form login ends -->