<!-- title bar starts -->
<section class="title-bar">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-md-6">
				<div class="left-title-text">
					<h3>Meal Detail</h3>
				</div> 
			</div>
			<div class="col col-12 col-md-6">
				<div class="right-title-text">
					<div class="breadcrumb">
						<div class="breadcrumb-item">
							<a href="/">Home</a>
						</div>
						<div class="breadcrumb-item">
							<a href="/partner">Partners</a>
						</div>
						<div class="breadcrumb-item active">Meal Detail
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- title bar ends -->
<!-- restaurant detail view starts -->
<section class="restaurant-detail-view">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-lg-8">
				<div class="slider">
					<div class="main-img">
					</div>
					<div class="nav-img">
					</div>
				</div>
				<div class="profile-own">
					<div class="user-details">
						<div class="user-img">
							<a>
								<img alt="own">
							</a>
						</div>
						<div class="name-location">
							<a>
								<h4></h4>
							</a>
							<p></p>
						</div>
					</div>
					<div class="right-side-btns">
						<div class="online-offline">
							<p>
								<span><i class="fa fa-circle" aria-hidden="true"></i></span>
								Online
							</p>
						</div>
						<a href="#" class="my-btn">
							<i class="fa fa-phone" aria-hidden="true"></i>
							Call
						</a>
						<a href="#" class="my-btn">
							Order Now
						</a>
					</div>
				</div>
				<div class="info-restaurant">
					<div class="restaurant-details">
						<div class="restaurant-img">
							<a href="/user-profile-view">
								<img alt="own">
							</a>
						</div>
						<div class="name-location">
							<a>
								<h4></h4>
							</a>
							<p>
								<i class="fa fa-map-marker" aria-hidden="true"></i>
								<span></span>
							</p>
						</div>
					</div>
					<div class="right-side-btns">
						<div class="become-partners">
							<a href="#" class="my-btn">Partner</a>
						</div>
					</div>
				</div>
				<div class="all-tab">
					<div class="nav-tab">
						<div class="nav-item">
							<h2>Reviews</h2>
						</div>
					</div>
				</div>
				<div class="tab-content">
					<div class="tab-pane active" id="reviews">
						<div class="comment-post">
							<div class="post-items">
								<div class="img-user">
									<i class="fa fa-user" aria-hidden="true"></i>
								</div>
								<div class="select-rating">
									<h4>Your Rating: </h4>
									<div class="rating">
										<i class="fa fa-star" aria-hidden="true" data-id="1"></i>
										<i class="fa fa-star" aria-hidden="true" data-id="2"></i>
										<i class="fa fa-star" aria-hidden="true" data-id="3"></i>
										<i class="fa fa-star" aria-hidden="true" data-id="4"></i>
										<i class="fa fa-star" aria-hidden="true" data-id="5"></i>
									</div>
								</div>
								<form method="POST">
									<input type="text" class="post-input" name="content" placeholder="Please describe the reason for your rating to help the author">
									<input type="submit" value="Save Review" class="my-btn">
								</form>
							</div>
						</div>
						<div class="main-comments">
						</div>
					</div>
				</div>
			</div>
			<div class="col col-12 col-lg-4">
				<form class="meal-detail form-container" method="POST">
					<input type="hidden" name="userName">
					<input type="hidden" name="userId">
					<input type="hidden" name="location">
					<input type="hidden" name="name">
					<input type="hidden" name="mealId">
					<input type="hidden" name="sellerRest">
					<input type="hidden" name="mealImg">
					<input type="hidden" name="price">
					<input type="hidden" name="quantity" class="quantityInput" value="1">
					<input type="hidden" name="payment" class="payment">
					<div class="name-meal">
						<h1></h1>
					</div>
					<div class="my-rating">
						<div class="heading">
							<h4>Rating</h4>
						</div>
						<div class="rating">
							<i class="fa fa-star" aria-hidden="true"></i> 
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
							<span>4.0</span>
						</div>
					</div>
					<div class="description">
						<h4>Description</h4>
						<p></p>
					</div>
					<div class="price">
						<p>$<span class="price-meal"></span>.00</p>
					</div>
					<div class="delivery">
						<div class="transportation">
							<i class="fa fa-shopping-cart" aria-hidden="true"></i>
							Delivery Free : Free
						</div>
						<div class="time">
							<i class="fa fa-clock-o" aria-hidden="true"></i>
							Delivery Time : 30 Min
						</div>
					</div>
					<div class="quantity">
						<h4>Quantity</h4>
						<div class="form-group">
							<button type="button" class="down-qty"><i class="fa fa-minus-square" aria-hidden="true"></i></button>
							<input class="field-input" type="number" value="1" min="1" name="quantity" disabled>
							<button type="button" class="up-qty"><i class="fa fa-plus-square" aria-hidden="true"></i></button>
						</div>
					</div>
					<div class="total">
						<div class="total-text">Total</div>
						<div class="total-price">$<span></span>.00</div>
					</div>
					<div class="form-group order-now-btn">
						<input type="submit" value="Order Now">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</section>
<!-- restaurant detail view ends -->