<!-- title bar starts -->
<section class="title-bar">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-md-6">
				<div class="left-title-text">
					<h3>Partner with us</h3>
				</div>
			</div>
			<div class="col col-12 col-md-6">
				<div class="right-title-text">
					<div class="breadcrumb">
						<div class="breadcrumb-item">
							<a href="/">Home</a>
						</div>
						<div class="breadcrumb-item active">Partner with us
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- title bar ends -->
<!-- how to orders starts -->
<section class="how-to-orders">
	<div class="container">
		<div class="row">
			<div class="col col-12">
				<div class="heading">
					<h1>How to orders</h1>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col col-12 col-lg-6">
				<div class="text-about">
					<p>Quisque gravida maximus elit et facilisis. Aenean tellus ligula, pellentesque sit amet luctus eget, posuere eget sapien. Proin ultricies vestibulum sem non lobortis. </p>
				</div>
			</div>
		</div>
		<div class="order-steps">
			<div class="row justify-content-md-center">
				<div class="col col-12 col-md-4">
					<div class="for-restaurant">
						<img src="/images/partner_with_us-1.svg" alt>
						<h4>For Restaurant</h4>
						<p>Praesent rhoncus urna nec justo suscipit, id congue justo dictum.</p>
						<a href="/add-driver" class="my-btn">Add Restaurant</a>
					</div>
				</div>
				<div class="col col-12 col-md-4">
					<div class="for-restaurant">
						<img src="/images/partner_with_us-2.svg" alt>
						<h4>For Driver</h4>
						<p>Praesent rhoncus urna nec justo suscipit, id congue justo dictum.</p>
						<a href="/add-driver" class="my-btn">Add Driver</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col col-12 col-md-8">
				<div class="company-business">
					<div class="new-heading">
						<h2> Natto for Business</h2>
					</div>
					<div class="video">
						<div class="bg-gradient"></div>
						<img src="/images/partner_with_us-video-1.jpg" alt>
						<div class="middle">
							<div class="play-btn">
								<i class="fa fa-play" aria-hidden="true"></i>
							</div>
						</div>
						<div class="modal-overlay">
							<div class="modal-container">
								<div class="modal-content">
									<iframe src="https://www.youtube.com/embed/6CFJhTKcGJ4" height="400" width="770"></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- how to orders ends -->
<!-- over restaurant starts -->
<section class="over-restaurants">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-lg-9">
				<h2>Choose From Over 15,000 Restaurants</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam augue justo, euismod at purus quis, dictum iaculis lorem. Sed dictum, dolor sit amet feugiat posuere, ante arcu iaculis tortor</p>
			</div>
			<div class="col col-12 col-lg-3">
				<div class="view-restaurants">
					<a href="#">View Restaurants</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- over restaurant ends -->