<!-- title bar starts -->
<section class="title-bar">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-md-6">
				<div class="left-title-text">
					<h3>Partners</h3>
				</div>
			</div>
			<div class="col col-12 col-md-6">
				<div class="right-title-text">
					<div class="breadcrumb">
						<div class="breadcrumb-item">
							<a href="/">Home</a>
						</div>
						<div class="breadcrumb-item active">Partners
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- title bar ends -->
<!-- all partners starts -->
<section class="all-partners">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-md-5 col-lg-3">
				<div class="filters partner-bottom">
					<div class="filter-heading">
						<h3>Filters</h3>
					</div>
					<div class="accordion">
						<div class="accordion-item">
							<button class="filters-dropdown">
							loacation
							</button>
							<div class="container-collapse">
								<div class="collapse">
									<div class="search-location">
										<form action="#">
											<input type="text" class="search-input" name="location" placeholder="Search your area">
											<div class="icon-btn">
												<i class="fa fa-crosshairs" aria-hidden="true"></i>
											</div>
										</form>
									</div>
									<div class="filter-checkbox">
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk1">
											<div class="state">
												<label for="chk1">All</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk2">
											<div class="state">
												<label for="chk2">Canterbury-Bankstown</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk3">
											<div class="state">
												<label for="chk3">Central Business District</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk4">
											<div class="state">
												<label for="chk4">Eastern Suburbs</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk5">
											<div class="state">
												<label for="chk5">Forest District</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk6">
											<div class="state">
												<label for="chk6">Greater Western Sydney</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk7">
											<div class="state">
												<label for="chk7">Hills District</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk8">
											<div class="state">
												<label for="chk8">Inner West</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk9">
											<div class="state">
												<label for="chk9">Macarthur</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk10">
											<div class="state">
												<label for="chk10">Central Business</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk11">
											<div class="state">
												<label for="chk11">Main Market</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk12">
											<div class="state">
												<label for="chk12">Eastern</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="accordion">
						<div class="accordion-item">
							<button class="filters-dropdown">
							categories
							</button>
							<div class="container-collapse">
								<div class="collapse">
									<div class="filter-checkbox">
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk13">
											<div class="state">
												<label for="chk13">Breakfast</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk14">
											<div class="state">
												<label for="chk14">Lunch</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk15">
											<div class="state">
												<label for="chk15">Dinner</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk16">
											<div class="state">
												<label for="chk16">Cafe's</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk17">
											<div class="state">
												<label for="chk17">Delivery</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="accordion">
						<div class="accordion-item">
							<button class="filters-dropdown">
							Cuisine
							</button>
							<div class="container-collapse">
								<div class="collapse">
									<div class="filter-checkbox">
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk18">
											<div class="state">
												<label for="chk18">pizza</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk19">
											<div class="state">
												<label for="chk19">drinks & beer restaurant</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk20">
											<div class="state">
												<label for="chk20">cakes & desserts</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk21">
											<div class="state">
												<label for="chk21">shusi</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk22">
											<div class="state">
												<label for="chk22">fast food</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk23">
											<div class="state">
												<label for="chk23">shawarma</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk24">
											<div class="state">
												<label for="chk24">fish</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk25">
											<div class="state">
												<label for="chk25">lunch</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk26">
											<div class="state">
												<label for="chk26">Coffee cafe's</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk27">
											<div class="state">
												<label for="chk27">cheese tika</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk28">
											<div class="state">
												<label for="chk28">Samosa and Pakodas</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk29">
											<div class="state">
												<label for="chk29">chinese</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="accordion">
						<div class="accordion-item">
							<button class="filters-dropdown">
							Establish Type
							</button>
							<div class="container-collapse">
								<div class="collapse">
									<div class="filter-checkbox">
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk30">
											<div class="state">
												<label for="chk30">Cafe’s</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk31">
											<div class="state">
												<label for="chk31">Dhaba’s</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk32">
											<div class="state">
												<label for="chk32">Sweet Shopst</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk33">
											<div class="state">
												<label for="chk33">Fine Dinings</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk34">
											<div class="state">
												<label for="chk34">Casual Dinings</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk35">
											<div class="state">
												<label for="chk35">Bakeries</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk36">
											<div class="state">
												<label for="chk36">Bars</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk37">
											<div class="state">
												<label for="chk37">Vine Shops</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk38">
											<div class="state">
												<label for="chk38">Halls</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="accordion">
						<div class="accordion-item">
							<button class="filters-dropdown">
							Restaurants offers
							</button>
							<div class="container-collapse">
								<div class="collapse">
									<div class="filter-checkbox">
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk39">
											<div class="state">
												<label for="chk39">10% off</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk40">
											<div class="state">
												<label for="chk40">20% off</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk41">
											<div class="state">
												<label for="chk41">30% off</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk42">
											<div class="state">
												<label for="chk42">40% off</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk43">
											<div class="state">
												<label for="chk43">50% off</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk44">
											<div class="state">
												<label for="chk44">60% off</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk45">
											<div class="state">
												<label for="chk45">70% off</label>
											</div>
										</div>
										<div class="check-item">
											<input type="checkbox" name="cb" id="chk46">
											<div class="state">
												<label for="chk46">80% off</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="accordion">
						<div class="accordion-item">
							<button class="filters-dropdown">
							Rating
							</button>
							<div class="container-collapse">
								<div class="collapse">
									<div class="filter-checkbox">
										<div class="check-item">
											<input type="radio" name="rb" id="rb1">
											<div class="state">
												<label for="chk47">
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i>
												</label>
											</div>
										</div>
										<div class="check-item">
											<input type="radio" name="rb" id="rb2">
											<div class="state">
												<label for="chk48">
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i>
												</label>
											</div>
										</div>
										<div class="check-item">
											<input type="radio" name="rb" id="rb3">
											<div class="state">
												<label for="chk49">
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i>
												</label>
											</div>
										</div>
										<div class="check-item">
											<input type="radio" name="rb" id="rb4">
											<div class="state">
												<label for="chk50">
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i>
												</label>
											</div>
										</div>
										<div class="check-item">
											<input type="radio" name="rb" id="rb5">
											<div class="state">
												<label for="chk51">
													<i class="fa fa-star" aria-hidden="true"></i>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col col-12 col-md-7 col-lg-6">
				<div class="list-partners">
				</div>
			</div>
			<div class="col col-12 col-md-12 col-lg-3">
				<div class="result-popular">
					<div class="show-map-result">
						<a href="#">Show result on map</a>
					</div>
					<div class="popular-restaurants">
						<h4>Popular Restaurents </h4>
						<ul class="list-pop-res">
						</ul>
					</div>
					<div class="google-ads">
						<a href="#">
							<img src="/images/google-ad.jpg" alt="google ads">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- all partners ends -->