<!-- title bar starts -->
<section class="title-bar">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-md-6">
				<div class="left-title-text">
					<h3>Recipe details view</h3>
				</div>
			</div>
			<div class="col col-12 col-md-6">
				<div class="right-title-text">
					<div class="breadcrumb">
						<div class="breadcrumb-item">
							<a href="/">Home</a>
						</div>
						<div class="breadcrumb-item">
							<a href="/views/recipes">Recipes</a>
						</div>
						<div class="breadcrumb-item active">Recipe details view
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- title bar ends -->
<!-- video detail recipes starts -->
<section class="video-detail-recipes">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-lg-8">
				<div class="profile-toolbars">
					<div class="user-details">
						<div class="user-img">
							<a href="/user">
								<img alt="user img">
							</a>
						</div>
						<div class="name-location">
							<a href="/user">
								<h4></h4>
							</a>
							<p>
								<span>
									<i class="fa fa-map-marker" aria-hidden="true"></i>
								</span>
								<span class="location"></span>
							</p>
						</div>
					</div>
					<div class="right-btns">
						<button class="my-btn">
						<i class="fa fa-bell" aria-hidden="true"></i>
						</button>
						<div class="follow-btn">
							<button class="my-btn">Follow</button>
						</div>
					</div>
				</div>
				<div class="video">
					<iframe height="315" width="770"></iframe>
				</div>
				<div class="title-share">
					<div class="title">
						<h4></h4>
					</div>
					<div class="share">
						<span class="btn-share">
							<i class="fa fa-share-alt" aria-hidden="true"></i>
							Share
						</span>
						<div class="share-socials">
							<a href="#">
								<i class="fa fa-facebook" aria-hidden="true"></i>
								Facabook
							</a>
							<a href="#">
								<i class="fa fa-twitter" aria-hidden="true"></i>
								Twitter
							</a>
							<a href="#">
								<i class="fa fa-google" aria-hidden="true"></i>
								Goggle
							</a>
							<a href="#">
								<i class="fa fa-instagram" aria-hidden="true"></i>
								Instagram
							</a>
							<a href="#">
								<i class="fa fa-linkedin" aria-hidden="true"></i>
								Linkedin
							</a>
						</div>
					</div>
				</div>
				<div class="published-comments">
					<div class="published-time">
						<i class="fa fa-calendar" aria-hidden="true"></i>
						<span>
						</span>
					</div>
					<div class="like-comment-view">
						{{!-- <div class="heart">
							<span>
								<i class="fa fa-heart" aria-hidden="true"></i>
								562
							</span>
						</div> --}}
						<div class="comments">
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<span>
								
							</span>
						</div>
						{{!-- <div class="views">
							<span>
								<i class="fa fa-eye" aria-hidden="true"></i>
								1.2k
							</span>
						</div> --}}
					</div>
				</div>
				<div class="all-tab">
					<div class="nav-tab">
						<div class="nav-item">
							<h2>Reviews</h2>
						</div>
					</div>
				</div>
				<div class="tab-content">
					<div class="tab-pane active" id="reviews">
						<div class="comment-post">
							<div class="post-items">
								<div class="img-user">
									<i class="fa fa-user" aria-hidden="true"></i>
								</div>
								<div class="select-rating">
									<h4>Your Rating: </h4>
									<div class="rating">
										<i class="fa fa-star" aria-hidden="true" data-id="1"></i>
										<i class="fa fa-star" aria-hidden="true" data-id="2"></i>
										<i class="fa fa-star" aria-hidden="true" data-id="3"></i>
										<i class="fa fa-star" aria-hidden="true" data-id="4"></i>
										<i class="fa fa-star" aria-hidden="true" data-id="5"></i>
									</div>
								</div>
								<form method="POST">
									<input type="text" class="post-input" name="content" placeholder="Please describe the reason for your rating to help the author">
									<input type="submit" value="Save Review" class="my-btn">
								</form>
							</div>
						</div>
						<div class="main-comments">
						</div>
					</div>
				</div>
			</div>
			<div class="col col-12 col-lg-4">
				<div class="right-side">
					<div class="my-rating">
						<div class="heading">
							<h4>Rating</h4>
						</div>
						<div class="rating">
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
							<span>4.0</span>
						</div>
					</div>
					<div class="about-recipe">
						<h4>About Recipe</h4>
						<p>
						</p>
					</div>
					<div class="recommended">
						<h4> Recomended For You </h4>
						<div class="recommended-meal">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- video detail recipes ends -->