<!-- title bar starts -->
<section class="title-bar">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-md-6">
				<div class="left-title-text">
					<h3>Recipes</h3>
				</div>
			</div>
			<div class="col col-12 col-md-6">
				<div class="right-title-text">
					<div class="breadcrumb">
						<div class="breadcrumb-item">
							<a href="/">Home</a>
						</div>
						<div class="breadcrumb-item active">
							Recipes
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- title bar ends -->
<!-- recipe block preview starts -->
<section class="recipe-block-preview">
	<div class="container">
		<div class="find-recipes">
			<div class="row">
				<div class="col col-12">
					<h1 class="title-recipes">Find Recipes</h1>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col col-12 col-md-6">
					<p>Aenean tellus ligula, pellentesque sit amet luctus eget, posuere eget sapien. Proin ultricies
						vestibulum sem non lobortis.</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col col-12 col-sm-10 col-md-6 col-lg-5 col-xl-4">
					<form class="form-container search-recipe">
						<div class="form-group search-form">
							<input class="form-control search-form-item" type="search" placeholder="Find recipes">
							<button class="btn btn-search search-form-item" type="submit"><i class="fa fa-search"
									aria-hidden="true"></i></button>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col col-12">
					<div class="or">
						<span>or</span>
					</div>
					<div class="upload">
						<a href="/user/upload-video" class="btn btn-large">Upload video</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- recipe block preview ends -->
<!-- category recipes starts -->
<section class="category-recipes">
	<div class="container">
		<div class="row">
			<div class="col col-12">
				<div class="list-recipes">
					<div class="splide">
						<div class="splide__track">
							<ul class="splide__list">
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- category recipes ends -->
<!-- main video starts -->
<section class="main-video">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-lg-9">
				<div class="video">
				</div>
			</div>
			<div class="col col-12 col-lg-3">
				<div class="suggested-peoples">
					<div class="sd-title">
						<h3>Suggested Peoples</h3>
					</div>
					<div class="suggestions-list">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- main video ends -->
<!-- recomended for you starts -->
<section class="recomended">
	<div class="container">
		<div class="row">
			<div class="col col-12">
				<div class="heading">
					<h4>Recomended For You</h4>
				</div>
			</div>
		</div>
		<div class="row content">
		</div>
	</div>
</section>
<!-- recomended for you ends -->
<!-- uploade for you starts -->
<section class="update">
	<div class="container">
		<div class="row">
			<div class="col col-12">
				<div class="heading">
					<h4> Recent Uploaded </h4>
				</div>
			</div>
		</div>
		<div class="row content">
		</div>
		{{!-- <div class="row">
			<div class="col col-12">
				<div class="btn-upload">
					<a href="#">Show all</a>
				</div>
			</div>
		</div> --}}
	</div>
</section>
<!-- uploade for you ends -->
<section class="over-restaurants">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-lg-9">
				<h2>Choose From Over 15,000 Restaurants</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam augue justo, euismod at purus quis,
					dictum iaculis lorem. Sed dictum, dolor sit amet feugiat posuere, ante arcu iaculis tortor</p>
			</div>
			<div class="col col-12 col-lg-3">
				<div class="view-restaurants">
					<a href="/views/partner">View Restaurants</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- partner with us ends -->