<!-- title bar starts -->
<section class="title-bar">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-md-6">
				<div class="left-title-text">
					<h3>My profile</h3>
				</div>
			</div>
			<div class="col col-12 col-md-6">
				<div class="right-title-text">
					<div class="breadcrumb">
						<div class="breadcrumb-item">
							<a href="/">Home</a>
						</div>
						<div class="breadcrumb-item">
							<a href="/user">User</a>
						</div>
						<div class="breadcrumb-item active">Restaurant Detail
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- title bar ends -->
<!-- my accout starts -->
<section class="my-account">
	<div class="profile-bg">
		<img alt="profile image">
		<div class="profile-top-details">
			<div class="container">
				<div class="row">
					<div class="avt-name-local">
						<div class="avatar">
							<img alt="avartar">
						</div>
						<div class="name-location">
							<h2 class="name">
							</h2>
							<div class="location">
								<p>
									<span>
										<i class="fa fa-map-marker" aria-hidden="true"></i>
									</span>
									<span class="locationText"></span>
								</p>
							</div>
						</div>
					</div>
					<div class="go-to-setting">
						<a href="/user/edit-profile" class="my-btn">
							<i class="fa fa-cogs" aria-hidden="true"></i>
							Setting
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- my accout ends -->
<!-- all profile details starts -->
<section class="all-profile-details">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-md-3">
				<div class="side-bar">
					<div class="nav-tab">
						<div class="nav-item active" data-id="timeline">
							<a href="#">Timeline</a>
						</div>
						<div class="nav-item" data-id="about">
							<a href="#">About</a>
						</div>
						<div class="nav-item" data-id="order-online">
							<a href="#">Meals</a>
						</div>
						<div class="nav-item" data-id="restaurant-changes">
							<a href="#">Restaurant Changes</a>
						</div>
						<div class="nav-item" data-id="photos">
							<a href="#">Photos</a>
						</div>
						<div class="nav-item" data-id="request-orders">
							<a href="#">Request Orders</a>
						</div>
						<div class="nav-item" data-id="orders-history">
							<a href="#">Request History</a>
						</div>
						<div class="nav-item" data-id="my-videos">
							<a href="#">My Videos</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col col-12 col-md-9 col-lg-6">
				<div class="tab-content">
					<div class="tab-pane active">
						<div id="timeline">
							<div class="timeline-heading">
								<h4>Timeline</h4>
							</div>
							<div class="timeline-posts">
								<div class="post-info">
									<div class="user-info">
										<div class="avt-name-rating">
											<a href="#">
												<img src="/images/user-2.png" alt="user post">
											</a>
											<div class="name-rating">
												<h4>Joy Cutler</h4>
												<div class="rating">
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star-o" aria-hidden="true"></i>
													<span>4.0</span>
												</div>
											</div>
										</div>
										<div class="time-post">
											<p> <i class="fa fa-clock-o" aria-hidden="true"></i> 12 h<span>ours</span> ago</p>
										</div>
									</div>
									<div class="content-comment">
										<p>Morbi hendrerit ipsum vel feugiat maximus. Duis posuere justo neque, sit amet efficitur quam aliquam non. Integer gravida ex quis lacinia consectetur.</p>
									</div>
								</div>
								<div class="tag">
									<p>
										<ins>Tags :</ins>
										<a href="#">Johnson,</a>
										<a href="#"> Jasica,</a>
										<a href="#"> Joy William</a>
									</p>
								</div>
								<div class="post-image">
									<div class="select-imgs">
										<div class="select-img">
											<img src="/images/meal-1.jpg" alt="post image">
										</div>
										<div class="select-img">
											<img src="/images/meal-2.jpg" alt="post image">
										</div>
										<div class="select-img">
											<img src="/images/meal-3.jpg" alt="post image">
										</div>
										<div class="select-img">
											<img src="/images/meal-4.jpg" alt="post image">
										</div>
										<div class="select-img">
											<img src="/images/meal-5.jpg" alt="post image">
										</div>
									</div>
								</div>
								<div class="like-comment">
									<div class="like">
										<span class="btn-like-cmt">
											<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
											20 like
										</span>
									</div>
									<div class="comment">
										<span class="btn-like-cmt">
											<i class="fa fa-comments-o" aria-hidden="true"></i>
											6 comment
										</span>
									</div>
								</div>
								<div class="commnent-user">
									<div class="user-info">
										<div class="avt-name-rating">
											<a href="#">
												<img src="/images/user-3.png" alt="user comment">
											</a>
											<div class="name-rating">
												<h4> Rock Smith</h4>
											</div>
										</div>
										<div class="time-post">
											<p> <i class="fa fa-clock-o" aria-hidden="true"></i> 12 h<span>ours</span> ago</p>
										</div>
									</div>
									<div class="content-comment">
										<p>Thank you</p>
									</div>
									<div class="like-comment">
										<div class="like">
											<span class="btn-like-cmt">
												<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
												20 like
											</span>
										</div>
										<div class="comment">
											<span class="btn-like-cmt">
												<i class="fa fa-comments-o" aria-hidden="true"></i>
												6 comment
											</span>
										</div>
									</div>
								</div>
								<div class="reply-comment-user">
									<div class="post-items">
										<div class="img-user">
											<i class="fa fa-user" aria-hidden="true"></i>
										</div>
										<form action="#" method="post">
											<input type="text" class="post-input" name="postComment" placeholder="Write a comment - @tag friends">
											<input type="submit" value="Reply" class="my-btn">
										</form>
									</div>
								</div>
							</div>
							<div class="timeline-posts">
								<div class="post-info">
									<div class="user-info">
										<div class="avt-name-rating">
											<a href="#">
												<img src="/images/user-2.png" alt="user post">
											</a>
											<div class="name-rating">
												<h4>Joy Cutler</h4>
												<div class="rating">
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star-o" aria-hidden="true"></i>
													<span>4.0</span>
												</div>
											</div>
										</div>
										<div class="time-post">
											<p> <i class="fa fa-clock-o" aria-hidden="true"></i> 12 h<span>ours</span> ago</p>
										</div>
									</div>
									<div class="content-comment">
										<p>Morbi hendrerit ipsum vel feugiat maximus. Duis posuere justo neque, sit amet efficitur quam aliquam non. Integer gravida ex quis lacinia consectetur.</p>
									</div>
								</div>
								<div class="tag">
									<p>
										<ins>Tags :</ins>
										<a href="#">Johnson,</a>
										<a href="#"> Jasica,</a>
										<a href="#"> Joy William</a>
									</p>
								</div>
								<div class="like-comment">
									<div class="like">
										<span class="btn-like-cmt">
											<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
											20 like
										</span>
									</div>
									<div class="comment">
										<span class="btn-like-cmt">
											<i class="fa fa-comments-o" aria-hidden="true"></i>
											6 comment
										</span>
									</div>
								</div>
								<div class="reply-comment-user">
									<div class="post-items">
										<div class="img-user">
											<i class="fa fa-user" aria-hidden="true"></i>
										</div>
										<form action="#" method="post">
											<input type="text" class="post-input" name="postComment" placeholder="Write a comment - @tag friends">
											<input type="submit" value="Reply" class="my-btn">
										</form>
									</div>
								</div>
							</div>
							<div class="timeline-posts">
								<div class="post-info">
									<div class="user-info">
										<div class="avt-name-rating">
											<a href="#">
												<img src="/images/user-5.png" alt="user post">
											</a>
											<div class="name-rating">
												<h4>Joy Cutler</h4>
												<div class="rating">
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star-o" aria-hidden="true"></i>
													<span>4.0</span>
												</div>
											</div>
										</div>
										<div class="time-post">
											<p> <i class="fa fa-clock-o" aria-hidden="true"></i> 12 h<span>ours</span> ago</p>
										</div>
									</div>
									<div class="content-comment">
										<p>Morbi hendrerit ipsum vel feugiat maximus. Duis posuere justo neque, sit amet efficitur quam aliquam non. Integer gravida ex quis lacinia consectetur.</p>
									</div>
								</div>
								<div class="tag">
									<p>
										<ins>Tags :</ins>
										<a href="#">Johnson,</a>
										<a href="#"> Jasica,</a>
										<a href="#"> Joy William</a>
									</p>
								</div>
								<div class="post-image">
									<div class="select-imgs">
										<div class="select-img">
											<img src="/images/meal-1.jpg" alt="post image">
										</div>
										<div class="select-img">
											<img src="/images/meal-2.jpg" alt="post image">
										</div>
									</div>
								</div>
								<div class="like-comment">
									<div class="like">
										<span class="btn-like-cmt">
											<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
											20 like
										</span>
									</div>
									<div class="comment">
										<span class="btn-like-cmt">
											<i class="fa fa-comments-o" aria-hidden="true"></i>
											6 comment
										</span>
									</div>
								</div>
								<div class="commnent-user">
									<div class="user-info">
										<div class="avt-name-rating">
											<a href="#">
												<img src="/images/user-4.png" alt="user comment">
											</a>
											<div class="name-rating">
												<h4> Rock Smith</h4>
											</div>
										</div>
										<div class="time-post">
											<p> <i class="fa fa-clock-o" aria-hidden="true"></i> 12 h<span>ours</span> ago</p>
										</div>
									</div>
									<div class="content-comment">
										<p>Thank you</p>
									</div>
									<div class="like-comment">
										<div class="like">
											<span class="btn-like-cmt">
												<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
												20 like
											</span>
										</div>
										<div class="comment">
											<span class="btn-like-cmt">
												<i class="fa fa-comments-o" aria-hidden="true"></i>
												6 comment
											</span>
										</div>
									</div>
								</div>
								<div class="reply-comment-user">
									<div class="post-items">
										<div class="img-user">
											<i class="fa fa-user" aria-hidden="true"></i>
										</div>
										<form action="#" method="post">
											<input type="text" class="post-input" name="postComment" placeholder="Write a comment - @tag friends">
											<input type="submit" value="Reply" class="my-btn">
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane">
						<div id="about">
							<div class="about-heading">
								<h4>About</h4>
								<a href="/user/edit-profile">
									<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
								</a>
							</div>
							<div class="about-details">
								<div class="about-dt">
									<h6>Name</h6>
									<p class="about-name"></p>
								</div>
								<div class="about-dt">
									<h6>Location</h6>
									<p class="about-location"></p>
								</div>
								<div class="about-dt">
									<h6>Mobile Number</h6>
									<p class="about-phone"></p>
								</div>
								<div class="about-dt">
									<h6>Email Address</h6>
									<p class="about-email"></p>
								</div>
								{{!-- <div class="about-dt">
									<h6>Personal Website</h6>
									<p>www.johndoe.com</p>
								</div> --}}
								<div class="about-dt">
									<h6>Description About Yopur Self</h6>
									<p class="about-description"></p>
								</div>
								<div class="about-dt">
									<h6>Social Accounts</h6>
									<div class="social-btns">
										<a href="#">
											<div class="social-btn btn-1">
												<i class="fa fa-facebook" aria-hidden="true"></i>
											</div>
										</a>
										<a href="#">
											<div class="social-btn btn-2">
												<i class="fa fa-twitter" aria-hidden="true"></i>
											</div>
										</a>
										<a href="#">
											<div class="social-btn btn-3">
												<i class="fa fa-instagram" aria-hidden="true"></i>
											</div>
										</a>
										<a href="#">
											<div class="social-btn btn-4">
												<i class="fa fa-linkedin" aria-hidden="true"></i>
											</div>
										</a>
										<a href="#">
											<div class="social-btn btn-5">
												<i class="fa fa-youtube-play" aria-hidden="true"></i>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane">
						<div id="order-online">
							<div class="about-heading">
								<h4>Meals</h4>
								<span>
									Add Meal
								</span>
							</div>
							<div class="about-details">
								<div class="restaurant-detail-bg">
									<h4>Restaurant Order Online Meals</h4>
									<div class="order-tabs">
										<div class="nav-tab-order">
											<div class="meal-icon-tab active" data-id="breakfast">
												<img src="/images/meal-1.svg" alt="nav tab order">
												<p>Breakfast</p>
											</div>
											<div class="meal-icon-tab" data-id="lunch">
												<img src="/images/meal-2.svg" alt="nav tab order">
												<p>Lunch</p>
											</div>
											<div class="meal-icon-tab" data-id="dinner">
												<img src="/images/meal-3.svg" alt="nav tab order">
												<p>Dinner</p>
											</div>
											<div class="meal-icon-tab" data-id="cafe">
												<img src="/images/meal-4.svg" alt="nav tab order">
												<p>Cafe's</p>
											</div>
											<div class="meal-icon-tab" data-id="delivery">
												<img src="/images/meal-5.svg" alt="nav tab order">
												<p>Delivery</p>
											</div>
											<div style="width: calc(6.25rem + 6px); visibility: hidden;"></div>
										</div>
									</div>
									<div class="tab-content-order">
										<div class="tab-pane-order active" id="breakfast">
											<h6>Breakfast Meals</h6>
											<div class="all-meals">
												<div class="container">
													<div class="row">
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane-order" id="lunch">
											<h6>Lunch Meals</h6>
											<div class="all-meals">
												<div class="container">
													<div class="row">
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane-order" id="dinner">
											<h6>Dinner Meals</h6>
											<div class="all-meals">
												<div class="container">
													<div class="row">
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane-order" id="cafe">
											<h6>Cafe's</h6>
											<div class="all-meals">
												<div class="container">
													<div class="row">
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane-order" id="delivery">
											<h6>Delivery Meals</h6>
											<div class="all-meals">
												<div class="container">
													<div class="row">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="modal-add-meal modal">
								<div class="modal-content">
									<div class="icon">
										<i class="fa fa-times" aria-hidden="true"></i>
									</div>
									<form action="/user/restaurant/create-meal" method="POST" class="form-container" enctype="multipart/form-data">
										<div class="container">
											<div class="row">
												<div class="col col-12">
													<div class="add-meal-heading">
														<h4>Add Meal</h4>
													</div>
												</div>
												<div class="col col-12 col-lg-6">
													<div class="form-group">
														<label for="name-meal">Meal Name *</label>
														<input type="text" class="field-input" id="name-meal" name="name" placeholder="Enter Meal Name">
													</div>
												</div>
												<div class="col col-12 col-lg-6">
													<div class="form-group">
														<label for="price-meal">Price *</label>
														<input type="number" class="field-input" id="price-meal" name="price" placeholder="Enter Price" min="0">
													</div>
												</div>
												<div class="col col-12 col-lg-6">
													<div class="form-group">
														<input type="hidden" name="selectMeal" class="select-meal">
														<label for="name-meal">Select Meal *</label>
														<button type="button" class="dropdown-btn btn-meal">Breakfast</button>
														<i class="fa fa-caret-down icon-select" aria-hidden="true"></i>
														<div class="dropdown-menu">
															<div class="dropdown-item active">Breakfast</div>
															<div class="dropdown-item">Lunch</div>
															<div class="dropdown-item">Dinner</div>
															<div class="dropdown-item">Cafe's</div>
															<div class="dropdown-item">Delivery</div>
														</div>
													</div>
												</div>
												<div class="col col-12 col-lg-6">
													<div class="form-group">
														<input type="hidden" name="cuisineMeal" class="input-hidden-cuisine">
														<label for="cuisine-meal">Select Cuisines *</label>
														<button type="button" class="dropdown-btn btn-cuisine">Cakes & Desserts</button>
														<i class="fa fa-caret-down icon-select" aria-hidden="true"></i>
														<div class="dropdown-menu">
															<div class="dropdown-item active">Cakes & Desserts</div>
															<div class="dropdown-item">Pizza</div>
															<div class="dropdown-item">Drinks & Beer</div>
															
															<div class="dropdown-item">Shusi</div>
															<div class="dropdown-item">Fast Food</div>
															<div class="dropdown-item">Shawarma</div>
															<div class="dropdown-item">Fish</div>
															<div class="dropdown-item">Cheese Tika</div>
															{{!-- <div class="dropdown-item">Orther</div> --}}
														</div>
													</div>
												</div>
												<div class="col col-12 col-lg-6">
													<div class="form-group">
														<input type="hidden" name="offerMeal" class="offer-meal">
														<label for="name-meal">Select Offers *</label>
														<button type="button" class="dropdown-btn btn-offer">0%</button>
														<i class="fa fa-caret-down icon-select" aria-hidden="true"></i>
														<div class="dropdown-menu">
															<div class="dropdown-item active">0%</div>
															<div class="dropdown-item">10%</div>
															<div class="dropdown-item">20%</div>
															<div class="dropdown-item">30%</div>
															<div class="dropdown-item">40%</div>
															<div class="dropdown-item">50%</div>
															<div class="dropdown-item">60%</div>
															<div class="dropdown-item">70%</div>
														</div>
													</div>
												</div>
												<div class="col col-12">
													<div class="form-group">
														<label for="description-meal">
														Discription *</label>
														<textarea class="field-input" id="description-meal" name="desciption" placeholder="Enter Description" style="min-height: 6.25rem; min-width:100%; max-width:100%;"></textarea>
													</div>
												</div>
												<div class="col col-12 col-sm-6">
													<div class="form-group">
														<input type="file" class="field-input file-input add-photos-meal" name="photos" multiple>
														<div class="overlay-input field-input">
															<i class="fa fa-picture-o" aria-hidden="true"></i>
															Add Photos
														</div>
													</div>
												</div>
												<div class="col col-12 col-sm-6">
													<div class="form-group">
														<input type="hidden" name="slugRestaurant" class="slug-restaurant">
														<input type="hidden" name="location" class="location-restaurant">
														<button type="button" class="my-btn clear-all-photos">Clear All</button>
													</div>
												</div>
												<div class="col col-12">
													<div class="select-photos">
													</div>
												</div>
												<div class="col col-12 col-sm-6" style="display: flex;">
													<button type="submit" class="my-btn submit-add-meal">Add Meal</button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane">
						<div id="restaurant-changes">
							<div class="about-heading">
								<h4>Restaurant Changes</h4>
							</div>
							<div class="about-details">
								<div class="restaurant-detail-bg">
									<form action="" method="POST" class="form-container" enctype="multipart/form-data">
										<div class="information">
											<h4>Basic Info</h4>
											<div class="form-group">
												<label for="logo-restaurant">Restaurant Logo *</label>
												<input class="field-input file-input" id="logo-restaurant" type="file" name="logo" placeholder="Enter your restaurant logo">
												<div class="overlay-input field-input">
													<i class="fa fa-picture-o" aria-hidden="true"></i> Add a restaurant logo
												</div>
											</div>
											<div class="form-group">
												<label for="logo-restaurant">Restaurant Photos *</label>
												<input class="field-input file-input" id="photos-restaurant" type="file" name="photos" multiple>
												<div class="overlay-input field-input">
													<i class="fa fa-picture-o" aria-hidden="true"></i> Add restaurants photos
												</div>
											</div>
											<div class="form-group">
												<label for="name-restaurant">Restaurant Name *</label>
												<input class="field-input" id="name-restaurant" type="text" name="name" placeholder="Enter your restaurant name">
											</div>
											<div class="form-group">
												<label for="search-city">City *</label>
												<input class="field-input" id="search-city" type="search" name="city" placeholder="Search city">
											</div>
											<div class="form-group">
												<div class="radio-title">
													Are you the Owner or Manager of the Place?
												</div>
												<div class="filter-radio">
													<div class="radio-item">
														<input type="radio" id="owner" name="position" value="owner">
														<div class="state">
															<label for="owner">I am a Owner</label>
														</div>
													</div>
													<div class="radio-item">
														<input type="radio" id="manager" name="position" value="manager">
														<div class="state">
															<label for="manager">I’m the manager</label>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="information">
											<h4>Contact info</h4>
											<div class="form-group">
												<label for="email">Email Address *</label>
												<input class="field-input" id="email" type="email" name="email" placeholder="Enter your email">
											</div>
											<div class="form-group">
												<label for="phoneNumber">Phone Number *</label>
												<input class="field-input" id="phoneNumber" type="tel" name="phoneNumber" placeholder="Owner / Manager Phone Number">
											</div>
											<div class="form-group">
												<label for="phoneRestaurant">Restaurant Phone Number *</label>
												<input class="field-input" type="tel" name="phoneRestaurant" id="phoneRestaurant" placeholder="Restaurant Phone Number">
											</div>
											<div class="form-group">
												<label for="websiteRestaurant">Restaurant Website *</label>
												<input class="field-input" type="tel" name="website" id="websiteRestaurant" placeholder="Restaurant Wedsite">
											</div>
											<div class="form-group">
												<div class="radio-title">
													Open Status?
												</div>
												<div class="filter-radio">
													<div class="radio-item">
														<input type="radio" id="already" name="open" value="already">
														<div class="state">
															<label for="already">This place already open</label>
														</div>
													</div>
													<div class="radio-item">
														<input type="radio" id="soon" name="open" value="soon">
														<div class="state">
															<label for="soon">This place is opening soon</label>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="information">
											<h4>Timing</h4>
											<div class="form-group">
												<div class="radio-title">
													Add time *
												</div>
												<div class="filter-radio">
													<div class="radio-item">
														<input type="checkbox" id="monday" name="days[]" value="monday">
														<div class="state">
															<label for="monday">Mon</label>
														</div>
													</div>
													<div class="radio-item">
														<input type="checkbox" id="tuesday" name="days[]" value="tuesday">
														<div class="state">
															<label for="tuesday">Tue</label>
														</div>
													</div>
													<div class="radio-item">
														<input type="checkbox" id="webnesday" name="days[]" value="webnesday">
														<div class="state">
															<label for="webnesday">Web</label>
														</div>
													</div>
													<div class="radio-item">
														<input type="checkbox" id="thursday" name="days[]" value="thursday">
														<div class="state">
															<label for="thursday">Thu</label>
														</div>
													</div>
													<div class="radio-item">
														<input type="checkbox" id="friday" name="days[]" value="friday">
														<div class="state">
															<label for="friday">Fri</label>
														</div>
													</div>
													<div class="radio-item">
														<input type="checkbox" id="saturday" name="days[]" value="saturday">
														<div class="state">
															<label for="saturday">Sat</label>
														</div>
													</div>
													<div class="radio-item">
														<input type="checkbox" id="sunday" name="days[]" value="sunday">
														<div class="state">
															<label for="sunday">Sun</label>
														</div>
													</div>
													<div class="radio-item">
														<input type="checkbox" id="select-all" value="select-all">
														<div class="state">
															<label for="select-all">All</label>
														</div>
													</div>
													<input type="hidden" name="openHour" class="input-hidden-open">
													<input type="hidden" name="closeHour" class="input-hidden-close">
												</div>
											</div>
											<div class="container" style="padding-left: 0;">
												<div class="row">
													<div class="col col-6 col-sm-4">
														<div class="form-group">
															<div class="radio-title">From *</div>
															<button type="button" class="dropdown-btn select-time-from"></button>
															<i class="fa fa-caret-down icon-select" aria-hidden="true"></i>
															<div class="dropdown-menu">
																<div class="dropdown-item">12.00 AM</div>
																<div class="dropdown-item">01.00 AM</div>
																<div class="dropdown-item">02.00 AM</div>
																<div class="dropdown-item">03.00 AM</div>
																<div class="dropdown-item">04.00 AM</div>
																<div class="dropdown-item">05.00 AM</div>
																<div class="dropdown-item">06.00 AM</div>
																<div class="dropdown-item">07.00 AM</div>
																<div class="dropdown-item">08.00 AM</div>
																<div class="dropdown-item">09.00 AM</div>
																<div class="dropdown-item">10.00 AM</div>
																<div class="dropdown-item">11.00 AM</div>
															</div>
														</div>
													</div>
													<div class="col col-6 col-sm-4">
														<div class="form-group">
															<div class="radio-title">To *</div>
															<button type="button" class="dropdown-btn select-time-to"></button>
															<i class="fa fa-caret-down icon-select" aria-hidden="true"></i>
															<div class="dropdown-menu">
																<div class="dropdown-item">12.00 PM</div>
																<div class="dropdown-item">01.00 PM</div>
																<div class="dropdown-item">02.00 PM</div>
																<div class="dropdown-item">03.00 PM</div>
																<div class="dropdown-item">04.00 PM</div>
																<div class="dropdown-item">05.00 PM</div>
																<div class="dropdown-item">06.00 PM</div>
																<div class="dropdown-item">07.00 PM</div>
																<div class="dropdown-item">08.00 PM</div>
																<div class="dropdown-item">09.00 PM</div>
																<div class="dropdown-item">10.00 PM</div>
																<div class="dropdown-item">11.00 PM</div>
															</div>
														</div>
													</div>
													<div class="col col-12 col-sm-4" style="align-self: flex-end;">
														<button type="button" class="my-btn add-time-btn">Add Time</button>
													</div>
												</div>
											</div>
											<div class="list-times">
											</div>
										</div>
										<div class="information">
											<h4>Location</h4>
											<div class="form-group">
												<label for="address-restaurant">Enter Address *</label>
												<input class="field-input" type="search" name="address" id="address-restaurant" placeholder="Enter Your Address Restaurant">
											</div>
										</div>
										<div class="information">
											<h4>Characteristics</h4>
											<div class="form-group">
												<div class="radio-title">
													Services *
												</div>
												<div class="filter-radio">
													<div class="radio-item">
														<input type="checkbox" id="breakfast-ck" name="services[]" value="breakfast">
														<div class="state">
															<label for="breakfast-ck">Breakfast</label>
														</div>
													</div>
													<div class="radio-item">
														<input type="checkbox" id="lunch-ck" name="services[]" value="lunch">
														<div class="state">
															<label for="lunch-ck">Lunch</label>
														</div>
													</div>
													<div class="radio-item">
														<input type="checkbox" id="dinner-ck" name="services[]" value="dinner">
														<div class="state">
															<label for="dinner-ck">Dinner</label>
														</div>
													</div>
													<div class="radio-item">
														<input type="checkbox" id="cafe-ck" name="services[]" value="cafe">
														<div class="state">
															<label for="cafe-ck">Cafe's</label>
														</div>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="checkboxTitle">
													Alcohol *
												</div>
												<div class="filter-radio">
													<div class="radio-item">
														<input type="radio" id="serve" name="alcohol" value="serve">
														<div class="state">
															<label for="serve">Serve</label>
														</div>
													</div>
													<div class="radio-item">
														<input type="radio" id="not-serve" name="alcohol" value="not-serve">
														<div class="state">
															<label for="not-serve">Not Serve</label>
														</div>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="checkboxTitle">
													Seating *
												</div>
												<div class="filter-radio">
													<div class="radio-item">
														<input type="radio" id="available" name="seating" value="available">
														<div class="state">
															<label for="available">Available</label>
														</div>
													</div>
													<div class="radio-item">
														<input type="radio" id="not-vailable" name="seating" value="not-vailable">
														<div class="state">
															<label for="not-vailable">Not Available</label>
														</div>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="radio-title">Cuisines *</div>
												<input type="hidden" name="cuisine" class="input-hidden-cuisine">
												<button type="button" class="dropdown-btn btn-cuisine"></button>
												<i class="fa fa-caret-down icon-select" aria-hidden="true"></i>
												<div class="dropdown-menu">
													<div class="dropdown-item">Pizza</div>
													<div class="dropdown-item">Cakes & Desserts</div>
													<div class="dropdown-item">Sushi</div>
													<div class="dropdown-item">Fast Food</div>
													<div class="dropdown-item">Fish</div>
													<div class="dropdown-item">Luch</div>
													<div class="dropdown-item">Coffee Cafe's</div>
													<div class="dropdown-item">Cheses Tika</div>
													<div class="dropdown-item">Samosa and Pakodas</div>
													<div class="dropdown-item">Drinks & Beer</div>
												</div>
											</div>
											<div class="form-group">
												<div class="radio-title">Tags *</div>
												<input type="hidden" name="tag" class="input-hidden-tag">
												<button type="button" class="dropdown-btn btn-tag"></button>
												<i class="fa fa-caret-down icon-select" aria-hidden="true"></i>
												<div class="dropdown-menu">
													<div class="dropdown-item">Breakfast</div>
													<div class="dropdown-item">Lunch</div>
													<div class="dropdown-item">Dinner</div>
													<div class="dropdown-item">Fast Food</div>
													<div class="dropdown-item">Non Veg</div>
													<div class="dropdown-item">Beer Bar</div>
												</div>
											</div>
										</div>
										<div class="information">
											<h4>Payment</h4>
											<div class="form-group">
												<div class="radio-title">
													Payment method *
												</div>
												<div class="filter-radio">
													<div class="radio-item">
														<input type="radio" id="cash-only" name="payment" value="cash-only">
														<div class="state">
															<label for="cash-only">Cash Only</label>
														</div>
													</div>
													<div class="radio-item">
														<input type="radio" id="cash-or-cards" name="payment" value="cash-or-cards">
														<div class="state">
															<label for="cash-or-cards">Cash/cards</label>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="information">
											<div class="sb-add-restaurant">
												<button type="submit" class="my-btn">Update Restaurant</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane">
						<div id="photos">
							<div class="photos-heading">
								<h4>Photos</h4>
							</div>
							<div class="gallery">
							</div>
						</div>
					</div>
					<div class="tab-pane">
						<div id="request-orders">
							<div class="my-orders-heading">
								<h4>My orders</h4>
							</div>
							<div class="table-responsive">
								<div class="table-heading">
									<div class="td-heading td-1">Meal</div>
									<div class="td-heading td-2">Qty</div>
									<div class="td-heading td-3">Price</div>
									<div class="td-heading td-4">Action</div>
								</div>
								<div class="table-body">
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane">
						<div id="orders-history">
							<div class="orders-history-heading">
								<h4>Orders History</h4>
							</div>
							<div class="table-responsive">
								<div class="table-heading">
									<div class="td-heading td-1">Meal</div>
									<div class="td-heading td-2">Qty</div>
									<div class="td-heading td-3">Price</div>
									<div class="td-heading td-4">Action</div>
								</div>
								<div class="table-body">
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane">
						<div id="my-videos">
							<div class="my-videos-heading">
								<h4>Videos</h4>
							</div>
							<div class="gallery">
								{{!-- <div class="gallery-item">
									<img src="{{ this.thumbnail }}" alt="img item">
									<a href="/recipe/recipe-details">
										<i class="fa fa-play-circle" aria-hidden="true"></i>
									</a>
								</div> --}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col col-12 col-md-0 col-lg-3">
				<div class="suggested-peoples">
					<div class="sd-title">
						<h3>Suggested Peoples</h3>
					</div>
					<div class="suggestions-list">
						<div class="suggestion-usd">
							<a href="#">
								<img src="/images/user-1.png" alt="user item">
							</a>
							<div class="sgt-text">
								<a href="#">Johnson</a>
								<span>
									7 Reviews
								</span>
							</div>
							<button>
							<i class="fa fa-user-plus" aria-hidden="true"></i>
							</button>
						</div>
						<div class="suggestion-usd">
							<a href="#">
								<img src="/images/user-2.png" alt="user item">
							</a>
							<div class="sgt-text">
								<a href="#">Jassia William</a>
								<span>
									5 Reviews
								</span>
							</div>
							<button>
							<i class="fa fa-user-plus" aria-hidden="true"></i>
							</button>
						</div>
						<div class="suggestion-usd">
							<a href="#">
								<img src="/images/user-3.png" alt="user item">
							</a>
							<div class="sgt-text">
								<a href="#">Rock</a>
								<span>
									0 Reviews
								</span>
							</div>
							<button>
							<i class="fa fa-user-plus" aria-hidden="true"></i>
							</button>
						</div>
						<div class="suggestion-usd">
							<a href="#">
								<img src="/images/user-4.png" alt="user item">
							</a>
							<div class="sgt-text">
								<a href="#">Davil Smith</a>
								<span>
									10 Reviews
								</span>
							</div>
							<button>
							<i class="fa fa-user-plus" aria-hidden="true"></i>
							</button>
						</div>
						<div class="suggestion-usd">
							<a href="#">
								<img src="/images/user-5.png" alt="user item">
							</a>
							<div class="sgt-text">
								<a href="#">Ricky Doe</a>
								<span>
									3 Reviews
								</span>
							</div>
							<button>
							<i class="fa fa-user-plus" aria-hidden="true"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="list-photos">
					<div class="photos-title">
						<h3>Photos</h3>
					</div>
					<div class="pf-gallery">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- all profile details ends -->