<!-- title bar starts -->
<section class="title-bar">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-md-6">
				<div class="left-title-text">
					<h3>Restaurant Detail View</h3>
				</div>
			</div>
			<div class="col col-12 col-md-6">
				<div class="right-title-text">
					<div class="breadcrumb">
						<div class="breadcrumb-item">
							<a href="/">Home</a>
						</div>
						<div class="breadcrumb-item">
							<a href="/partner">Partners</a>
						</div>
						<div class="breadcrumb-item active">Restaurant Detail View
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- title bar ends -->
<!-- restaurant detail view starts -->
<section class="restaurant-detail-view">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-lg-9">
				<div class="slider">
					<div class="main-img">
					</div>
					<div class="nav-img">
					</div>
				</div>
				<div class="profile-own">
					<div class="user-details">
						<div class="user-img">
							<a href="/user-profile-view">
								<img alt="own">
							</a>
						</div>
						<div class="name-location">
							<a href="/user-profile-view">
								<h4></h4>
							</a>
							<p></p>
						</div>
					</div>
					<div class="right-side-btns">
						<div class="online-offline">
							<p>
								<span><i class="fa fa-circle" aria-hidden="true"></i></span>
								Online
							</p>
						</div>
						<a href="#" class="my-btn">
							<i class="fa fa-phone" aria-hidden="true"></i>
							Call
						</a>
						<a href="#" class="my-btn">
							Order Now
						</a>
					</div>
				</div>
				<div class="info-restaurant">
					<div class="restaurant-details">
						<div class="restaurant-img">
							<a href="/user-profile-view">
								<img alt="own">
							</a>
						</div>
						<div class="name-location">
							<a href="/user-profile-view">
								<h4></h4>
							</a>
							<p>
								<i class="fa fa-map-marker" aria-hidden="true"></i>
								<span class="locationDet"></span>
							</p>
						</div>
					</div>
					<div class="right-side-btns">
						<div class="become-partners">
							<a href="#" class="my-btn">Partner</a>
						</div>
						<div class="rating">
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star-o" aria-hidden="true"></i>
							<span>4.0 / 5.0</span>
						</div>
					</div>
				</div>
				<div class="published">
					<div class="published-left">
						<span>
							<i class="fa fa-calendar-check-o" aria-hidden="true"></i>
							Member since August 2021
						</span>
					</div>
					<div class="published-right">
						<div class="bookmark">
							<i class="fa fa-bookmark-o" aria-hidden="true"></i>
							Bookmark
						</div>
						<div class="add-review">
							<i class="fa fa-pencil" aria-hidden="true"></i>
							Add review
						</div>
						<div class="share">
							<span class="btn-share">
								<i class="fa fa-share-alt" aria-hidden="true"></i>
								Share
							</span>
							<div class="share-socials">
								<a href="#">
									<i class="fa fa-facebook" aria-hidden="true"></i>
									Facabook
								</a>
								<a href="#">
									<i class="fa fa-twitter" aria-hidden="true"></i>
									Twitter
								</a>
								<a href="#">
									<i class="fa fa-google" aria-hidden="true"></i>
									Goggle
								</a>
								<a href="#">
									<i class="fa fa-instagram" aria-hidden="true"></i>
									Instagram
								</a>
								<a href="#">
									<i class="fa fa-linkedin" aria-hidden="true"></i>
									Linkedin
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="all-tab">
					<div class="nav-tab">
						<div class="nav-item active" data-id="overview">
							<a href="#">Overview</a>
						</div>
						<div class="nav-item" data-id="menu">
							<a href="#">Menu</a>
						</div>
						<div class="nav-item" data-id="order-online">
							<a href="#">Order Online</a>
						</div>
						<div class="nav-item" data-id="reviews">
							<a href="#">Reviews</a>
						</div>
						<div class="nav-item" data-id="book-a-table">
							<a href="#">Book a table</a>
						</div>
						<div class="nav-item" data-id="photos">
							<a href="#">Photos</a>
						</div>
					</div>
				</div>
				<div class="tab-content">
					<div class="tab-pane active" id="overview">
						<div class="restaurant-detail-bg">
							<h4>About Restaurant</h4>
							<div class="overview-details">
								<div class="container">
									<div class="row">
										<div class="col col-12 col-md-6">
											<div class="overview-left">
												<ul class="view-detail">
													<li>Name</li>
													<li>Owner</li>
													<li>Phone</li>
													<li>Restaurant</li>
													<li>Email</li>
													<li>Cuisines</li>
												</ul>
												<ul class="view-detail">
													<li>:</li>
													<li>:</li>
													<li>:</li>
													<li>:</li>
													<li>:</li>
													<li>:</li>
												</ul>
												<ul class="view-detail view-detail-info">
													<li class="rest-name"></li>
													<li class="rest-own"></li>
													<li class="number-phone"></li>
													<li class="rest-phone"></li>
													<li class="rest-email"></li>
													<li class="rest-cuisine"></li>
												</ul>
											</div>
										</div>
										<div class="col col-12 col-md-6">
											<div class="overview-right">
												<ul class="view-detail">
													<li>Opening</li>
													<li>Status</li>
													<li>City</li>
													<li>Address</li>
													<li>Featured</li>
													<li>Discount</li>
												</ul>
												<ul class="view-detail">
													<li>:</li>
													<li>:</li>
													<li>:</li>
													<li>:</li>
													<li>:</li>
													<li>:</li>
												</ul>
												<ul class="view-detail view-detail-info">
													<li><span class="rest-open"></span> to <span class="rest-close"></span> (Mon-Sun)</li>
													<li class="rest-status"></li>
													<li class="rest-city"></li>
													<li class="rest-address"></li>
													<li>Treading</li>
													<li class="rest-discout"></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="restaurant-detail-bg">
							<h4>Description</h4>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vehicula ut nisl id aliquam. Phasellus vestibulum ante eget aliquet sodales. Aliquam erat enim, venenatis eget fringilla ac, euismod ac sapien. Sed tincidunt diam eget orci finibus blandit. Sed eget interdum quam. Proin arcu dolor, eleifend ut commodo sed, accumsan et ipsum. Mauris laoreet bibendum dolor, at vestibulum neque facilisis sed. Donec a eros quam. Cras lobortis, nunc a dignissim maximus, leo nunc imperdiet tellus, sed viverra felis elit ac arcu. Sed et sapien venenatis leo ullamcorper finibus eu id lectus. Aliquam tristique pulvinar vehicula.
							</p>
						</div>
						<div class="ads-offer">
							<div class="offer-banner">
								<h2>10% off</h2>
								<p>on all orders get the code : 156CD85</p>
							</div>
							<div class="offer-order">
								<a href="#" class="my-btn">Order Now</a>
							</div>
						</div>
					</div>
					<!-- menu -->
					<div class="tab-pane" id="menu">
						<div class="restaurant-detail-bg">
							<h4>Restaurant Menu Card</h4>
							<p>2 images</p>
							<div class="restaurant-menu-card">
								<div class="all-tab-small">
									<div class="nav-tab">
										<div class="nav-item-small" data-id="top-img">
											<img src="/images/menu-top.jpg" alt="menu img">
										</div>
										<div class="nav-item-small" data-id="bottom-img">
											<img src="/images/menu-bottom.jpg" alt="menu img">
										</div>
									</div>
								</div>
								<div class="tab-content-small">
									<div class="tab-pane-small active" id="top-img">
										<img src="/images/menu-top-show.jpg" alt="main img menu">
									</div>
									<div class="tab-pane-small" id="bottom-img">
										<img src="/images/menu-bottom-show.jpg" alt="main img menu">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="order-online">
						<div class="restaurant-detail-bg">
							<h4>Restaurant Order Online Meals</h4>
							<div class="order-tabs">
								<div class="nav-tab-order">
									<div class="meal-icon-tab active" data-id="breakfast">
										<img src="/images/meal-1.svg" alt="nav tab order">
										<p>Breakfast</p>
									</div>
									<div class="meal-icon-tab" data-id="lunch">
										<img src="/images/meal-2.svg" alt="nav tab order">
										<p>Lunch</p>
									</div>
									<div class="meal-icon-tab" data-id="dinner">
										<img src="/images/meal-3.svg" alt="nav tab order">
										<p>Dinner</p>
									</div>
									<div class="meal-icon-tab" data-id="cafe">
										<img src="/images/meal-4.svg" alt="nav tab order">
										<p>Cafe's</p>
									</div>
									<div class="meal-icon-tab" data-id="delivery">
										<img src="/images/meal-5.svg" alt="nav tab order">
										<p>Delivery</p>
									</div>
								</div>
							</div>
							<div class="tab-content-order">
								<div class="tab-pane-order active" id="breakfast">
									<h6>Breakfast Meals</h6>
									<div class="all-meals">
										<div class="container">
											<div class="row">
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane-order" id="lunch">
									<h6>Lunch Meals</h6>
									<div class="all-meals">
										<div class="container">
											<div class="row">
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane-order" id="dinner">
									<h6>Dinner Meals</h6>
									<div class="all-meals">
										<div class="container">
											<div class="row">
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane-order" id="cafe">
									<h6>Cafe's</h6>
									<div class="all-meals">
										<div class="container">
											<div class="row">
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane-order" id="delivery">
									<h6>Delivery Meals</h6>
									<div class="all-meals">
										<div class="container">
											<div class="row">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="reviews">
						<div class="comment-post">
							<div class="post-items">
								<div class="img-user">
									<i class="fa fa-user" aria-hidden="true"></i>
								</div>
								<div class="select-rating">
									<h4>Your Rating: </h4>
									<div class="rating">
										<i class="fa fa-star" aria-hidden="true" data-id="1"></i>
										<i class="fa fa-star" aria-hidden="true" data-id="2"></i>
										<i class="fa fa-star" aria-hidden="true" data-id="3"></i>
										<i class="fa fa-star" aria-hidden="true" data-id="4"></i>
										<i class="fa fa-star" aria-hidden="true" data-id="5"></i>
									</div>
								</div>
								<form action="#" method="post">
									<input type="text" class="post-input" name="postComment" placeholder="Please describe the reason for your rating to help the author">
									<input type="submit" value="Save Review" class="my-btn">
								</form>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="book-a-table">
						<div class="restaurant-detail-bg">
							<h4>Book a table</h4>
							<form action="#" class="book-form">
								<div class="form-group">
									<label for="select-date">Date</label>
									<input type="date" name="date" id="select-date" placeholder="Enter your date">
								</div>
								<div class="form-group">
									<label for="select-name">Name</label>
									<input type="text" name="name" id="select-name" placeholder="Enter your name">
								</div>
								<div class="form-group">
									<label>Time</label>
									<button id="select-time">Select time</button>
									<i class="fa fa-caret-down" aria-hidden="true"></i>
									<ul class="dropdown-menu">
										<li class="active">
											<span class="text">Select time</span>
										</li>
										<li>
											<span class="text">9AM - 10AM</span>
										</li>
										<li>
											<span class="text">10AM - 11PM</span>
										</li>
										<li>
											<span class="text">11PM - 12PM</span>
										</li>
										<li>
											<span class="text">12AM - 13PM</span>
										</li>
									</ul>
								</div>
								<div class="form-group">
									<label for="select-email">Email</label>
									<input type="email" name="email" id="select-email" placeholder="Enter your email">
								</div>
								<div class="form-group">
									<label>Member</label>
									<button id="select-member">Select member</button>
									<i class="fa fa-caret-down" aria-hidden="true"></i>
									<ul class="dropdown-menu">
										<li class="active">
											<span class="text">Select member</span>
										</li>
										<li>
											<span class="text">1</span>
										</li>
										<li>
											<span class="text">2</span>
										</li>
										<li>
											<span class="text">3</span>
										</li>
										<li>
											<span class="text">4</span>
										</li>
									</ul>
								</div>
								<div class="form-group">
									<label for="select-phone">Phone</label>
									<input type="tel" name="phone" id="select-phone" placeholder="Enter your phone">
								</div>
								<div class="form-group form-group-message">
									<label for="message">Messages</label>
									<textarea placeholder="Messages" id="message"></textarea>
								</div>
								<div class="form-group">
									<input type="submit" value="Request Booking">
								</div>
							</form>
						</div>
					</div>
					<div class="tab-pane" id="photos">
						<div class="restaurant-detail-bg">
							<h4>Photos</h4>
							<p class="number-gallery"></p>
							<div class="gallery">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col col-12 col-lg-3">
				<div class="result-popular">
					<div class="show-map-result">
						<a href="#">Get Direction</a>
					</div>
					<div class="popular-restaurants">
						<h4>Popular Restaurents </h4>
					<ul class="list-pop-res"></ul>
				</div>
				<div class="google-ads">
					<a href="#">
						<img src="/images/google-ad.jpg" alt="google ads">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
<!-- restaurant detail view ends -->