<!-- title bar starts -->
<section class="title-bar">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-md-6">
				<div class="left-title-text">
					<h3>Sign up</h3>
				</div>
			</div>
			<div class="col col-12 col-md-6">
				<div class="right-title-text">
					<div class="breadcrumb">
						<div class="breadcrumb-item">
							<a href="/">Home</a>
						</div>
						<div class="breadcrumb-item active">Sign up
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- title bar ends -->
<!-- form login starts -->
<section class="signup">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-lg-10">
				<div class="signup-container">
					<div class="background-signup"></div>
					<div class="content">
						<div class="form">
							<form action="#" method="post">
								<div class="logo-form">
									<a href="/">
										<img src="/images/logo.svg" alt="logo">
									</a>
								</div>
								<div class="heading">
									<h3>Create an account</h3>
								</div>
								<div class="form-group">
									<div class="icon-check">
										<i class="fa fa-check-circle first-icon" aria-hidden="true"></i>
										<i class="fa fa-exclamation-circle last-icon" aria-hidden="true"></i>
									</div>
									<input type="text" name="name" id="full-name" placeholder="Enter Your Full Name">
									<div class="nofitication">
										<span></span>
									</div>
								</div>
								<div class="form-group">
									<div class="icon-check">
										<i class="fa fa-check-circle first-icon" aria-hidden="true"></i>
										<i class="fa fa-exclamation-circle last-icon" aria-hidden="true"></i>
									</div>
									<input type="email" name="email" id="email" placeholder="Enter Your Email">
									<div class="nofitication">
										<span></span>
									</div>
								</div>
								<div class="form-group">
									<div class="icon-check">
										<i class="fa fa-check-circle first-icon" aria-hidden="true"></i>
										<i class="fa fa-exclamation-circle last-icon" aria-hidden="true"></i>
									</div>
									<input type="password" name="password" id="password" placeholder="Enter Your Password">
									<div class="nofitication">
										<span></span>
									</div>
								</div>
								<div class="form-group last-form-group">
									<div class="icon-check">
										<i class="fa fa-check-circle first-icon" aria-hidden="true"></i>
										<i class="fa fa-exclamation-circle last-icon" aria-hidden="true"></i>
									</div>
									<input type="password" name="repeat-password" id="repeat-password" placeholder="Repeat Password">
									<div class="nofitication">
										<span></span>
									</div>
								</div>
								<div class="agree">
									<input type="checkbox" name="agree" id="agree">
									<label for="agree">
										I agree to Natto's
										<a href="#">Terms</a> and
										<a href="#">Services</a>
									</label>
								</div>
								<button type="submit" class="my-btn">
								Sign up
								</button>
								<div class="have-accout">
									<p>
										If you have an account?
										<a href="/login">Login</a>
									</p>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- form login ends -->