<!-- title bar starts -->
<section class="title-bar">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-md-6">
				<div class="left-title-text">
					<h3>Upload Video</h3>
				</div>
			</div>
			<div class="col col-12 col-md-6">
				<div class="right-title-text">
					<div class="breadcrumb">
						<div class="breadcrumb-item">
							<a href="/">Home</a>
						</div>
						<div class="breadcrumb-item active">Upload Video
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- title bar ends -->
<!-- upload recipe video starts -->
<section class="upload-video">
	<div class="container">
		<div class="row">
			<div class="col col-12">
				<div class="heading">
					<h1>Upload Video</h1>
				</div>
			</div>
		</div>
		<form action="/user/create-video" method="POST" enctype="multipart/form-data">
			<div class="row">
				<div class="col col-sm-10 col-md-8 col-lg-6">
					<div class="form-container">
						<div class="form-group">
							<label for="title-video">Title</label>
							<input class="upload-video-form" type="text" name="title" id="title-video" placeholder="Enter your title video">
						</div>
						<div class="form-group">
							<label for="description-video">Description</label>
							<textarea class="textarea-form" name="description" id="description-video" placeholder="Enter your description video"></textarea>
						</div>
						<div class="form-group">
							<label for="tags-video">Type</label>
							<input class="upload-video-form" type="search" name="tags" id="tags-video" placeholder="Tags (e.g. Food, Burgur, Noodles)">
						</div>
						<div class="form-group">
							<label for="link-video">Link video</label>
							<input class="upload-video-form" type="search" name="link" id="link-video" placeholder="Enter your link video on youtube">
						</div>
						<div class="form-group">
							<label for="file-video">Video Thumbnail</label>
							<div class="box">
								<input class="upload-file-form" type="file" id="thumbnail-video" name="thumbnail">
								<label for="file-video" class="my-btn">Custom Thumbnail</label>
								<span>No choose file</span>
								<p>(Maximum file size is 1 mb)</p>
							</div>
						</div>
						<div class="sends">
							<input type="submit" class="my-btn" value="Upload Now">
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>
<!-- upload recipe video ends -->
<!-- over restaurents starts -->
<section class="over-restaurants">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-lg-9">
				<h2>Choose From Over 15,000 Restaurants</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam augue justo, euismod at purus quis, dictum iaculis lorem. Sed dictum, dolor sit amet feugiat posuere, ante arcu iaculis tortor</p>
			</div>
			<div class="col col-12 col-lg-3">
				<div class="view-restaurants">
					<a href="/views/partner">View Restaurants</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- over restaurents ends -->