<div class="footer">
	<div class="footer-main">
		<div class="container">
			<div class="row">
				<div class="col col-12 col-md-12 col-lg-3">
					<div class="img-logo">
						<a href="index.html">
							<img src="/images/logo.png" alt="Logo">
						</a>
					</div>
					<p>
						FoodSonet provides a social network that helps connect people with culinary interests and
						bridge the
						gap between restaurants
						and customers.
					</p>
				</div>
				<div class="col col-6 col-lg-3">
					<div class="link-title">
						<h4>About FoodSonet</h4>
						<ul class="links">
							<li><a href="/about-us">About Us</a></li>
							<li><a href="#">Blog</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col col-6 col-lg-3">
					<div class="link-title">
						<h4>Business</h4>
						<ul class="links">
							<li><a href="/user/restaurant/add-restaurant">Add a Restaurant</a></li>
							<li><a href="/user/upload-video">Upload Video</a></li>
							<li><a href="/views/all-meals">Orders</a></li>
						</ul>
					</div>
				</div>
				<div class="col col-12 col-sm-12 col-lg-3">
					<div class="link-title">
						<h4>Partner With Us</h4>
						<ul class="links">
							<li><a href="#">For Restaurants</a></li>
							<li><a href="#">For Driver</a></li>
						</ul>
						<div class="social-btns">
							<a href="#">
								<div class="social-btn"><i class="fa fa-facebook" aria-hidden="true"></i></div>
							</a>
							<a href="#">
								<div class="social-btn"><i class="fa fa-twitter" aria-hidden="true"></i></div>
							</a>
							<a href="#">
								<div class="social-btn"><i class="fa fa-instagram" aria-hidden="true"></i></div>
							</a>
							<a href="#">
								<div class="social-btn"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							</a>
							<a href="#">
								<div class="social-btn"><i class="fa fa-youtube-play" aria-hidden="true"></i></div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="privacy-cards">
		<div class="container">
			<div class="row">
				<div class="col col-12 col-md-6">
					<div class="privacy-terms">
						<ul>
							<li><a href="#">Privacy</a></li>
							<li><a href="#">Terms & Conditions</a></li>
							<li><a href="#">Sitemap</a></li>
						</ul>
					</div>
				</div>
				<div class="col col-12 col-md-6">
					<div class="cards-img">
						<img src="/images/cards.png" alt="Cards">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col col-12">
					<div class="copyright-text">
						<i class="fa fa-copyright" aria-hidden="true"></i>
						Copyright 2019
						<a href="index.html" style="color: orange;">Natto</a>
						by Gambol. All Rights Reserved.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>