<div class="loading">
    <div class="loading-items">
      <img class="animation-loading-1 loading-item" src="/images/loading.gif" alt="Loading">
      <img class="animation-loading-2 loading-item" src="/images/loading.gif" alt="Loading">
      <img class="animation-loading-3 loading-item" src="/images/loading.gif" alt="Loading">
      <img class="animation-loading-4 loading-item" src="/images/loading.gif" alt="Loading">
    </div>
  </div>
<header id="header">
      <!-- topbar starts -->
      <div class="topbar">
        <div class="container">
          <div class="row">
            <div class="col col-12 col-lg-4">
              <!-- topbar-left starts -->
              <div class="topbar-left text-center">
                <a href="/contact">Contact</a>
                <a href="/about-us">About Us</a>
                <a href="/blog">Blog</a>
                <a href="/partner">Partner</a>
              </div>
              <!-- topbar-left ends -->
            </div>
            <div class="col col-12 col-lg-8">
              <!-- topbar-right starts -->
              <div class="topbar-right">
                <div class="topbar-item">
                  <a href="#">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    Table Bookingds
                  </a>
                </div>
                <div class="topbar-item">
                  <a href="#">
                    <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                    Bookmark
                    <span class="number-topbar">2</span>
                  </a>
                </div>
                <div class="topbar-item">
                  <a href="#">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    Food Orders
                    <span class="number-topbar">3</span>
                  </a>
                </div>
                <div class="topbar-item">
                  <div class="dropdown">
                    <a href="#">
                      <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                      Trung Hien
                      <i class="fa fa-sort-desc" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">My Profile</a></li>
                      <li><a class="dropdown-item" href="#">Bookmarks</a></li>
                      <li><a class="dropdown-item" href="#">Bookingds Tables</a></li>
                      <li><a class="dropdown-item" href="#">Find Friends</a></li>
                      <li><a class="dropdown-item" href="#">Settings</a></li>
                      <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- topbar-right ends -->
            </div>
          </div>
        </div>
      </div>
      <!-- topbar ends -->
      <!-- menu starts -->
      <div class="menu">
        <nav class="navbar">
          <div class="container">
            <div class="row my-row">
              <div class="col col-3 col-lg-3">
                <div class="nav-bar-start">
                  <a class="navbar-brand" href="/">
                    <img src="/images/logo.svg" alt="Logo">
                  </a>
                </div>
              </div>
              <div class="col col-9 col-lg-9 my-col">
                <div class="container-navbar-center">
                  <ul class="navbar-center">
                    <li class="nav-item">
                      <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/orders">How To Orders?</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/recipe">Recipes</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/partner">Partners</a>
                    </li>
                    <li class="nav-item">
                      <div class="dropdown">
                        <a href="#" class="nav-link">
                          Pages
                          <i class="fa fa-sort-desc" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="/user/login">Login now</a></li>
                          <li><a class="dropdown-item" href="/user/signup">Sign up</a></li>
                          <li><a class="dropdown-item" href="/about-us">About us</a></li>
                          <li><a class="dropdown-item" href="/upload-video">Upload video</a></li>
                          <li><a class="dropdown-item" href="/partner/restaurant-detail-view">Restaurant detail view</a></li>
                          <li><a class="dropdown-item" href="/my-profile">My profile</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/browse-place" tabindex="-1" aria-disabled="true">Browse Places</a>
                    </li>
                  </ul>
                </div>
                <div class="navbar-end">
                  <a href="#" class="btn-partner">Become a Partner</a>
                  <a href="#" class="nav-link btn-bars">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="nav-link">
                    <i class="fa fa-bell nofication" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="nav-link">
                    <i class="fa fa-search search-menu" aria-hidden="true"></i>
                    <i class="fa fa-times hidden-menu" aria-hidden="true"></i>
                    <form action="#" method="get">
                      <input type="search" name="search-food" id="search-food" placeholder="e.g eggs">
                      <button type="button" class="btn-sb-food">
                      <i class="fa fa-search" aria-hidden="true"></i>
                      </button>
                    </form>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <!-- menu ends -->
    </header>